<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="outpolic.admin.loginHistory.mapper.AdminLoginHistoryMapper">	
	  <resultMap id="loginHistoryResultMap" type="outpolic.admin.loginHistory.dto.AdminLoginHistoryDTO">
	    <id property="loginCode" column="lh_cd"/>
	    <result property="memberCode" column="mbr_cd"/>
	    <result property="loginTime" column="lh_in_ymdt"/>
	    <result property="logoutTime" column="lh_out_ymdt"/>
	    <result property="ip" column="lh_ip"/>
	    <result property="adminCode" column="adm_cd"/>
	    <result property="modifiedTime" column="lh_mdfcn_ymdt"/>
	  </resultMap>
  	<select id="getAllHistory" resultMap="loginHistoryResultMap">
	  SELECT 
	    lh_cd AS loginCode,
	    mbr_cd AS memberCode,
	    lh_in_ymdt AS loginTime,
	    lh_out_ymdt AS logoutTime,
	    lh_ip AS ip,
	    adm_cd AS adminCode,
	    lh_mdfcn_ymdt AS modifiedTime
	  FROM login_history
	  ORDER BY lh_in_ymdt DESC
	</select>
   
  </mapper>