<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outpolic.enter.POAddtional.mapper.CategorySearchMapper">
    <select id="searchByName" resultType="outpolic.enter.POAddtional.domain.CategorySearchDto">
        SELECT ctgry_id as ctgryId, ctgry_nm as ctgryNm
        FROM category
        WHERE ctgry_nm LIKE CONCAT('%', #{query}, '%')
        LIMIT 10
    </select>
    
    <select id="findTopLevelCategories" resultType="outpolic.enter.POAddtional.domain.CategorySearchDto">
    SELECT
        ctgry_id as ctgryId,
        ctgry_nm as ctgryNm
    FROM
        category
    WHERE
        ctgry_up_id IS NULL OR ctgry_up_id = '-'
</select>

<select id="findSubCategories" parameterType="String" resultType="outpolic.enter.POAddtional.domain.CategorySearchDto">
    SELECT
        ctgry_id as ctgryId,
        ctgry_nm as ctgryNm
    FROM
        category
    WHERE
        ctgry_up_id = #{parentId}
</select>

<select id="findCategoryById" resultType="outpolic.enter.POAddtional.domain.CategorySearchDto">
    SELECT
        ctgry_id as ctgryId,
        ctgry_nm as ctgryNm,
        ctgry_up_id as ctgryUpId FROM
        category
    WHERE
        ctgry_id = #{ctgryId}
</select>
</mapper>