<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminLayoutMain}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	
	<body>
		<th:block layout:fragment="contents">
			<section class="content-main">
		        <div class="row">
	                <div class="content-header">
	                    <h2 class="content-title">상품 관리</h2>
						<div>
						    <button id="registerGoodsBtn" class="btn btn-md rounded font-sm hover-up">등록</button>
						</div>
	                </div>
		            <div class="col-12">
		            	<div class="card">
		                	<div class="card-body">
				                <div class="table-responsive">
				                    <table class="table table-hover">
				                        <thead>
				                            <tr>
				                                <th scope="col" class="start text-center col-1">상품코드</th>
				                                <th scope="col" class="text-center col-1">상품명</th>
				                                <th scope="col" class="text-center col-1">상품가격</th>
				                                <th scope="col" class="text-center col-1">상품종류</th>
				                                <th scope="col" class="text-center col-1">상품 기간 / 수량</th>
				                                <th scope="col" class="text-center col-1">단위</th>
				                                <th scope="col" class="text-center col-1">상품 상태</th>
				                                <th scope="col" class="text-center col-1">등록일시</th>
				                                <th scope="col" class="end text-center col-1">수정자</th>
				                                <th scope="col" class="end text-center col-1">수정일시</th>
				                                <th scope="col" class="end text-center col-1">Action</th>
				                            </tr>
				                        </thead>
				                        <tbody id="goodsTableBody" th:if="${goodsList != null}">
											<tr class="start pt-30"
											    style="border:0px; border-bottom: solid 1px #ececec;"
											    th:each="g : ${goodsList}">
											    
											    <td class="start text-center">
											        <span th:text="${g.gdsCd}">상품코드</span>
											    </td>
											    <td scope="col" class="text-center" th:text="${g.gdsNm}">상품명</td>
											    <td scope="col" class="text-center" th:text="${g.gdsAmt}">상품가격</td>
											    <td scope="col" class="text-center" th:switch="${g.gdsType}">
				                                	<span th:case="${'구독권'}" class="badge rounded-pill alert-success">구독권</span>
				                                	<span th:case="${'이용권'}" class="badge rounded-pill alert-info">이용권</span>
				                                </td>
											    <td scope="col" class="text-center" th:text="${g.gdsPeriodQuantity}">상품 기간 / 수량</td>
											    <td scope="col" class="text-center" th:text="${g.gdsUnit}">단위</td>
                                                <td scope="col" class="text-center" th:switch="${g.gdsStatus}"> <!-- Product status display -->
                                                    <span th:case="1" class="badge rounded-pill alert-success">활성</span>
                                                    <span th:case="0" class="badge rounded-pill alert-danger">비활성</span>
                                                </td>
											    <td scope="col" class="text-center" th:text="${#dates.format(g.gdsRegYmdt, 'yyyy-MM-dd HH:mm')}">등록일시</td>
											    <td scope="col" class="text-center" th:text="${g.gdsMdfcnAdmCd}">수정자</td>
											    <td scope="col" class="text-center" th:text="${g.gdsMdfcnYmdt}">수정일시</td>
											    <td scope="col" class="text-center">
													<a href="#" class="btn btn-md rounded font-sm open-goods-modal" th:data-gds-cd="${g.gdsCd}">수정</a>
												</td>
											</tr>
										</tbody>
				                    </table>
				                </div>
				            </div>
		            	</div>
		            </div>
		        </div>
		    </section>
		    <!-- 상품 등록 모달 -->
			<div id="registerGoodsModal" class="SR_modal">
				<div class="SR_modal-content-wrapper">
					<div class="SR_popup-header">
						<h2>상품 등록</h2>
						<button class="SR_close-button">&times;</button>
					</div>
	                <form id="registerGoodsForm">
						<input type="hidden" id="registerGdsCd" name="gdsCd" />
						<div class="row mb-4">
					       <label class="col-lg-3 col-form-label">등록자</label>
					       <div class="col-lg-4">
					           <input type="text" id="registerAdmCd" name="gdsRegAdmCd" class="form-control" readonly/>
					       </div>
						</div>
						<div class="row mb-4">
						    <label class="col-lg-3 col-form-label">상품명</label>
						    <div class="col-lg-9">
						        <input type="text" id="registerGdsNm" name="gdsNm" class="form-control" placeholder="상품명을 입력하세요" required/>
						    </div>
						</div>
						<div class="row mb-4">
						    <label class="col-lg-3 col-form-label">가격</label>
						    <div class="col-lg-9">
						        <input type="number" id="registerGdsAmt" name="gdsAmt" class="form-control" placeholder="가격을 입력하세요" required min="1"/>
						    </div>
						</div>
                        <div class="row mb-4">
                            <label class="col-lg-3 col-form-label">상품 종류</label>
                            <div class="col-lg-9">
                                <select id="registerGdsType" name="gdsType" class="form-select" required>
                                    <option value="">선택하세요</option>
                                    <option value="구독권">구독권</option>
                                    <option value="이용권">이용권</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-lg-3 col-form-label">기간 / 수량</label>
                            <div class="col-lg-9">
                                <input type="number" id="registerGdsPeriodQuantity" name="gdsPeriodQuantity" class="form-control" placeholder="기간 또는 수량을 입력하세요" required min="1"/>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-lg-3 col-form-label">단위</label>
                            <div class="col-lg-9">
                                <select id="registerGdsUnit" name="gdsUnit" class="form-select" required>
                                    <option value="">선택하세요</option>
                                    <option value="일">일</option>
                                    <option value="개수">개수</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-lg-3 col-form-label">상품 상태</label>
                            <div class="col-lg-9" style="padding-top: 10px;">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gdsStatus" id="registerStatusActive" value="1" required checked>
                                    <label class="form-check-label" for="registerStatusActive">활성</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gdsStatus" id="registerStatusInactive" value="0">
                                    <label class="form-check-label" for="registerStatusInactive">비활성</label>
                                </div>
                            </div>
                        </div>
						<br />
						<div style="display: flex; flex-direction: row-reverse;">
					     	<button class="btn btn-primary" type="submit">등록</button>
					    </div>
					</form>
				</div>
			</div>

            <div id="editGoodsModal" class="SR_modal">
			    <div class="SR_modal-content-wrapper">
			        <div class="SR_popup-header">
			            <h2>상품 수정</h2>
			            <button class="SR_close-button">&times;</button>
			        </div>
			        <form id="editGoodsForm">
					    <input type="hidden" id="editGdsCd" name="gdsCd" />
					    <div class="row mb-4">
					        <label class="col-lg-3 col-form-label">등록자</label>
					        <div class="col-lg-4">
					            <input type="text" id="editRegAdmCd" name="gdsRegAdmCd" class="form-control" readonly/>
					        </div>
					    </div>
					    <div class="row mb-4">
					        <label class="col-lg-3 col-form-label">등록일시</label>
					        <div class="col-lg-9">
					            <input type="text" id="editRegYmdt" name="gdsRegYmdt" class="form-control" readonly/>
					        </div>
					    </div>
					    <div class="row mb-4">
					        <label class="col-lg-3 col-form-label">상품명</label>
					        <div class="col-lg-9">
					            <input type="text" id="editGdsNm" name="gdsNm" class="form-control" readonly/>
					        </div>
					    </div>
					    <div class="row mb-4">
					        <label class="col-lg-3 col-form-label">가격</label>
					        <div class="col-lg-9">
					            <input type="number" id="editGdsAmt" name="gdsAmt" class="form-control" readonly min="1"/>
					        </div>
					    </div>
					    <div class="row mb-4">
					        <label class="col-lg-3 col-form-label">상품 종류</label>
					        <div class="col-lg-9">
					            <select id="editGdsType" class="form-select" disabled>
					                <option value="">선택하세요</option>
					                <option value="구독권">구독권</option>
					                <option value="이용권">이용권</option>
					            </select>
					            <input type="hidden" id="hiddenGdsType" name="gdsType" />
					        </div>
					    </div>
					    <div class="row mb-4">
					        <label class="col-lg-3 col-form-label">기간 / 수량</label>
					        <div class="col-lg-9">
					            <input type="number" id="editGdsPeriodQuantity" name="gdsPeriodQuantity" class="form-control" readonly min="1"/>
					        </div>
					    </div>
					    <div class="row mb-4">
					        <label class="col-lg-3 col-form-label">단위</label>
					        <div class="col-lg-9">
					            <select id="editGdsUnit" class="form-select" disabled>
					                <option value="">선택하세요</option>
					                <option value="일">일</option>
					                <option value="개수">개수</option>
					            </select>
					            <input type="hidden" id="hiddenGdsUnit" name="gdsUnit" />
					        </div>
					    </div>
					    <div class="row mb-4">
					        <label class="col-lg-3 col-form-label">상품 상태</label>
					        <div class="col-lg-9" style="padding-top: 10px;">
					            <div class="form-check form-check-inline">
					                <input class="form-check-input" type="radio" name="gdsStatus" id="editStatusActive" value="1" required>
					                <label class="form-check-label" for="editStatusActive">활성</label>
					            </div>
					            <div class="form-check form-check-inline">
					                <input class="form-check-input" type="radio" name="gdsStatus" id="editStatusInactive" value="0">
					                <label class="form-check-label" for="editStatusInactive">비활성</label>
					            </div>
					        </div>
					    </div>
					    <br />
					    <div style="display: flex; flex-direction: row-reverse;">
					        <button class="btn btn-primary" type="submit">저장</button>
					    </div>
					</form>
			    </div>
			</div>
		</th:block>
		<th:block layout:fragment="jsScript">
		<script th:inline="javascript">
		const sessionAdminCode = /*[[${adminCode}]]*/ 'ADM_TEST';
		
		document.addEventListener('DOMContentLoaded', function () {
            console.log('DOM Content Loaded - Script Start');

            // 등록 모달 관련 요소
            const registerGoodsModal = document.getElementById('registerGoodsModal');
            const registerGoodsBtn = document.getElementById('registerGoodsBtn');
            const registerCloseButton = registerGoodsModal?.querySelector('.SR_close-button');
            const registerGoodsForm = document.getElementById('registerGoodsForm');
            
            // 수정 모달 관련 요소
            const editGoodsModal = document.getElementById('editGoodsModal');
            const editCloseButton = editGoodsModal?.querySelector('.SR_close-button');
            const goodsTableBody = document.getElementById('goodsTableBody');
            const editGoodsForm = document.getElementById('editGoodsForm');

            let goodsList = []; // 상품 데이터를 저장할 배열

            // 날짜 포맷팅 함수
            const formatDateTime = (timestamp) => {
                if (!timestamp) return '';
                const date = new Date(timestamp);
                const year = date.getFullYear();
                const month = (date.getMonth() + 1).toString().padStart(2, '0');
                const day = date.getDate().toString().padStart(2, '0');
                const hours = date.getHours().toString().padStart(2, '0');
                const minutes = date.getMinutes().toString().padStart(2, '0');
                const seconds = date.getSeconds().toString().padStart(2, '0');
                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            };

            // 상품 데이터를 테이블에 렌더링하는 함수
            function renderGoodsTable(data) {
                goodsTableBody.innerHTML = ''; // 기존 내용 지우기
                if (!data || data.length === 0) {
                    goodsTableBody.innerHTML = '<tr><td colspan="11" class="text-center">등록된 상품이 없습니다.</td></tr>';
                    return;
                }

                data.forEach(g => {
                    const row = document.createElement('tr');
                    row.classList.add('start', 'pt-30');
                    row.style.cssText = 'border:0px; border-bottom: solid 1px #ececec;';

                    row.innerHTML = `
                        <td class="start text-center"><span>${g.gdsCd || ''}</span></td>
                        <td class="text-center">${g.gdsNm || ''}</td>
                        <td class="text-center">${g.gdsAmt || ''}</td>
                        <td class="text-center">
                            ${g.gdsType === '구독권' ? '<span class="badge rounded-pill alert-success">구독권</span>' : 
                            g.gdsType === '이용권' ? '<span class="badge rounded-pill alert-info">이용권</span>' : ''}
                        </td>
                        <td class="text-center">${g.gdsPeriodQuantity || ''}</td>
                        <td class="text-center">${g.gdsUnit || ''}</td>
                        <td class="text-center">
                            ${g.gdsStatus === 1 ? '<span class="badge rounded-pill alert-success">활성</span>' : 
                            g.gdsStatus === 0 ? '<span class="badge rounded-pill alert-danger">비활성</span>' : ''}
                        </td>
                        <td class="text-center">${formatDateTime(g.gdsRegYmdt) || ''}</td>
                        <td class="text-center">${g.gdsMdfcnAdmCd || ''}</td>
                        <td class="text-center">${formatDateTime(g.gdsMdfcnYmdt) || ''}</td>
                        <td class="text-center">
                            <a href="#" class="btn btn-md rounded font-sm open-goods-modal" data-gds-cd="${g.gdsCd}">수정</a>
                        </td>
                    `;
                    goodsTableBody.appendChild(row);
                });
            }

            // 상품 목록 데이터를 서버에서 다시 가져와 렌더링하는 함수
            async function fetchAndReRenderGoods() {
                goodsTableBody.innerHTML = '<tr><td colspan="11" class="text-center">상품 데이터를 불러오는 중...</td></tr>';
                try {
                    const response = await fetch('/admin/goodsListApi');
                    if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`);
                    goodsList = await response.json();
                    renderGoodsTable(goodsList);
                    attachOpenModalListeners();
                } catch (error) {
                    console.error('Error fetching goods list:', error);
                    goodsTableBody.innerHTML = '<tr><td colspan="11" class="text-center text-danger">상품 데이터를 불러오는데 실패했습니다.</td></tr>';
                    showCustomAlert('상품 데이터를 불러오는데 실패했습니다.');
                }
            }

            // 등록 모달 필드를 초기화하는 함수
            function resetRegisterGoodsForm() {
                registerGoodsForm.reset();
                document.getElementById('registerGdsCd').value = '';
                registerGoodsModal.querySelector('h2').textContent = '상품 등록';
                
                /**
                 * [변경점 2] 하드코딩된 값 대신, 세션에서 가져온 관리자 코드로 설정합니다.
                 */
                document.getElementById('registerAdmCd').value = sessionAdminCode; 
                
                document.getElementById('registerStatusActive').checked = true; // '활성'을 기본으로 체크
                console.log('Register goods form reset.');
            }

            if (registerGoodsBtn) {
                registerGoodsBtn.addEventListener('click', function () {
                    resetRegisterGoodsForm();
                    registerGoodsModal.style.display = 'flex';
                    document.body.style.overflow = 'hidden';
                });
            }

            registerCloseButton?.addEventListener('click', () => {
                registerGoodsModal.style.display = 'none';
                document.body.style.overflow = 'auto';
            });

            function attachOpenModalListeners() {
                const openGoodsModalButtons = document.querySelectorAll('.open-goods-modal');
                openGoodsModalButtons.forEach(button => {
                    button.removeEventListener('click', handleOpenEditGoodsModalClick);
                    button.addEventListener('click', handleOpenEditGoodsModalClick);

                });
            }

            async function handleOpenEditGoodsModalClick(event) {
                event.preventDefault();
                const gdsCd = String(this.getAttribute('data-gds-cd'));

                try {
                    const response = await fetch(`/admin/getGoodsDetail?code=${gdsCd}`);
                    if (!response.ok) throw new Error(`HTTP error! status: ${response.status}`);
                    const data = await response.json();

                 // 수정 모달 필드 채우기
                    document.getElementById('editGdsCd').value = data.gdsCd || '';
                    document.getElementById('editRegAdmCd').value = data.gdsRegAdmCd || '';
                    document.getElementById('editRegYmdt').value = formatDateTime(data.gdsRegYmdt) || '';
                    document.getElementById('editGdsNm').value = data.gdsNm || '';
                    document.getElementById('editGdsAmt').value = data.gdsAmt || '';

                    // '상품 종류' 값을 보이는 select와 숨겨진 input 모두에 설정
                    document.getElementById('editGdsType').value = data.gdsType || '';
                    document.getElementById('hiddenGdsType').value = data.gdsType || '';

                    document.getElementById('editGdsPeriodQuantity').value = data.gdsPeriodQuantity || '';

                    // '단위' 값을 보이는 select와 숨겨진 input 모두에 설정
                    document.getElementById('editGdsUnit').value = data.gdsUnit || '';
                    document.getElementById('hiddenGdsUnit').value = data.gdsUnit || '';

                    if (data.gdsStatus === 1) {
                        document.getElementById('editStatusActive').checked = true;
                    } else {
                        document.getElementById('editStatusInactive').checked = true;
                    }

                    editGoodsModal.querySelector('h2').textContent = '상품 수정';
                    editGoodsModal.style.display = 'flex';
                    document.body.style.overflow = 'hidden';
                } catch (err) {
                    console.error('상품 상세 데이터 조회 오류:', err);
                    showCustomAlert('상품 정보를 불러오지 못했습니다.');
                }
            }

            editCloseButton?.addEventListener('click', () => {
                editGoodsModal.style.display = 'none';
                document.body.style.overflow = 'auto';
            });

            window.addEventListener('click', (event) => {
                if (event.target === registerGoodsModal) {
                    registerGoodsModal.style.display = 'none';
                    document.body.style.overflow = 'auto';
                }
                if (event.target === editGoodsModal) {
                    editGoodsModal.style.display = 'none';
                    document.body.style.overflow = 'auto';
                }
            });

            registerGoodsForm?.addEventListener('submit', async function (event) {
                event.preventDefault();
                const formData = new FormData(registerGoodsForm);
                const data = {};
                formData.forEach((value, key) => { data[key] = value; });

                try {
                    const response = await fetch('/admin/insert', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(data)
                    });

                    const resultText = await response.text();
                    if (!response.ok) throw new Error(resultText);
                    
                    showCustomAlert(resultText);
                    registerGoodsModal.style.display = 'none';
                    document.body.style.overflow = 'auto';
                    await fetchAndReRenderGoods();
                } catch (error) {
                    console.error('등록 오류:', error);
                    showCustomAlert('상품 등록 중 오류가 발생했습니다: ' + error.message);
                }
            });

            editGoodsForm?.addEventListener('submit', async function (event) {
                event.preventDefault();
                const formData = new FormData(editGoodsForm);
                const data = {};
                formData.forEach((value, key) => { data[key] = value; });
                
                try {
                    const response = await fetch('/admin/updateGoods', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(data)
                    });
                    
                    const resultText = await response.text();
                    if (!response.ok) throw new Error(resultText);

                    showCustomAlert(resultText);
                    editGoodsModal.style.display = 'none';
                    document.body.style.overflow = 'auto';
                    await fetchAndReRenderGoods();
                } catch (error) {
                    console.error('수정 오류:', error);
                    showCustomAlert('상품 수정 중 오류가 발생했습니다: ' + error.message);
                }
            });

            function showCustomAlert(message) {
                const alertModal = document.createElement('div');
                alertModal.classList.add('SR_modal');
                alertModal.style.display = 'flex';
                alertModal.innerHTML = `
                    <div class="SR_modal-content-wrapper" style="max-width: 400px; text-align: center;">
                        <div class="SR_popup-header">
                            <h2>알림</h2>
                            <button class="SR_close-button">&times;</button>
                        </div>
                        <p style="padding: 20px 0;">${message}</p>
                        <div style="margin-top: 20px; padding-bottom: 20px;">
                            <button class="btn btn-primary" id="customAlertConfirmBtn">확인</button>
                        </div>
                    </div>
                `;
                document.body.appendChild(alertModal);
                const closeAndRemove = () => document.body.removeChild(alertModal);
                alertModal.querySelector('.SR_close-button').addEventListener('click', closeAndRemove);
                alertModal.querySelector('#customAlertConfirmBtn').addEventListener('click', closeAndRemove);
                alertModal.addEventListener('click', (event) => {
                    if (event.target === alertModal) closeAndRemove();
                });
            }

            fetchAndReRenderGoods();
        });
		</script>
	</th:block>
	</body>
	<!-- 추가할 js file -->
</html>