<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="outpolic.admin.inquiry.mapper.AdminInquiryStatusMapper">
	<!-- AdminInquiryStatus.DTO -->
	<resultMap id="AdminInquiryStatusResultMap" type="outpolic.admin.inquiry.domain.AdminInquiryStatus">
		<id 	column="stc_cd" 		property="statusCode"/>
		<id 	column="iqt_cd" 		property="inquiryTypeCode"/>
		<result column="stc_nm" 		property="statusName"/>
		<result column="iqt_nm" 		property="inquiryTypeName"/>
	</resultMap>
	
	
	<select id="getInquiryType" resultMap="AdminInquiryStatusResultMap">
		/* 관리자 문의 상세-문의 타입 */
		select
			it.iqt_cd as iqt_cd,
			it.iqt_nm as iqt_nm
		from
			inquiry_type it;
	</select>
	
	<select id="getInquiryStatus" resultMap="AdminInquiryStatusResultMap">
		/* 관리자 문의 상세-처리 상태 */
		select
			stc_cd,
			stc_nm
		from
			status_code
		where
			stc_cd in ('SD_BEFORE', 'SD_PROCESS_ING')
		order by
			field(stc_cd, 'SD_BEFORE', 'SD_PROCESS_ING');
	</select>
	
</mapper>
