<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="outpolic.admin.inquiry.mapper.AdminInquiryMapper">
	<!-- AdminInquiry.DTO -->
	<resultMap id="AdminInquiryResultMap" type="outpolic.admin.inquiry.domain.AdminInquiry">
		<id 	column="iq_cd" 			property="inquiryCode"/>
		<result column="iq_ttl" 		property="inquiryTitle"/>
		<result column="iq_cn" 			property="inquiryCn"/>
		<result column="iq_reg_ymdt" 	property="inquiryRegYmdt"/>
		<result column="iq_mdfcn_adm_cd" property="inquiryMdfcnAdmCode"/>
		<result column="iq_mdfcn_ymdt" 	property="inquiryMdfcnYmdt"/>
		
		<result column="iqt_cd" 		property="inquiryTypeCode"/>
		<result column="iqt_nm" 		property="inquiryTypeName"/>
		
		<result column="mbr_cd" 		property="memberCode"/>
		<result column="mbr_nm" 		property="memberName"/>
		
		<result column="iqp_cd" 		property="inquiryProcessCode"/>
		<result column="iqp_ans_cn" 	property="inquiryProcessAnswer"/>
		<result column="adm_cd" 		property="inquiryProcessRegAdmCode"/>
		<result column="iqp_reg_ymdt" 	property="inquiryProcessRegYmdt"/>
		<result column="iqp_mdfcn_adm_cd" 	property="inquiryProcessMdfcnAdmCode"/>
		<result column="iqp_mdfcn_ymdt" property="inquiryProcessMdfcnYmdt"/>
		
		
		<result column="stc_cd" 		property="statusCode"/>
		<result column="stc_nm" 		property="statusName"/>
		
		<result column="sa_cd" 			property="subAttchCode"/>
		<result column="sa_orgnl_nm" 	property="subAttchOrgnlName"/>
		<result column="sa_srvr_nm" 	property="subAttchSrvrName"/>
		<result column="sa_path" 		property="subAttchPath"/>
		<result column="sa_size" 		property="subAttchSize"/>
	</resultMap>
	<!-- AdminInquiryType.DTO -->
	<resultMap id="AdminInquiryTypeMap" type="outpolic.admin.inquiry.domain.AdminInquiryType">
		<id 	column="iqt_cd" 			property="inquiryTypeCode"/>
		<result column="iqt_nm" 			property="inquiryTypeName"/>
		<result column="iqt_expln" 			property="inquiryTypeExpln"/>
		<result column="stc_cd" 			property="statusCode"/>
		<result column="stc_nm" 			property="statusName"/>
		<result column="iqt_reg_adm_cd" 	property="inquiryTypeRegAdm"/>
		<result column="iqt_reg_ymdt" 		property="inquiryTypeRegDate"/>
		<result column="iqt_mdfcn_adm_cd" 	property="inquiryTypeMdfcnAdm"/>
		<result column="iqt_mdfcn_ymdt" 	property="inquiryTypeMdfcnDate"/>
	</resultMap>
	
	<update id="updateInquiryType" parameterType="outpolic.admin.inquiry.domain.AdminInquiryType">
	    /* 관리자 문의 타입 수정 */
	    UPDATE inquiry_type
	    SET
	        iqt_nm = #{inquiryTypeName},
	        iqt_expln = #{inquiryTypeExpln},
	        stc_cd = #{statusCode},
	        iqt_mdfcn_adm_cd = #{inquiryTypeMdfcnAdm},
	        iqt_mdfcn_ymdt = NOW()
	    WHERE
	        iqt_cd = #{inquiryTypeCode}
	</update>
	
	<select id="getAdminInquiryTypeByCode" resultMap="AdminInquiryTypeMap">
	    /* 관리자 문의 타입_원본 조회 */
	    SELECT
			it.iqt_cd as iqt_cd,
			it.iqt_nm as iqt_nm,
			it.iqt_expln as iqt_expln,
			it.stc_cd as stc_cd,
			sc.stc_nm as stc_nm,
			it.iqt_reg_adm_cd as iqt_reg_adm_cd,
			it.iqt_reg_ymdt as iqt_reg_ymdt,
			it.iqt_mdfcn_adm_cd as iqt_mdfcn_adm_cd,
			it.iqt_mdfcn_ymdt as iqt_mdfcn_ymdt
		FROM 
			inquiry_type it
			LEFT JOIN status_code sc ON it.stc_cd = sc.stc_cd
	    WHERE iqt_cd = #{code}
	</select>
	
	<insert id="insertInquiryType" parameterType="outpolic.admin.inquiry.domain.AdminInquiryType">
	    /* 관리자 문의 타입 등록 */
	    INSERT INTO inquiry_type (
			iqt_cd, iqt_nm, iqt_expln, stc_cd, iqt_reg_adm_cd, iqt_reg_ymdt
		) VALUES (
			#{inquiryTypeCode}, #{inquiryTypeName}, #{inquiryTypeExpln}, #{statusCode}, #{inquiryTypeRegAdm}, NOW()
		);
	</insert>
	
	<update id="updateInquiryAnswer" parameterType="outpolic.admin.inquiry.domain.AdminInquiry">
	    /* 관리자 문의 답변 업데이트 */
	    UPDATE inquiry_process
	    SET
	        iqp_ans_cn = #{inquiryProcessAnswer},
	        adm_cd = #{inquiryProcessRegAdmCode},
	        iqp_reg_ymdt = NOW(),
	        iqp_mdfcn_adm_cd = #{inquiryProcessMdfcnAdmCode},
	        iqp_mdfcn_ymdt = NOW(),
	        stc_cd = 'SD_PROCESS_END'
	    WHERE iq_cd = #{inquiryCode}
	</update>
	
	
	 <!-- 문의 테이블 수정 -->
    <update id="updateInquiryTable" parameterType="outpolic.admin.inquiry.domain.AdminInquiry">
        /* 관리자 문의 내역 테이블 수정 */
        UPDATE inquiry
        SET
            iqt_cd = #{inquiryTypeCode},
            iq_mdfcn_adm_cd = #{inquiryMdfcnAdmCode},
            iq_mdfcn_ymdt = NOW()
        WHERE
            iq_cd = #{inquiryCode}
    </update>

    <!-- 문의 프로세스 테이블 수정 -->
    <update id="updateInquiryProcessTable" parameterType="outpolic.admin.inquiry.domain.AdminInquiry">
        /* 관리자 문의 프로세스 테이블 수정 */
        UPDATE inquiry_process
        SET
            stc_cd = #{statusCode},
            iqp_mdfcn_adm_cd = #{inquiryMdfcnAdmCode},
            iqp_mdfcn_ymdt = NOW()
        WHERE
            iq_cd = #{inquiryCode}
    </update>
	
	<select id="getAdminInquiryMdfcnList" resultMap="AdminInquiryResultMap">
		/* 관리자 문의 상세 수정 */
		select
			i.mbr_cd as mbr_cd,
			m.mbr_nm as mbr_nm,
			i.iq_reg_ymdt as iq_reg_ymdt,
			IFNULL(sc.stc_cd, 'SD_BEFORE') as stc_cd,
			IFNULL(sc.stc_nm, '확인전') as stc_nm,
			i.iq_cd as iq_cd,
			i.iq_ttl as iq_ttl,
			i.iqt_cd as iqt_cd,
			iqt.iqt_nm as iqt_nm,
			i.iq_cn as iq_cn,
			sa.sa_cd as sa_cd,
			sa.sa_orgnl_nm as sa_orgnl_nm,
			sa.sa_srvr_nm as sa_srvr_nm,
			sa.sa_path as sa_path,
			sa.sa_size as sa_size,
			i.iq_mdfcn_adm_cd as iq_mdfcn_adm_cd,
			i.iq_mdfcn_ymdt as iq_mdfcn_ymdt,
			ip.iqp_ans_cn as iqp_ans_cn
		from
			inquiry i
			left join submission_attachment sa on i.iq_cd = sa.sa_refer_cd
			inner join member m on i.mbr_cd = m.mbr_cd
			inner join inquiry_type iqt using (iqt_cd)
			left join inquiry_process ip using (iq_cd)
			left join status_code sc on ip.stc_cd = sc.stc_cd
		where
			i.iq_cd = #{inquiryCode}
		order by
			m.mbr_nm desc;
	</select>
	
	
	<select id="getAdminInquiryTypeList" resultMap="AdminInquiryTypeMap">
		/* 문의 타입 내역 조회 */
		select
			it.iqt_cd as iqt_cd,
			it.iqt_nm as iqt_nm,
			it.iqt_expln as iqt_expln,
			it.stc_cd as stc_cd,
			sc.stc_nm as stc_nm,
			it.iqt_reg_adm_cd as iqt_reg_adm_cd,
			it.iqt_reg_ymdt as iqt_reg_ymdt,
			it.iqt_mdfcn_adm_cd as iqt_mdfcn_adm_cd,
			it.iqt_mdfcn_ymdt as iqt_mdfcn_ymdt
		from
			inquiry_type it 
			left join status_code sc on it.stc_cd = sc.stc_cd
		order by
			it.iqt_reg_ymdt;
	</select>
	
	<select id="getAdminInquiryList" resultMap="AdminInquiryResultMap">
		/* 문의 리스트 조회 */
		SELECT
			i.iq_cd AS iq_cd,
			m.mbr_nm AS mbr_nm,
			i.iqt_cd AS iqt_cd,
			iqt.iqt_nm AS iqt_nm,
			i.iq_ttl AS iq_ttl,
			i.iq_reg_ymdt AS iq_reg_ymdt,
			ip.iqp_cd AS iqp_cd,
			COALESCE(ip.stc_cd, 'SD_BEFORE') AS stc_cd,
			COALESCE(sc.stc_nm, '확인전') AS stc_nm
		FROM
			inquiry i
			LEFT JOIN member m ON i.mbr_cd = m.mbr_cd
			LEFT JOIN inquiry_type iqt ON i.iqt_cd = iqt.iqt_cd
			LEFT JOIN inquiry_process ip ON i.iq_cd = ip.iq_cd
			LEFT JOIN status_code sc ON ip.stc_cd = sc.stc_cd
		ORDER BY
			i.iq_reg_ymdt DESC;
	</select>
	
</mapper>
