<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="outpolic.admin.inquiry.mapper.AdminInquiryMapper">
	<!-- AdminInquiry.DTO -->
	<resultMap id="AdminInquiryResultMap" type="outpolic.admin.inquiry.domain.AdminInquiry">
		<id 	column="iq_cd" 			property="inquiryCode"/>
		<result column="mbr_nm" 		property="memberName"/>
		<result column="iqt_cd" 		property="inquiryTypeCode"/>
		<result column="iqt_nm" 		property="inquiryTypeName"/>
		<result column="iq_ttl" 		property="inquiryTitle"/>
		<result column="iq_reg_ymdt" 	property="inquiryRegYmdt"/>
		<result column="iqp_cd" 		property="inquiryProcessCode"/>
		<result column="stc_cd" 		property="statusCode"/>
		<result column="stc_nm" 		property="statusName"/>
	</resultMap>
	
	<select id="getAdminInquiryList" resultMap="AdminInquiryResultMap">
		/* 문의 리스트 조회 */
		SELECT
			i.iq_cd AS iq_cd,
			m.mbr_nm AS mbr_nm,
			i.iqt_cd AS iqt_cd,
			iqt.iqt_nm AS iqt_nm,
			i.iq_ttl AS iq_ttl,
			i.iq_reg_ymdt AS iq_reg_ymdt,
			ip.iqp_cd AS iqp_cd,
			COALESCE(ip.stc_cd, 'SD_BEFORE') AS stc_cd,
			COALESCE(sc.stc_nm, '확인전') AS stc_nm
		FROM
			inquiry i
			LEFT JOIN member m ON i.mbr_cd = m.mbr_cd
			LEFT JOIN inquiry_type iqt ON i.iqt_cd = iqt.iqt_cd
			LEFT JOIN inquiry_process ip ON i.iq_cd = ip.iq_cd
			LEFT JOIN status_code sc ON ip.stc_cd = sc.stc_cd
		ORDER BY
			i.iq_reg_ymdt DESC;
	</select>
	
</mapper>
