<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>project infomation</title>
	<link rel="stylesheet" href="/team/css/common-css.css">
	<link rel="stylesheet" href="/team/css/font/font.css">
	<style>
		#wrap {
			margin: 50px 0;

		}
		* {
			text-align: center;
			margin: 0;
			padding: 0;
		}
		.info-title-area h3 {
			color: var(--maincolor);
		}
		table, tr, td {
			border: 1px solid var(--borderColor);
			border-collapse : collapse;
			font-size: 13px;
		}
		td {
			padding: 20px;
		}
		li {
			margin: 5px 0;
		}
		ul, li,
		ul p, ul h5 {
			text-align : left;

		}
		ul p {
			color: #858585;
		}
		.sub-list {
			padding-left: 30px;
		}
		.sub-list li {
			color: #adadad;
			font-weight: 300;
		}
		ul h5 {
			font-size: 14px;
			margin: 5px 0;
		}
		.info-table {
			width: 600px;
			margin: 0 auto;
		}
		.table-th {
			background: #f5f6fa;
			width: 20%;
			font-weight: 700;
		}
		#title {
			font-size: 42px;
			line-height: 1.2;
			margin: 15px 0 35px;
			color: #191919;
			font-weight: 800;
		}
		.menu-title {
			font-size: 16px;
			margin: 10px 0 10px;
			display: block;
			text-align: left;
			font-weight: 700;
		}
		.title-li {
			margin-bottom: 20px;
		}
		.icon-link-container {
		    text-align: center; 
		    margin: 5px 0; 
		}
		.icon-link {
		    display: inline-block;
    		margin: 0 5px;
		}
	    .icon-link:hover img {
	        transform: scale(1.1); 
	    }
	    .icon-link img {
	        transition: transform 0.3s ease, opacity 0.3s ease;
	        display: inline-block; 
    		vertical-align: middle;
	    }
		.text-center{
			text-align: center;
		}
	    
	</style>
</head>
<body>
	<div id="wrap">
		<div class="info-title-area">
			<h3 >한국스마트정보교육원 55기 1팀_포포리</h3>
			<h1 id="title">
				OutPolic
			</h1>
			<div class="icon-link-container">
				<a href="https://github.com/lsclsj2000/outpolic" target="_blank" class="icon-link">
			        <img alt="github" src="/team/img/github-logo.png" style="width: 50px">
			    </a>
			</div>
		</div>		
		<BR>
		<table class="info-table"  style="margin-top: 15px;">
			<tbody>	
				<tr class="table-th">
					<td class="table-th">
						<a class="menu-title text-center" href="https://outpolic.store/login?id=user003&pw=user003pw" target="_blank ">일반회원 메인화면</a>
					</td>
					<td class="table-th">
						<a class="menu-title text-center" href="https://outpolic.store/login?id=ent004&pw=ent004pw" target="_blank ">기업회원 메인화면</a>
					</td>
					<td class="table-th">
						<a class="menu-title text-center" href="https://outpolic.store/admin/login?id=admin1&pw=admin1pw" target="_blank ">관리자 메인화면</a>
					</td>
				</tr>	
				<tr>
					<td class="table-th">
						일반회원 계정
					</td>
					<td class="table-th">
						기업회원 계정
					</td>
					<td class="table-th">
						관리자 계정
					</td>
				</tr>
				<tr>
					<td style="color: #858585;">
						아이디 : user003<br>
						비밀번호 : user003pw<br>
					</td>
					<td style="color: #858585;">
						아이디 : ent004<br>
						비밀번호 : ent004pw<br>
					</td>
					<td style="color: #858585;">
						아이디 : admin1<br>
						비밀번호 : admin1pw<br>
					</td>
				</tr>
				
			</tbody>
		</table>
		 <table class="info-table" style="margin-top: 30px;">
			<tbody>
				<tr>
					<td class="table-th">
					 	<p>이성재</p>
					 	<BR>
					 	<a href="https://github.com/lsclsj2000" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 상품 결제</H5>
								<a href="https://outpolic.store/userGoodsList">바로가기</a>
								<BR>
								<H5>2. 내 정보 결제내역 / 마일리지 적립내역</H5>
								<a href="https://outpolic.store/user/mypage">바로가기</a>
								<BR>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">기업</a>
								<H5>1. 상품 결제</H5>
								<a href="https://outpolic.store/enterGoodsList">바로가기</a>
								<BR>
								<H5>2. 내 정보 결제내역/마일리지 적립내역</H5>
								<a href="https://outpolic.store/enter/mypage">바로가기</a>
								<BR>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">관리자</a>
								<H5>1. 상품 관리</H5>
								<ul class="sub-list">
									<li>상품 조회 <a href="https://outpolic.store/admin/goodsList">바로가기</a></li>
									<li>상품 추가 <a href="https://outpolic.store/admin/goodsAdd">바로가기</a></li>
								</ul>
								<BR>
								<H5>2. 마일리지 관리</H5>
								<ul class="sub-list">
									<li>회원별 마일리지 사용 내역 <a href="https://outpolic.store/admin/usedPointsList">바로가기</a></li>
									<li>회원별 마일리지 적립 내역<a href="https://outpolic.store/admin/earnPointsList">바로가기</a></li>
									<li>마일리지 기준 생성<a href="https://outpolic.store/admin/standardPointsAddList">바로가기</a></li>
								</ul>
								
								<BR>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>김주완</p>
					 	<BR>
					 	<a href="https://github.com/kimjuwan123" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 외주 신청</H5>
								<a href="http://localhost/user/outsourcing-requests/form/OS_C00053">예시 바로가기</a>
								<BR>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">기업</a>
								<H5>1. 포트폴리오 등록 페이지</H5>
								<ul class="sub-list">
									<li>포트폴리오 등록 페이지 <a href="http://localhost/enter/portfolio/add">바로가기</a></li>
									<li>내 포트폴리오 페이지 <a href="http://localhost/enter/portfolio/list">바로가기</a></li>
								</ul>
								<H5>2. 외주 목록 페이지</H5>
								<ul class="sub-list">
									<li>내 외주 목록 페이지 <a href="http://localhost/enter/outsourcing/list">바로가기</a></li>
									<li>외주 등록 페이지 (기업 로그인 후 사용) <a href="http://localhost/enter/outsourcing/add">바로가기</a></li>
								</ul>
								<H5>3. 외주 신청 페이지</H5>
								<ul class="sub-list">
									<li>외주 신청 페이지 <a href="http://localhost/enter/outsourcing-requests/form/OS_C00053">예시 바로가기</a></li>
									<li>보낸 외주 신청 목록 페이지 (로그인 후 사용)<a href="http://localhost/enter/outsourcing-requests/sent">바로가기</a></li>
									<li>보낸 외주 신청 목록 상세 페이지 <a href="http://localhost/enter/outsourcing-requests/detail/OCD_C00040">예시 바로가기</a></li>
									<li>받은 외주 신청 목록 페이지 (로그인 후 사용)<a href="http://localhost/enter/outsourcing-requests/received">바로가기</a></li>
									<li>받은 외주 신청 목록 상세페이지 <a href="http://localhost/enter/outsourcing-requests/detail/OCD_C00041">바로가기</a></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>김한별</p>
					 	<BR>
					 	<a href="https://github.com/uzuMakiOneStar" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 컨텐츠</H5>
								<ul class="sub-list">
									<li>컨텐츠 목록 뷰 <a href="https://outpolic.store/user/userSearch?keyword=">바로가기</a></li>
									<li>카테고리 목록 뷰 <a href="https://outpolic.store/user/products?category=010">바로가기</a></li>
									<li>컨텐츠 상세페이지 <a href="https://outpolic.store/user/contents/OS_C00051">바로가기</a></li>
								</ul>
								<BR>
								<H5>2. 메인 페이지 카테고리, 랭킹, 리뷰 <a href="https://outpolic.store/">바로가기</a></H5>
								<BR>
								<H5>3. 모달창</H5>
								<p>포트폴리오를 누르면 나오는 상세페이지를 모달창으로 구성</p>
								<BR>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">기업</a>
								<H5>1. 컨텐츠</H5>
								<ul class="sub-list">
									<li>컨텐츠 목록 뷰 <a href="https://outpolic.store/enter/userSearch?keyword=">바로가기</a></li>
									<li>카테고리 목록 뷰 <a href="https://outpolic.store/enter/products?category=010">바로가기</a></li>
									<li>컨텐츠 상세페이지 <a href="https://outpolic.store/enterr/contents/OS_C00051">바로가기</a></li>
								</ul>
								<BR>
								<H5>2. 메인 페이지 카테고리, 랭킹, 리뷰 <a href="https://outpolic.store/">바로가기</a></H5>
								<BR>
								<H5>3. 모달창</H5>
								<p>포트폴리오와 리뷰작성을 누르면 나오는 상세페이지를 모달창으로 구성</p>
								<BR>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">관리자</a>
								<H5>1. 통계</H5>
								<p>랭킹통계 <a href="https://outpolic.store/admin/RankingStatistics">바로가기</a></p>
								<H5>2. 카테고리</H5>
								<p>카테고리 관리 <a href="https://outpolic.store/admin/selectCategory">바로가기</a></p>
								
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>신세영</p>
					 	<BR>
					 	<a href="https://github.com/shindidit" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank" src="http://outpolic.store/login">로그인</a>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 회원가입</H5>
								<ul class="sub-list">
									<li>일반 유저 회원가입 <a href="http://outpolic.store/user/registerInfo">바로가기</a></li>
									<li>기업회원으로 전환(일반회원 로그인 후) <a href="http://outpolic.store/enterRegAdd">바로가기</a></li>
								</ul>
								<BR>
								<H5>2. 비밀번호 찾기 <a href="http://outpolic.store/forgotPswd">바로가기</a></H5>
								<BR>
								<H5>3. 일반유저 마이페이지(로그인 후 사용)</H5>
								<ul class="sub-list">
									<li>마이페이지 메인 <a href="http://outpolic.store/user/mypage">바로가기</a></li>
									<li>마이페이지 개인정보 수정 <a href="http://outpolic.store/user/userEditView">바로가기</a></li>
								</ul>
								<BR>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">기업</a>
								<H5>1. 기업 유저 마이페이지(로그인 후 사용)</H5>
								<ul class="sub-list">
									<li>마이페이지 메인 <a href="http://outpolic.store/enter/mypage">바로가기</a></li>
									<li>마이페이지 정보수정 선택페이지(개인정보 수정할지 기업정보 수정할지 선택하는 페이지) <a href="http://outpolic.store/enterEditChoice">바로가기</a></li>
									<li>마이페이지 기업 정보 수정 <a href="http://outpolic.store/enterpriseEditView">바로가기</a></li>
									<li>마이페이지 개인 정보 수정 <a href="http://outpolic.store/enter/enterEditView">바로가기</a></li>
								</ul>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">관리자</a>
								<H5>1. 관리자 로그인 <a href="http://localhost/admin/login">바로가기</a></H5>
								<BR>
								<H5>2. 회원 리스트(상세보기 클릭시 모달창)</H5>
								<ul class="sub-list">
									<li>전체 회원 리스트 <a href="http://outpolic.store/admin/memberList">바로가기</a></li>
									<li>활성 회원 리스트 <a href="http://outpolic.store/admin/memberList/active">바로가기</a></li>
									<li>휴면 회원 리스트 <a href="http://outpolic.store/admin/memberList/withdrawn">바로가기</a></li>
									<li>탈퇴 회원 리스트 <a href="http://outpolic.store/admin/memberList/dormant">바로가기</a></li>
									<li>제재 회원 리스트 <a href="http://outpolic.store/admin/memberList/limit">바로가기</a></li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>유사랑</p>
					 	<BR>
					 	<a href="https://github.com/tkfk1130" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 문의</H5>
								<ul class="sub-list">
									<li>전체 게시물 <a href="http://outpolic.store/user/userInquiryTotal">바로가기</a></li>
									<li>공지사항 <a href="http://outpolic.store/user/userInquiryNotice">바로가기</a></li>
									<li>문의 내역 <a href="http://outpolic.store/user/userInquiryList">바로가기</a></li>
									<li>FAQ <a href="http://outpolic.store/user/userInquiryFaq">바로가기</a></li>
									<li>문의 작성 <a href="http://outpolic.store/user/userInquiryWrite">바로가기</a></li>
									<li>문의 상세 내역 <a href="http://localhost/user/userInquiryDetail?iq_cd=IQ_C46">바로가기</a></li>
								</ul>
								<BR>
								<H5>2. 신고 작성 <a href="http://outpolic.store/user/userDeclarationWrite">바로가기</a> </H5>
								<BR>
								<H5>3. 채팅(모달창)</H5>
								<ul class="sub-list">
									<li>프로필 </li>
									<li>채팅방</li>
								</ul>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">기업</a>
								<H5>1. 문의</H5>
								<ul class="sub-list">
									<li>전체 게시물 <a href="http://outpolic.store/enter/enterInquiryTotal">바로가기</a></li>
									<li>공지사항 <a href="http://outpolic.store/enter/enterInquiryNotice">바로가기</a></li>
									<li>문의 내역 <a href="http://outpolic.store/enter/enterInquiryList">바로가기</a></li>
									<li>FAQ <a href="http://outpolic.store/enter/enterInquiryFaq">바로가기</a></li>
									<li>문의 작성 <a href="http://outpolic.store/enter/enterInquiryWrite">바로가기</a></li>
									<li>문의 상세 내역 <a href="http://localhost/enter/enterInquiryDetail?iq_cd=IQ_C46">바로가기</a></li>
								</ul>
								<BR>
								<H5>2. 신고 작성 <a href="http://outpolic.store/enter/enterDeclarationWrite">바로가기</a> </H5>
								<BR>
								<H5>3. 채팅(모달창)</H5>
								<ul class="sub-list">
									<li>프로필 </li>
									<li>채팅방</li>
								</ul>
								<H5>4. 외주 진행</H5>
								<ul class="sub-list">
									<li>내 외주 진행 목록 <a href="http://outpolic.store/enter/enterOsstList">바로가기</a></li>
									<li>진행 외주 상세 페이지 <a href="http://localhost/enter/outsourcing-requests/detail/OCD_C00002">바로가기</a></li>
								</ul>
								<BR>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">관리자</a>
								<H5>1. 문의</H5>
								<ul class="sub-list">
									<li>문의 내역 <a href="http://outpolic.store/admin/adminInquiryList">바로가기</a></li>
									<li>문의 자원 등록 <a href="http://outpolic.store/admin/adminInquiryResources">바로가기</a></li>
								</ul>
								<BR>
								<H5>2. 신고</H5>
								<ul class="sub-list">
									<li>신고 내역 <a href="http://outpolic.store/admin/adminDeclaration">바로가기</a></li>
									<li>신고 자원 등록 <a href="http://outpolic.store/admin/adminDeclarationResources">바로가기</a></li>
								</ul>
								<BR>
								<H5>3. 제재</H5>
								<ul class="sub-list">
									<li>제재 내역 <a href="http://outpolic.store/admin/adminLimits">바로가기</a></li>
									<li>제재 처리 <a href="http://outpolic.store/admin/adminLimitsProcess">바로가기</a></li>
									<li>권한 설정 <a href="http://outpolic.store/admin/adminLimitsAuthority">바로가기</a></li>
									<li>제재 자원 등록 <a href="http://outpolic.store/admin/adminLimitsResources">바로가기</a></li>
								</ul>
								<BR>
								<H5>4. 외주</H5>
								<ul class="sub-list">
									<li>외주 진행 현황 <a href="http://outpolic.store/admin/adminOsst">바로가기</a></li>
									<li>외주 채팅방 관리 <a href="http://outpolic.store/admin/adminChatRoom">바로가기</a></li>
								</ul>
							
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table> 
	</div>
</body>
</html>