<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>project infomation</title>
	<link rel="stylesheet" href="/team/css/common-css.css">
	<link rel="stylesheet" href="/team/css/font/font.css">
	<style>
		#wrap {
			margin: 50px 0;

		}
		* {
			text-align: center;
			margin: 0;
			padding: 0;
		}
		.info-title-area h3 {
			color: var(--maincolor);
		}
		table, tr, td {
			border: 1px solid var(--borderColor);
			border-collapse : collapse;
			font-size: 13px;
		}
		td {
			padding: 20px;
		}
		li {
			margin: 5px 0;
		}
		ul, li,
		ul p, ul h5 {
			text-align : left;

		}
		ul p {
			color: #858585;
		}
		.sub-list {
			padding-left: 30px;
		}
		.sub-list li {
			color: #adadad;
			font-weight: 300;
		}
		ul h5 {
			font-size: 14px;
			margin: 5px 0;
		}
		.info-table {
			width: 600px;
			margin: 0 auto;
		}
		.table-th {
			background: #f5f6fa;
			width: 20%;
			font-weight: 700;
		}
		#title {
			font-size: 42px;
			line-height: 1.2;
			margin: 15px 0 35px;
			color: #191919;
			font-weight: 800;
		}
		.menu-title {
			font-size: 16px;
			margin: 10px 0 10px;
			display: block;
			text-align: left;
			font-weight: 700;
		}
		.title-li {
			margin-bottom: 20px;
		}
		.icon-link-container {
		    text-align: center; 
		    margin: 5px 0; 
		}
		.icon-link {
		    display: inline-block;
    		margin: 0 5px;
		}
	    .icon-link:hover img {
	        transform: scale(1.1); 
	    }
	    .icon-link img {
	        transition: transform 0.3s ease, opacity 0.3s ease;
	        display: inline-block; 
    		vertical-align: middle;
	    }
		.text-center{
			text-align: center;
		}
	    
	</style>
</head>
<body>
	<div id="wrap">
		<div class="info-title-area">
			<h3 >한국스마트정보교육원 55기 1팀_포포리</h3>
			<h1 id="title">
				OutPolic
			</h1>
			<div class="icon-link-container">
				<a href="https://github.com/lsclsj2000/outpolic" target="_blank" class="icon-link">
			        <img alt="github" src="/team/img/github-logo.png" style="width: 50px">
			    </a>
			</div>
		</div>		
		<BR>
		<table class="info-table"  style="margin-top: 15px;">
			<tbody>	
				<tr class="table-th">
					<td class="table-th">
						<a class="menu-title text-center" href="/login?id=user003&pw=user003pw" target="_blank ">일반회원 메인화면</a>
					</td>
					<td class="table-th">
						<a class="menu-title text-center" href="/login?id=ent004&pw=ent004pw" target="_blank ">기업회원 메인화면</a>
					</td>
					<td class="table-th">
						<a class="menu-title text-center" href="/admin/login?id=admin1&pw=admin1pw" target="_blank ">관리자 메인화면</a>
					</td>
				</tr>	
				<tr>
					<td class="table-th">
						일반회원 계정
					</td>
					<td class="table-th">
						기업회원 계정
					</td>
					<td class="table-th">
						관리자 계정
					</td>
				</tr>
				<tr>
					<td style="color: #858585;">
						아이디 : user003<br>
						비밀번호 : user003pw<br>
					</td>
					<td style="color: #858585;">
						아이디 : ent004<br>
						비밀번호 : ent004pw<br>
					</td>
					<td style="color: #858585;">
						아이디 : admin1<br>
						비밀번호 : admin1pw<br>
					</td>
				</tr>
				
			</tbody>
		</table>
		 <table class="info-table" style="margin-top: 30px;">
			<tbody>
				<tr>
					<td class="table-th">
					 	<p>이성재</p>
					 	<BR>
					 	<a href="https://github.com/lsclsj2000" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 회원가입</H5>
								<p>멘티와 멘토의 회원가입하는 화면</p>
								<ul class="sub-list">
									<li>멘티 회원가입</li>
									<li>멘토 회원가입(플랫폼 내부 기준 만족 후 관리자가 승인)</li>
								</ul>
								<BR>
								<H5>2. 비밀번호 찾기</H5>
								<p>아이디가 일치할 시 비밀번호를 찾는 화면</p>
								<BR>
								<H5>3. 회원 탈퇴</H5>
								<p>회원 탈퇴를 신청하는 화면</p>
								<BR>
								<H5>4. 멘토 찾기 </H5>
								<p>멘토와 명예멘토를 조회할 수 있는 화면</p>
								<ul class="sub-list">
									<li>멘토 조회</li>
									<li>명예멘토 조회</li>
								</ul>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">관리자</a>
								<H5>1. 회원관리</H5>
								<p>회원의 정보를 조회하는 있는 화면</p>
								<ul class="sub-list">
									<li>전체 회원정보 조회</li>
									<li>탈퇴 회원정보 조회</li>
									<li>휴먼 회원정보 조회</li>
									<li>회원 로그인 기록 조회</li>
								</ul>
								<BR>
								<H5>2. 회원정보 수정</H5>
								<p>회원의 정보를 수정하는 화면</p>
								<BR>
								<H5>3. 가입/탈퇴 관리</H5>
								<p>가입/탈퇴 회원 관리하는 화면</p>
								<ul class="sub-list">
									<li>신규 회원 조회</li>
									<li>신규 멘토 승인</li>
									<li>회원 탈퇴 승인</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>김주완</p>
					 	<BR>
					 	<a href="https://github.com/kimjuwan123" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 포트폴리오</H5>
								<p>멘티들의 포트폴리오 조회 및 파일을 다운로드하는 화면</p>
								<ul class="sub-list">
									<li>전체 포트폴리오 조회</li>
									<li>포트폴리오 상세 조회</li>
									<li>파일 다운로드</li>
								</ul>
								<BR>
								<H5>2. 마이페이지(멘티)</H5>
								<p>멘티의 마이페이지 화면</p>
								<ul class="sub-list">
									<li>계정 정보 조회, 수정</li>
									<li>소개글 조회, 등록, 수정</li>
									<li>경력관리(1) - 학력 조회, 등록, 수정, 삭제</li>
									<li>경력관리(2) - 자격증 조회, 등록, 수정, 삭제</li>
									<li>경력관리(3) - 포트폴리오 조회, 등록, 수정, 삭제</li>
									<li>파일 업로드 및 다운로드, 파일 수정</li>
								</ul>
								<BR>
								<H5>3. 마이페이지 (멘토)</H5>
								<p>멘토의 마이페이지 화면</p>
								<ul class="sub-list">
									<li>계정 정보 조회, 수정</li>
									<li>경력관리(1) - 근무 경력 조회, 등록, 수정, 삭제</li>
									<li>경력관리(2) - 프로젝트 경력 조회, 등록, 수정, 삭제</li>
									<li>경력관리(3) - 학력 조회, 등록, 수정, 삭제</li>
									<li>경력관리(4) - 자격증 조회, 등록, 수정, 삭제</li>
									<li>경력관리(5) - 포트폴리오 조회, 등록, 수정, 삭제</li>
									<li>파일 업로드 및 다운로드, 파일 수정</li>
								</ul>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">관리자</a>
								<H5>1. 자료 승인</H5>
								<p>회원(멘토)의 자료를 다운로드 후 검토 및 승인하는 있는 화면</p>
								<ul class="sub-list">
									<li>근무경력 자료 승인</li>
									<li>프로젝트 경력 자료 승인</li>
									<li>학력 자료 승인</li>
									<li>자격증/어학 자료 승인</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>김한별</p>
					 	<BR>
					 	<a href="https://github.com/uzuMakiOneStar" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 멘토링 공고 관리</H5>
								<p>멘토링 공고를 조회하고 관리</p>
								<ul class="sub-list">
									<li>멘토링 공고 조회</li>
									<li>멘토링 공고 등록 (멘토) : Flatpickr를 활용해 입력 필드에 날짜 선택 기능을 추가하고, 사용자 정의 옵션으로 날짜 형식, 최소/최대 날짜, 시간 선택 등을 설정 </li>
									<li>멘토링 공고 수정 (멘토)</li>
								</ul>
								<BR>
								<H5>2. 멘토링 공고 상세 관리</H5>
								<p>멘토링 공고 상세 조회하는 화면</p>
								<BR>
								<H5>3. 멘토링 공고 질문/답변 관리</H5>
								<p>멘토링 공고에 대한 질문과 답변을 등록, 수정 및 삭제하는 화면</p>
								<ul class="sub-list">
									<li>멘토링 공고 질문 조회</li>
									<li>멘토링 공고 질문 수정</li>
									<li>멘토링 공고 질문 삭제</li>
									<li>멘토링 공고 질문 답변 조회</li>
									<li>멘토링 공고 질문 답변 수정</li>
									<li>멘토링 공고 질문 답변 삭제</li>
								</ul>
								<BR>
								<H5>4. 멘토링 신청 (멘티)</H5>
								<BR>
								<H5>5. 멘토링 신청 멘티 관리 (멘토)</H5>
								<p>멘토링 신청 멘티 프로필 조회하는 화면</p>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">관리자</a>
								<H5>1. 멘토링 관리</H5>
								<p>멘토링과 관련된 기능을 관리하는 화면</p>
								<ul class="sub-list">
									<li>멘토링 공고 조회</li>
									<li>멘토링 공고 질문 관리</li>
									<li>멘토링 공고 답변 관리</li>
									<li>멘토링 신청 조회</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>신세영</p>
					 	<BR>
					 	<a href="https://github.com/shindidit" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank">로그인</a>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 회원가입</H5>
								<!-- <p>회원가입과정</p> -->
								<ul class="sub-list">
									<li>일반 회원가입</li>
									<li>기업회원으로 전환</li>
								</ul>
								<BR>
								<H5>2. 마이페이지</H5>
						<!-- 		<p>포트원 API를 활용하여 KAKAOPAY PG사 연동하여 결제</p> -->
								<ul class="sub-list">
									<li></li>
									<li>회원 정보 수정 기능</li>
								</ul>
								<BR>
								<H5>3. 멘토링 관리 (멘티)</H5>
								<p>회원(멘티)이 결제한 멘토링 목록을 조회하고 관리하는 화면</p>
								<ul class="sub-list">
									<li>결제 내역 조회</li>
									<li>후기 등록</li>
									<li>회원(멘티)가 작성한 후기 목록 조회</li>
									<li>후기 수정</li>
								</ul>
								<BR>
								<H5>4. 멘토링 관리 (멘토)</H5>
								<p>회원(멘토)이 신청 받은 멘토링 목록을 조회하고 정산을 신청하는 화면</p>
								<ul class="sub-list">
									<li>신청 받은 내역 조회</li>
									<li>정산 신청</li>
									<li>정산 내역 조회</li>
								</ul>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">관리자</a>
								<H5>1. 회원 리스트 및 관리</H5>
								<p>회원 리스트를 조회하고 회원의 정보를 수정하는 화면</p>
								<ul class="sub-list">
									<li>회원 상태코드 별 회원 리스트 조회</li>
									<li>회원 정보 수정</li>
								</ul>
								<BR>
								<H5>2. 정산 및 결제 관리</H5>
								<p>정산 및 결제를 관리하는 화면</p>
								<ul class="sub-list">
									<li>멘토링 결제 내역 조회</li>
									<li>멘토링 정산 신청 내역 조회</li>
									<li>멘토링 정산 내역 조회</li>
								</ul>
								<BR>
								<H5>3. 명예 멘토 관리</H5>
								<p>명예 멘토를 관리하는 화면</p>
								<ul class="sub-list">
									<li>명예 멘토 기준 조회 및 승인, 취소</li>
									<li>명예 멘토 조회</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td class="table-th">
						<p>유사랑</p>
					 	<BR>
					 	<a href="https://github.com/tkfk1130" target="_blank" class="icon-link">
					        <img alt="github" src="/team/img/github-logo.png" style="width: 25px">
					    </a>
					</td>
					<td colspan="2">
						<ul style="padding-left:15px;">
							<li class="title-li">
								<a class="menu-title" target="_blank">로그인</a>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">회원</a>
								<H5>1. 멘토링 신청 관리 (멘티)</H5>
								<p>멘토링 신청 내역 조회 및 신청 취소하는 화면</p>
								<ul class="sub-list">
									<li>멘토링 신청 내역 조회</li>
									<li>멘토링 신청 취소</li>
								</ul>
								<BR>
								<H5>2. 멘토링 결제 (멘티)</H5>
								<p>포트원 API를 활용하여 KAKAOPAY PG사 연동하여 결제</p>
								<BR>
								<H5>3. 멘토링 관리 (멘티)</H5>
								<p>회원(멘티)이 결제한 멘토링 목록을 조회하고 관리하는 화면</p>
								<ul class="sub-list">
									<li>결제 내역 조회</li>
									<li>후기 등록</li>
									<li>회원(멘티)가 작성한 후기 목록 조회</li>
									<li>후기 수정</li>
								</ul>
								<BR>
								<H5>4. 멘토링 관리 (멘토)</H5>
								<p>회원(멘토)이 신청 받은 멘토링 목록을 조회하고 정산을 신청하는 화면</p>
								<ul class="sub-list">
									<li>신청 받은 내역 조회</li>
									<li>정산 신청</li>
									<li>정산 내역 조회</li>
								</ul>
							</li>
							<li class="title-li">
								<a class="menu-title" target="_blank">관리자</a>
								<H5>1. 멘토링 후기 관리</H5>
								<p>멘토링 후기 조회하고 부적절한 후기 내용은 삭제할 수 있는 화면</p>
								<BR>
								<H5>2. 정산 및 결제 관리</H5>
								<p>정산 및 결제를 관리하는 화면</p>
								<ul class="sub-list">
									<li>멘토링 결제 내역 조회</li>
									<li>멘토링 정산 신청 내역 조회</li>
									<li>멘토링 정산 내역 조회</li>
								</ul>
								<BR>
								<H5>3. 명예 멘토 관리</H5>
								<p>명예 멘토를 관리하는 화면</p>
								<ul class="sub-list">
									<li>명예 멘토 기준 조회 및 승인, 취소</li>
									<li>명예 멘토 조회</li>
								</ul>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table> 
	</div>
</body>
</html>