<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<footer class="main" th:fragment="enterFooterFragment">
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col">
						<div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0">
							<div class="logo mb-30">
							    <a href="#" class="mb-15"><img class="d-flex align-items-center" src="/user/assets/imgs/outpolic/logo.png" alt="logo" style="width: 250px;"/></a>
							    <p class="font-lg text-heading">Awesome grocery store website template</p>
							</div>
							<ul class="contact-infor">
							    <li><img src="/user/assets/imgs/theme/icons/icon-location.svg" alt="" /><strong>Address: </strong> <span>5171 W Campbell Ave undefined Kent, Utah 53127 United States</span></li>
							    <li><img src="/user/assets/imgs/theme/icons/icon-contact.svg" alt="" /><strong>Call Us:</strong><span>(+91) - 540-025-124553</span></li>
							    <li><img src="/user/assets/imgs/theme/icons/icon-email-2.svg" alt="" /><strong>Email:</strong><span>sale@Nest.com</span></li>
							    <li><img src="/user/assets/imgs/theme/icons/icon-clock.svg" alt="" /><strong>Hours:</strong><span>10:00 - 18:00, Mon - Sat</span></li>
							</ul>
						</div>
					</div>
					<div class="footer-link-widget col">
					<h4 class="widget-title">LSJ</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						   	<li><a href="#">이성재</a></li>
						    <li><a href="#">lsclsj2000@gmail.com</a></li>
						    <li><a href="#">Settlement</a></li>
						    <li><a href="#">Goods</a></li>
						    <li><a href="#">Points</a></li>
						    <li><a href="#">Notification</a></li>
						    <li><a href="#">Ticket</a></li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">SSY</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="#">신세영</a></li>
						    <li><a href="#">bionell430@gmail.com</a></li>
						    <li><a href="#">MyPage</a></li>
						    <li><a href="#">Login</a></li>
						    <li><a href="#">Member</a></li>
						    <li><a href="#">Enter</a></li>
						    <li><a href="#">Register</a></li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">KHB</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="#">김한별</a></li>
						    <li><a href="#">wlfkfss2323@gmail.com</a></li>
						    <li><a href="#">Search</a></li>
						    <li><a href="#">Category</a></li>
						    <li><a href="#">Tag</a></li>
						    <li><a href="#">Bookmark</a></li>
						    <li><a href="#">Review</a></li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">YSR</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="#">유사랑</a></li>
						    <li><a href="#">salang291@gmail.com</a></li>
						    <li><a href="#">Inquiry</a></li>
						    <li><a href="#">Declaration</a></li>
						    <li><a href="#">Limits</a></li>
						    <li><a href="#">Outsourting Status</a></li>
						    <li><a href="#">Chat</a></li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">KJW</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="#">김주완</a></li>
						    <li><a href="#">arrive3583@gmail.com</a></li>
						    <li><a href="#">Portfolio</a></li>
						    <li><a href="#">Outsourcing</a></li>
						    <li><a href="#">Contract</a></li>
						    <li><a href="#">Tea & Kombucha</a></li>
						    <li><a href="#">Cheese</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<div class="container pb-30">
			<div class="row align-items-center">
				<div class="col-12 mb-30">
				    <div class="footer-bottom"></div>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6">
				    <p class="font-sm mb-0">&copy; 2022, <strong class="text-brand">Nest</strong> - HTML Ecommerce Template <br />All rights reserved</p>
				</div>
				<div class="col-xl-4 col-lg-6 text-center d-none d-xl-block">
				    <div class="hotline d-lg-inline-flex mr-30">
				        <img src="/user/assets/imgs/theme/icons/phone-call.svg" alt="hotline" />
				        <p>1900 - 6666<span>Working 8:00 - 22:00</span></p>
				    </div>
				    <div class="hotline d-lg-inline-flex">
				        <img src="/user/assets/imgs/theme/icons/phone-call.svg" alt="hotline" />
				        <p>1900 - 8888<span>24/7 Support Center</span></p>
				    </div>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
					<div class="mobile-social-icon">
					    <h6>Follow Us</h6>
					    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-facebook-white.svg" alt="" /></a>
					    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-twitter-white.svg" alt="" /></a>
					    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-instagram-white.svg" alt="" /></a>
					    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-pinterest-white.svg" alt="" /></a>
					    <a href="#"><img src="/user/assets/imgs/theme/icons/icon-youtube-white.svg" alt="" /></a>
					</div>
					<p class="font-sm">Up to 15% discount on your first subscribe</p>
				</div>
			</div>
		</div>
	</footer>
</html>