<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<footer class="main" th:fragment="enterFooterFragment">
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col">
						<div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 mt-10">
							<div class="logo mb-30 ">
							    <a th:href="@{/}" class="d-flex align-items-center justify-content-center"><img class="d-flex align-items-center" src="/enter/assets/imgs/outpolic/logo.png" alt="logo" style="width: 250px;"/></a>
							    <p class="footer-copy font-lg fw-700 text-heading d-flex align-items-center justify-content-center">커리어의 시작</p>
							</div>
							<ul class="contact-infor mt-30">
							    <li><img src="/enter/assets/imgs/theme/icons/icon-location.png" alt=""  /><strong>Address: </strong> <span>전주시 덕진구 기린대로 499</span></li>
							    <li><img src="/enter/assets/imgs/theme/icons/icon-contact.png" alt=""  /><strong>Call Us:</strong><span>0000-0000</span></li>
							    <li><img src="/enter/assets/imgs/theme/icons/icon-email-2.png" alt=""  /><strong>Email:</strong><span>lsclsj2000@gmail.com</span></li>
							    <li class="mt-20">&copy; 2025,<strong>outPolic</strong><br/><span>All rights reserved</span></li>
							</ul>
						</div>
					</div>
					<div class="footer-link-widget col">
					<h4 class="widget-title">이성재</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="mailto:lsclsj2000@gmail.com">lsclsj2000@gmail.com</a></li>
						    <li>Settlement</li>
						    <li>Goods</li>
						    <li>Points</li>
						    <li>Notification</li>
						    <li>Ticket</li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">신세영</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="mailto:bionell430@gmail.com">bionell430@gmail.com</a></li>
						    <li>MyPage</li>
						    <li>Login</li>
						    <li>Member</li>
						    <li>Enter</li>
						    <li>Register</li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">김한별</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="mailto:wlfkfss2323@gmail.com">wlfkfss2323@gmail.com</a></li>
						    <li>Search</li>
						    <li>Category</li>
						    <li>Tag</li>
						    <li>Bookmark</li>
						    <li>Review</li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">유사랑</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="mailto:salang291@gmail.com">salang291@gmail.com</a></li>
						    <li>Inquiry</li>
						    <li>Declaration</li>
						    <li>Limits</li>
						    <li>Outsourting Status</li>
						    <li>Chat</li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">김주완</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="mailto:arrive3583@gmail.com">arrive3583@gmail.com</a></li>
						    <li>Portfolio</li>
						    <li>Outsourcing</li>
						    <li>Contract</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</footer>
</html>