<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="user/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="user/assets/css/main.css?v=5.6" />
</head>
<body>
	<div th:fragment="enterProfileFragment">
		<div class="dashboard-menu">
			<ul class="nav flex-column" role="tablist">
				<li>
					<div class="userprofileTitle d-flex flex-column align-items-center mt-10 ">
						<img class="userProfileImg" th:src="@{/user/assets/imgs/outpolic/cutecat.jpg}" />
						<h4 class="mt-10 mb-10" value="자갈강">기본닉네임</h4>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>