<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<footer class="main" th:fragment="enterFooterFragment">
		<section class="section-padding footer-mid">
			<div class="container pt-15 pb-20">
				<div class="row">
					<div class="col">
						<div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 mt-10">
							<div class="logo mb-30 ">
							    <a href="#" class="d-flex align-items-center justify-content-center"><img class="d-flex align-items-center" src="/user/assets/imgs/outpolic/logo.png" alt="logo" style="width: 250px;"/></a>
							    <p class="footer-copy font-lg fw-700 text-heading d-flex align-items-center justify-content-center">커리어의 시작</p>
							</div>
							<ul class="contact-infor mt-30">
							    <li><img src="/user/assets/imgs/theme/icons/icon-location.png" alt=""  /><strong>Address: </strong> <span>OO시 OO구 OO로 OOO</span></li>
							    <li><img src="/user/assets/imgs/theme/icons/icon-contact.png" alt=""  /><strong>Call Us:</strong><span>0000-0000</span></li>
							    <li><img src="/user/assets/imgs/theme/icons/icon-email-2.png" alt=""  /><strong>Email:</strong><span>example@outpolic.com</span></li>
							    <li class="mt-20">&copy; 2025,<strong>outPolic</strong><br/><span>All rights reserved</span></li>
							</ul>
						</div>
					</div>
					<div class="footer-link-widget col">
					<h4 class="widget-title">LSJ</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="#">example1@outpolic.com</a></li>
						    <li><a href="#">Settlement</a></li>
						    <li><a href="#">Goods</a></li>
						    <li><a href="#">Points</a></li>
						    <li><a href="#">Notification</a></li>
						    <li><a href="#">Ticket</a></li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">SSY</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="#">example2@outpolic.com</a></li>
						    <li><a href="#">MyPage</a></li>
						    <li><a href="#">Login</a></li>
						    <li><a href="#">Member</a></li>
						    <li><a href="#">Enter</a></li>
						    <li><a href="#">Register</a></li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">KHB</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="#">example3@outpolic.com</a></li>
						    <li><a href="#">Search</a></li>
						    <li><a href="#">Category</a></li>
						    <li><a href="#">Tag</a></li>
						    <li><a href="#">Bookmark</a></li>
						    <li><a href="#">Review</a></li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">YSR</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="#">example4@outpolic.com</a></li>
						    <li><a href="#">Inquiry</a></li>
						    <li><a href="#">Declaration</a></li>
						    <li><a href="#">Limits</a></li>
						    <li><a href="#">Outsourting Status</a></li>
						    <li><a href="#">Chat</a></li>
						</ul>
					</div>
					<div class="footer-link-widget col">
						<h4 class="widget-title">KJW</h4>
						<ul class="footer-list mb-sm-5 mb-md-0">
						    <li><a href="#">example5@outpolic.com</a></li>
						    <li><a href="#">Portfolio</a></li>
						    <li><a href="#">Outsourcing</a></li>
						    <li><a href="#">Contract</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
	</footer>
</html>