<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/user/assets/imgs/theme/favicon.svg}" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user/assets/css/plugins/slider-range.css" />
    <link rel="stylesheet" href="/user/assets/css/main.css?v=5.6" />
    <!-- 라이브러리 CSS (Slick Slider) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
	<th:block layout:fragment="cssScript"></th:block>
	
	<!-- 커스텀 CSS (만든거) -->
    <link rel="stylesheet" th:href="@{/user/assets/css/userChatRoom.css}" />
    <link rel="stylesheet" th:href="@{/user/assets/css/userRanking.css}" />
</head>

<body>
	<!-- header start -->
	<header th:replace="~{user/fragments/userHeader :: userHeaderFragment}"></header>
	<!-- header end -->
	
	<!-- mobile-header Start -->
	<section th:replace="~{user/fragments/userMobileHeader :: userMobileHeaderFragment}"></section>
	<!-- mobile-header End -->
	
	<div class="main">
		<div class="page-content pt-30 pb-150 d-flex " >
		    <div class="container">
			    <main layout:fragment="contents">
				</main>
		    </div>
		</div>
    </div>
    <div th:replace="~{user/fragments/userChatRoom :: userChatRoomFragment}"></div>
    <footer th:replace="~{user/fragments/userFooter :: userFooterFragment}"></footer>
	
	<!-- jQuery + Slick 라이브러리 추가 -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
	<!-- Vendor JS-->
	<script th:src="@{/user/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
	<script th:src="@{/user/assets/js/vendor/jquery-3.6.0.min.js}"></script>
	<script th:src="@{/user/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
	<script th:src="@{/user/assets/js/vendor/bootstrap.bundle.min.js}"></script>

	<script th:src="@{/user/assets/js/plugins/slick.js}"></script>
	<script th:src="@{/user/assets/js/plugins/jquery.syotimer.min.js}"></script>
	<script th:src="@{/user/assets/js/plugins/wow.js}"></script>
	<script th:src="@{/user/assets/js/plugins/slider-range.js}"></script>
	<script th:src="@{/user/assets/js/plugins/perfect-scrollbar.js}"></script>
	<script th:src="@{/user/assets/js/plugins/magnific-popup.js}"></script>
	<script th:src="@{/user/assets/js/plugins/select2.min.js}"></script>
	<script th:src="@{/user/assets/js/plugins/waypoints.js}"></script>
	<script th:src="@{/user/assets/js/plugins/counterup.js}"></script>
	<script th:src="@{/user/assets/js/plugins/jquery.countdown.min.js}"></script>
	<script th:src="@{/user/assets/js/plugins/images-loaded.js}"></script>
	<script th:src="@{/user/assets/js/plugins/isotope.js}"></script>
	<script th:src="@{/user/assets/js/plugins/scrollup.js}"></script>
	<script th:src="@{/user/assets/js/plugins/jquery.vticker-min.js}"></script>
	<script th:src="@{/user/assets/js/plugins/jquery.theia.sticky.js}"></script>
	<script th:src="@{/user/assets/js/plugins/jquery.elevatezoom.js}"></script>
	<script th:src="@{/user/assets/js/main.js}"></script>
	<script th:src="@{/user/assets/js/shop.js}"></script>
	<!-- 리뷰 슬라이드 기능 JS파일 -->
	<script th:src="@{/user/assets/js/slick.js}"></script>
	
	<!--자바스크립트 코드 삽입부위-->
	<th:block layout:fragment="jsFile"></th:block>
	<th:block layout:fragment="jsScript"></th:block>
	
	<!-- 커스텀 JS -->
	<script th:src="@{/user/assets/js/userRanking.js}"></script>
</body>
</html>