<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userEditLayout}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	<body>
		<!-- 회원 정보 수정 페이지 시작 -->
		<th:block layout:fragment="contents">
			<form class="register edit" th:action="@{/userEdit}" method="post" th:object="${userInfo}">
				<div class="form-group">
				    <label for="memberId">아이디</label>
				    <input type="text" id="memberId" name="memberId"  th:value = "*{memberId}" readonly />
				</div>
				<div class="form-group">
				    <label for="memberName">이름</label>
				    <input type="text" id="memberName" name="memberName" th:value = "*{memberName}"/>
				</div>
				<div class="form-group">
				    <label for="memberNickName">닉네임</label>
				    <input type="text" id="memberNickName" name="memberNickName" th:value = "*{memberNickName}" />
				    <button type="button" class="btn" id="nicknmDupleBtn">중복확인</button>
				</div>
				<div class="form-group">
				    <label for="memberEmail">이메일</label>
				    <input type="email" id="memberEmail" name="memberEmail" th:value ="*{memberEmail}"  required />
				</div>
				<div class="form-group">
				    <label for="memberTelNo">전화번호</label>
				    <input type="text" id="memberTelNo" name="memberTelNo" th:value = "*{memberTelNo}" required />
				    <button type="button" class="btn btn-send-code text-white" id="sendCodeBtn">인증번호 발송</button>
				</div>
				
				<div class="form-group">
				    <label for="code">인증번호 입력</label>
				    <input type="text" id="authCodeInput" name="code" placeholder="인증번호 입력"/>
				    <button type="button" class="btn btn-verify-code text-white">인증</button>
				</div>
				<div class="form-group">
				    <label for="memberBirth">생일</label>
				    <input type="date" id="memberBirth" name="memberBirth" class="form-control" th:value ="*{memberBirth}"  required/>
				</div>
				<!-- 주소 섹션 -->
				<h4 style="color: #6c757d;" class="mb-10">주소</h4>
				<div class="form-group">
				    <label for="sample4_postcode">우편번호</label>
			        <input type="text" id="sample4_postcode" name="memberZip" class="form-control" th:value ="*{memberZip}" readonly />
			        <button type="button" class="btn btn-outline-secondary" id="postcodeBtn">우편번호 찾기</button>
				</div>
				<div class="form-group">
				    <label for="sample4_roadAddress">도로명 주소</label>
				    <input type="text" id="sample4_roadAddress" name="memberAddress" class="form-control" th:value = "*{memberAddress}" readonly />
				</div>
				<div class="form-group">
				    <label for="sample4_jibunAddress">지번 주소</label>
				    <input type="text" id="sample4_jibunAddress" name="jibunAddress" class="form-control" placeholder="지번 주소" readonly />
				</div>
				<div class="form-group">
				    <label for="sample4_detailAddress">상세 주소</label>
				    <input type="text" id="sample4_detailAddress" name="memberDAddress" class="form-control" th:value ="*{memberDAddress}"  />
				</div>
				<span id="guide" style="color:#999; display:none"></span>
	
			 	<div class="form-group btnSave">
	                <button type="button" id="btnSave" class="btn btn-primary w-70 fw-bold">정보 수정</button>
	            </div>
	        </form>
						
			<th:block layout:fragment="jsScript">
			    <!-- JS 라이브러리 -->
			    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
			    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		
			    <script>
			    	// 회원정보 불러오기 및 수정
			        $(document).ready(function () {
			            console.log("JS Fragment 동작 중");
		
			            // 1) 정보 불러오기
			            $.ajax({
			                url: '/userEdit/info',
			                method: 'GET',
			                success: function (data) {
			                    console.log('회원 정보:', data);
			                    $('#memberName').val(data.memberName);
			                    $('#memberNickName').val(data.memberNickName);
			                    $('#memberTelNo').val(data.memberTelNo);
			                    $('#sample4_roadAddress').val(data.memberAddress);
			                    $('#sample4_detailAddress').val(data.memberDAddress);
			                    $('#sample4_postcode').val(data.memberZip);
			                    $('#memberEmail').val(data.memberEmail);
			                    $('#memberBirth').val(data.memberBirth);
			                    $('#memberJoinDate').val(data.memberJoinDate);
			                },
			                error: function () {
			                    alert('회원 정보 조회 실패');
			                }
			            });
			            let isDupleNick = false;
			            //닉네임 중복 확인
			            $('#nicknmDupleBtn').click(function () {
			            	 const nickname = $('#memberNickName').val().trim();
			            	    if (!nickname) {
							        alert("닉네임을 입력해주세요");
							        return;
							    }
							    $.ajax({
							    	url : '/check-nickname',
							    	type : 'GET',
							    	data : { memberNickName : nickname },
							    	success: function(res){
								    	if(res === false){
								    		alert("사용가능한 닉네임입니다");
								    		isDupleNick = true;
								    	}
							    	},
							    	error: function(xhr){
							    		alert("닉네임이 중복입니다. 다른 닉네임을 입력하세요")
							    		isDupleNick = false;
							    	}
							    });
			            });
			            
			            
			          /*  
			            let isVerified = false; 
			            // 회원 휴대폰 인증번호 발송
			         $('#sendCodeBtn').click(function () {
			          const phone = $('#memberTelNo').val();
			          
					    $.ajax({
					      type: 'POST',
					      url: '/send-code',
					       data: { phone: phone },
					      success: function (res) {
					      alert("인증번호가 발송되었습니다");
					      },
					      error: function (xhr) {
					      	alert('인증번호 발송 실패: ' + xhr.responseText);
					      }
					    });
					  });
					  
					  //인증번호 검토
					  $('.btn-verify-code').click(function () {
						  const code = $('#authCodeInput').val();  // 인증번호 입력창에서 값 가져오기
					      if (!code) {
						        alert('인증번호를 입력해주세요.');
						        return;
						    }
						
						  $.ajax({
						    type: 'POST',
						    url: '/verify-code',
						    data: { code: code },
						    success: function (res) {
						      alert('인증 성공: ' + res);
						       isVerified = true;
						    },
						    error: function (xhr) {
						      alert('인증 실패: ' + xhr.responseText);
						      isVerified = false;
						    }
						  });
						}); */
					  
					  //주소 api 활용
				    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
				  
					    function sample4_execDaumPostcode() {
					        new daum.Postcode({
					            oncomplete: function(data) {
					                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
					
					                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
					                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
					                var roadAddr = data.roadAddress; // 도로명 주소 변수
					                var extraRoadAddr = ''; // 참고 항목 변수
					
					                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
					                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
					                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
					                    extraRoadAddr += data.bname;
					                }
					                // 건물명이 있고, 공동주택일 경우 추가한다.
					                if(data.buildingName !== '' && data.apartment === 'Y'){
					                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
					                }
					                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
					                if(extraRoadAddr !== ''){
					                    extraRoadAddr = ' (' + extraRoadAddr + ')';
					                }
					
					                // 우편번호와 주소 정보를 해당 필드에 넣는다.
					                document.getElementById('sample4_postcode').value = data.zonecode;
					                document.getElementById("sample4_roadAddress").value = roadAddr;
					                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;
					
					                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
					                if(data.autoRoadAddress) {
					                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
					                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
					                    guideTextBox.style.display = 'block';
					
					                } else if(data.autoJibunAddress) {
					                    var expJibunAddr = data.autoJibunAddress;
					                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
					                    guideTextBox.style.display = 'block';
					                } else {
					                    guideTextBox.innerHTML = '';
					                    guideTextBox.style.display = 'none';
					                }
					            }
					        }).open();
					    }
						// 우편번호 찾기 호출    
					    $('#postcodeBtn').click(function () {
						    sample4_execDaumPostcode();  
						});
								//!isVerified || 
			            // 2) 수정 요청
			            $('#btnSave').on('click', function () {
			            if (!isDupleNick) {
					        alert('인증을 완료해주세요.');
					        return;
					    }
			                console.log('저장 버튼 클릭됨');
			                const userInfo = {
			                    memberId: $('#memberId').val(), 
			                    memberName: $('#memberName').val(),
			                    memberNickName: $('#memberNickName').val(),
			                    memberTelNo: $('#memberTelNo').val(),
			                    memberAddress: $('#sample4_roadAddress').val(),
			                    memberDAddress: $('#sample4_detailAddress').val(),
			                    memberZip: $('#sample4_postcode').val(),
			                    memberEmail: $('#memberEmail').val(),
			                    memberBirth: $('#memberBirth').val(),
			                    memberJoinDate: $('#memberJoinDate').val()
			                };
		
			                $.ajax({
			                    url: '/userEdit/update',
			                    method: 'POST',
			                    contentType: 'application/json',
			                    data: JSON.stringify(userInfo),
			                    success: function (res) {
			                        console.log('✅ 서버 응답:', res);
			                        if (res === 'success') {
			                            alert('정보가 성공적으로 수정되었습니다.');
										window.location.href = '/mypage';
			                        } else {
			                            alert('수정에 실패했습니다.');
			                        }
			                    },
			                    error: function () {
			                        alert('서버와 통신 중 오류가 발생했습니다.');
			                    }
			                });
			            });
			        });
			        
			        
			    </script>
			</th:block>
		</th:block>
	</body>
</html>