<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outpolic.enter.portfolio.mapper.FileMapper">
	
	<resultMap type="outpolic.enter.portfolio.domain.FileMetaData" id="fileResultMap">
		<result property="fileIdx" column="file_cd"/>
		<result property="fileRegYmdt" column="file_reg_ymdt"/>
		<result property="fileMdfcnYmdt" column="file_mdfcn_ymdt"/>
		<result property="fileExtn" column="file_extn"/>
		<result property="fileOriginalName" column="file_orgnl_nm"/>
		<result property="fileNewName" column="file_srvr_nm"/>
		<result property="filePath" column="file_path"/>
		<result property="clCd" column="cl_cd"/>
		<result property="mbrCd" column="mbr_cd"/>
	</resultMap>

	<delete id="deleteFileByIdx" parameterType="String">
		DELETE FROM file WHERE file_cd = #{fileIdx}
	</delete>

	<select id="getFileInfoByIdx" parameterType="String" resultMap="fileResultMap">
		SELECT * FROM file WHERE file_cd = #{fileIdx}
	</select>

	<select id="getFileList" resultMap="fileResultMap">
		SELECT * FROM file ORDER BY file_reg_ymdt DESC
	</select>

	<insert id="addFile" parameterType="outpolic.enter.portfolio.domain.FileMetaData">
		INSERT INTO file (file_cd, file_reg_ymdt, file_extn, file_orgnl_nm, file_srvr_nm, file_path, cl_cd, mbr_cd)
		VALUES (#{fileIdx}, NOW(), #{fileExtn}, #{fileOriginalName}, #{fileNewName}, #{filePath}, #{clCd}, #{mbrCd})
	</insert>

	<insert id="addFiles" parameterType="java.util.List">
		INSERT INTO file (file_cd, file_reg_ymdt, file_extn, file_orgnl_nm, file_srvr_nm, file_path, cl_cd, mbr_cd)
		VALUES
		<foreach collection="list" item="file" separator=",">
			(#{file.fileIdx}, NOW(), #{file.fileExtn}, #{file.fileOriginalName}, #{file.fileNewName}, #{file.filePath}, #{file.clCd}, #{file.mbrCd})
		</foreach>
	</insert>
	
	<select id="findLatestFcCode" resultType="String">
        SELECT file_cd 
        FROM file 
        WHERE file_cd LIKE 'FC_C%' 
        ORDER BY CAST(SUBSTRING(file_cd, 5) AS UNSIGNED) DESC 
        LIMIT 1
    </select>
</mapper>