<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminLayoutMain}">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
		<title>외주 진행 현황</title>
	</head>
	
	
	<!-- 컨텐츠 추가 -->
	<th:block layout:fragment="contents">
		<section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">외주 진행 현황</h2>
                        <p>사용자 외주 진행 현황 List</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card mb-4">
                            <header class="card-header">
                                <div class="row gx-3">
                                    <div class="col-lg-4 col-md-6 me-auto">
                                        <input type="text" placeholder="Search..." class="form-control" />
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-6">
                                        <select class="form-select">
                                            <option>Status</option>
                                            <option>Active</option>
                                            <option>Disabled</option>
                                            <option>Show all</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-md-3 col-6">
                                        <select class="form-select">
                                            <option>Show 20</option>
                                            <option>Show 30</option>
                                            <option>Show 40</option>
                                        </select>
                                    </div>
                                </div>
                            </header>
                            <!-- card-header end// -->
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="start text-center col-1">진행외주 CD</th>
                                                <th scope="col" class="text-center col-1">외주신청 CD</th>
                                                <th scope="col" class="text-center col-1">진행단계</th>
                                                <th scope="col" class="text-center col-1">공급자 최초요청</th>
                                                <th scope="col" class="text-center col-1">수요자 승인 여부</th>
                                                <th scope="col" class="text-center col-1">수요자 승인 일시</th>
                                                <th scope="col" class="text-center col-1">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="col" class="text-center">452</td>
                                                <td scope="col" class="text-center"><b>Devon Lane</b></td>
                                                <td scope="col" class="text-center">$948.55</td>
                                                <td scope="col" class="text-center"><span class="badge rounded-pill alert-success">Received</span></td>
                                                <td scope="col" class="text-center">07.05.2020</td>
                                                <td scope="col" class="text-center">07.05.2020</td>
                                                <td scope="col" class="text-center">
                                                    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                                    <div class="dropdown">
                                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">View detail</a>
                                                            <a class="dropdown-item" href="#">Edit info</a>
                                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                                        </div>
                                                    </div>
                                                    <!-- dropdown //end -->
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <!-- table-responsive //end -->
                            </div>
                            <!-- card-body end// -->
                        </div>
                        <!-- card end// -->
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-4">
                            <div class="card-body">
                                <h5 class="mb-3">Filter by</h5>
                                <form>
                                    <div class="mb-4">
                                        <label for="order_id" class="form-label">공급자 ID</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="order_id" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="order_customer" class="form-label">수요자 ID</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="order_customer" />
                                    </div>
                                    <div class="mb-4">
                                        <label for="order_total" class="form-label">진행외주 코드</label>
                                        <input type="text" placeholder="Type here" class="form-control" id="order_total" />
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">단계</label>
                                        <select class="form-select">
                                            <option>계약 체결</option>
                                            <option>초기 기획</option>
                                            <option>작업 진행</option>
                                            <option>최종 완료</option>
                                        </select>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">승인 여부</label>
                                        <select class="form-select">
                                            <option>yes</option>
                                            <option>no</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- card end// -->
                    </div>
                </div>
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>

		
		</th:block>
	
	<!-- 자바스크립트 추가 -->
    <th:block layout:fragment="jsScript">
	</th:block>
</html>