<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outpolic.user.portfolioInquiry.mapper.UserPortfolioInquiryMapper">

    <select id="findLatestOcdCd" resultType="String">
        SELECT ocd_cd
        FROM outsourcing_contract_details
        WHERE ocd_cd LIKE 'OCD_C%'
        ORDER BY CAST(SUBSTRING(ocd_cd, 6) AS UNSIGNED) DESC
        LIMIT 1
    </select>

    <insert id="insertInquiry" parameterType="outpolic.enter.outsourcingRequest.domain.OutsourcingRequestDTO">
        INSERT INTO outsourcing_contract_details (
            ocd_cd,
            ocd_req_type,   -- '문의' 타입
            mbr_cd,         -- 문의하는 사람 (일반회원)
            ent_cd,         -- 문의받는 기업
            cl_cd,          -- 관련 콘텐츠(포트폴리오) 코드
            ocd_ttl,
            ocd_expln,
            ocd_amt,
            ocd_strt_ymdt,
            ocd_dedline,
            ocd_frctn_cmdty,
            ocd_dlvgds_mthd,
            ocd_dmnd_ymdt,  -- 요청일시 (현재 시간)
            stc_cd          -- 초기 상태 ('확인전')
        ) VALUES (
            #{ocd_cd},
            #{ocd_req_type},
            #{mbr_cd},
            #{ent_cd},
            #{cl_cd},
            #{ocd_ttl},
            #{ocd_expln},
            #{ocd_amt},
            #{ocd_strt_ymdt},
            #{ocd_dedline},
            #{ocd_frctn_cmdty},
            #{ocd_dlvgds_mthd},
            NOW(),
            'SD_BEFORE'
        )
    </insert>

</mapper>