<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enter/layout/enterEditLayout}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	<body>	
	<!-- 여기부터 본문 -->
	<!-- 회원 정보 수정 페이지 시작 -->

	<th:block layout:fragment="contents">
		<div class="container">
		  <div class="row justify-content-center">
		    <form class="col-10 row g-4 p-4 border" 
		          style="border-color: #ececec; border-radius:5px;" 
		          th:action="@{/enterpriseEdit}" method="post" th:object="${corpInfo}">
		      
		      <h3 class="fw-bold mb-3">기업 정보 수정</h3>
		      <hr class="mb-4" style="border: none; height: 2px; background-color: #ececec;">
		
		      <!-- 기업명 & 대표자명 -->
		      <div class="col-md-6">
		        <label for="corpName">기업명</label>
		        <input type="text" class="form-control" id="corpName" name="corpName" th:value="*{corpName}" required />
		      </div>
		      <div class="col-md-6">
		        <label for="corpRprsv">대표자명</label>
		        <input type="text" class="form-control" id="corpRprsv" name="corpRprsv" th:value="*{corpRprsv}" required />
		      </div>
		
		      <!-- 대표번호 & 설립일 -->
		      <div class="col-md-6">
		        <label for="corpTelNo">대표번호</label>
		        <input type="text" class="form-control" id="corpTelNo" name="corpTelNo" th:value="*{corpTelNo}" required />
		      </div>
		      <div class="col-md-6">
		        <label for="corpFoundationYmdt">설립일</label>
		        <input type="date" class="form-control" id="corpFoundationYmdt" name="corpFoundationYmdt" th:value="*{corpFoundationYmdt}" required />
		      </div>
		
		      <!-- 주소 섹션 -->
		      <div class="col-12">
		        <h5 class="text-muted fw-bold mt-3">기업 주소</h5>
		      </div>
		
		      <div class="col-md-8">
		        <label for="sample4_postcode">우편번호</label>
		        <input type="text" class="form-control" id="sample4_postcode" name="corpZip" th:value="*{corpZip}" readonly />
		      </div>
		      <div class="col-md-4 d-flex align-items-end">
		        <button type="button" class="btn btn-secondary w-100" id="postcodeBtn">우편번호 찾기</button>
		      </div>
		
		      <div class="col-12">
		        <label for="sample4_roadAddress">도로명 주소</label>
		        <input type="text" class="form-control" id="sample4_roadAddress" name="corpAddress" th:value="*{corpAddress}" readonly />
		      </div>
		
		      <div class="col-12">
		        <label for="sample4_detailAddress">상세 주소</label>
		        <input type="text" class="form-control" id="sample4_detailAddress" name="corpDAddress" th:value="*{corpDAddress}" />
		      </div>
		
		      <!-- 기업 규모 -->
		      <div class="col-md-6">
		        <label for="corpScale">기업 규모(인원수)</label>
		        <input type="text" class="form-control" id="corpScale" name="corpScale" th:value="*{corpScale}" />
		      </div>
		
		      <!-- 기업 설명 -->
		      <div class="col-12">
		        <label for="corpExplain">기업 설명</label>
		        <textarea class="form-control" id="corpExplain" name="corpExplain" style="height: 200px;"
		                  placeholder="기업에 대해 자유롭게 소개해주세요.">[[*{corpExplain}]]</textarea>
		      </div>
		
		      <!-- 저장 버튼 -->
		      <div class="col-12 text-center mt-4">
		        <button type="button" id="btnSave" class="btn btn-primary px-5 py-2 fw-bold">정보 수정</button>
		      </div>
		    </form>
		  </div>
		</div>
	</th:block>
		<th:block layout:fragment="jsScript">
			<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		    <script src="/enter/assets/js/enterServiceAjax.js"></script>
			<script src="/enter/assets/js/enterService.js"></script>
			<script src="/common/assets/js/validate.js"></script>
		</th:block>

		<th:block layout:fragment="jsFile">
		</th:block>
		
		
		</body>
	
	
</html>