<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enter/layout/enterEditLayout}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	<body>	
	<!-- 여기부터 본문 -->
	<!-- 회원 정보 수정 페이지 시작 -->
	<th:block layout:fragment="contents">
	<div class="container">
		<div class="row justify-content-center">
			<form class="register edit col-10 row g-4 p-4 border" style="border-color: #ececec; border-radius:5px;"  th:action="@{/enter/enterEdit}" method="post" th:object="${enterInfo}">
			<h3 class="mb-30 fw-bold">내 정보 수정</h3>
			<hr class="mb-4" style="border: none; height: 2px; background-color: #ececec;">
				<div class="col-md-6">
			        <label for="memberId">아이디</label>
			        <input type="text" class="form-control" id="memberId" name="memberId" th:value="*{memberId}" readonly />
			      </div>
			      <div class="col-md-6">
			        <label for="memberName">이름</label>
			        <input type="text" class="form-control" id="memberName" name="memberName" th:value="*{memberName}" />
			      </div>
			      <div class="col-md-6">
			        <label for="memberNickname">닉네임</label>
			        <div class="input-group">
			          <input type="text" class="form-control" id="memberNickname" name="memberNickname" th:value="*{memberNickname}" />
			          <button type="button" class="btn btn-outline-primary" id="nicknmDupleBtn">중복확인</button>
			        </div>
			      </div>
			      <div class="col-md-6">
			        <label for="memberEmail">이메일</label>
			        <div class="input-group">
			          <input type="email" class="form-control" id="memberEmail" name="memberEmail" th:value="*{memberEmail}" required />
			          <button type="button" class="btn btn-outline-primary" id="emailDupleBtn">중복확인</button>
			        </div>
			      </div>
			      <div class="col-md-6">
			        <label for="memberTelNo">전화번호</label>
			        <input type="text" class="form-control" id="memberTelNo" name="memberTelNo" th:value="*{memberTelNo}" required />
			      </div>
			      <div class="col-md-6">
			        <label for="memberBirth">생일</label>
			        <input type="date" class="form-control" id="memberBirth" name="memberBirth" th:value="*{memberBirth}" required />
			      </div>
			      <div class="col-12">
			        <h5 class="text-muted fw-bold mt-3">주소</h5>
			      </div>
			
			      <div class="col-md-8">
			        <label for="sample4_postcode">우편번호</label>
			        <input type="text" class="form-control" id="sample4_postcode" name="memberZip" th:value="*{memberZip}" readonly />
			      </div>
			      <div class="col-md-4 d-flex align-items-end">
			        <button type="button" class="btn btn-secondary w-100" id="postcodeBtn">우편번호 찾기</button>
			      </div>
			
			      <div class="col-12">
			        <label for="sample4_roadAddress">도로명 주소</label>
			        <input type="text" class="form-control" id="sample4_roadAddress" name="memberAddress" th:value="*{memberAddress}" readonly />
			      </div>
			
			      <div class="col-12">
			        <label for="sample4_jibunAddress">지번 주소</label>
			        <input type="text" class="form-control" id="sample4_jibunAddress" name="jibunAddress" placeholder="지번 주소" readonly />
			      </div>
			
			      <div class="col-12">
			        <label for="sample4_detailAddress">상세 주소</label>
			        <input type="text" class="form-control" id="sample4_detailAddress" name="memberDAddress" th:value="*{memberDAddress}" />
			      </div>
			
			      <!-- 저장 버튼 -->
			      <div class="col-12 text-center mt-4">
			        <button type="button" id="btnSave" class="btn btn-primary px-5 py-2 fw-bold">정보 수정</button>
			      </div>
			    </form>
			  </div>
			</div>				
		</th:block>
		<th:block layout:fragment="jsScript">
			<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		
		    <script src="/user/assets/js/userServiceAjax.js"></script>
			<script src="/user/assets/js/userService.js"></script>
			<script src="/common/assets/js/validate.js"></script>
		</th:block>

		<th:block layout:fragment="jsFile">
		</th:block>
		
		
		</body>
	
	
</html>