<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enter/layout/enterEditLayout}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	<body>	
	<!-- 여기부터 본문 -->
	<!-- 회원 정보 수정 페이지 시작 -->
	<div class="row justify-content-center">
		<th:block layout:fragment="contents">
			<div class="row justify-content-center">
                <div class="padding_eight_all bg-white">
                    <div class="heading_s1 text-center">
                        <h2 class="mb-5 reg-ttl-ssy">회원 정보 수정</h2>
                        <p class="text-muted mb-4 mb-50">개인 또는 기업 정보를 수정할 수 있어요</p>
                    </div>
                    <div class="register-type-box mt-20 mb-50 gap-3">
                        <a th:href="@{/enter/enterEditView}"class="btn btn-outline-dark shadow-sm" style="border : none; width : 30%; border-radius:15px;">
	                        <div class="card-img-wrap">
	                    		<img src="/enter/assets/imgs/outpolic/userEditViewButton.png" style="width : 50%"/>
	                    	</div>
	                        <div class="ms-2 fs-4">개인정보 수정하기</div>
                        </a>
 
                        <a th:href="@{/enterpriseEditView}" class="btn btn-outline-primary shadow-sm" style="border : none; width : 30%; border-radius:15px;">
                         	<div class="card-img-wrap">
                        		<img src="/enter/assets/imgs/outpolic/enterEditViewButton.png" style="width : 50%" />
                        	</div>
                            <div class="ms-2 fs-4">기업정보 수정하기</div>
                        </a>
                    </div>
                </div>
            </div>

		</th:block>
	</div>
		<th:block layout:fragment="jsScript">
			<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
		
		    <script src="/enter/assets/js/enterServiceAjax.js"></script>
			<script src="/enter/assets/js/enterService.js"></script>
			<script src="/common/assets/js/validate.js"></script>
		</th:block>

		<th:block layout:fragment="jsFile">
		</th:block>
		
		
		</body>
	
	
</html>