<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outpolic.user.bookmark.mapper.UserBookmarkMapper">
	<resultMap id="OutsourcingBookmarkResultMap" type="UserBookmarkViewDTO">
	
	    <id property="bmCd" column="bm_cd" />
	    
	    <result property="mbrCd" column="mbr_cd" />
	    <result property="clCd" column="cl_cd" />
	    <result property="bmRegYmdt" column="bm_reg_ymdt" />
	    <result property="cntdCd" column="cntd_cd" />
	    
	    <result property="osCd" column="os_cd" />
	    <result property="osTtl" column="os_ttl" />
	    <result property="osAmt" column="os_amt" />
	    <result property="osThumbnailUrl" column="os_thumbnail_url" />
	    <result property="entNm" column="ent_nm" />
	    <result property="osStcCd" column="stc_cd" />
	</resultMap>
	
	<select id="getBookmarkOsByCode" resultMap="OutsourcingBookmarkResultMap" parameterType="String">
	    SELECT b.bm_cd, b.mbr_cd, b.cl_cd, b.bm_reg_ymdt, cl.cntd_cd,
	           o.os_cd, o.os_ttl, o.os_amt, o.os_thumbnail_url,
	           e.ent_nm, o.stc_cd as osStcCd
	    FROM bookmark b
	    INNER JOIN content_list cl ON b.cl_cd = cl.cl_cd
	    INNER JOIN outsourcing o ON cl.cntd_cd = o.os_cd
	    INNER JOIN enterprise e ON o.ent_cd = e.ent_cd
	    WHERE b.mbr_cd = #{memberCode} AND cl.cntd_cd LIKE 'OS%' AND o.stc_cd = 'SD_ACTIVE'
	    ORDER BY b.bm_reg_ymdt DESC
	</select>

<resultMap id="PortfolioBookmarkResultMap" type="UserBookmarkViewDTO">
    <id property="bmCd" column="bm_cd" />
    <result property="mbrCd" column="mbr_cd" />
    <result property="clCd" column="cl_cd" />
    <result property="bmRegYmdt" column="bm_reg_ymdt" />
    <result property="cntdCd" column="cntd_cd" />

    <result property="prtfCd" column="prtf_cd" />
    <result property="prtfTtl" column="prtf_ttl" />
    <result property="prtfThumbnailUrl" column="prtf_thumbnail_url" />
    <result property="ctgryNm" column="ctgry_nm" />
    <result property="entNm" column="ent_nm" />
    <result property="poStcCd" column="stc_cd" />
</resultMap>

<select id="getBookmarkPoByCode" resultMap="PortfolioBookmarkResultMap" parameterType="String">
    SELECT b.bm_cd, b.mbr_cd, b.cl_cd, b.bm_reg_ymdt, cl.cntd_cd,
           p.prtf_cd, p.prtf_ttl, p.prtf_thumbnail_url,
           c.ctgry_nm, e.ent_nm, p.stc_cd as poStcCd
    FROM bookmark b
    INNER JOIN content_list cl ON b.cl_cd = cl.cl_cd
    INNER JOIN portfolio p ON cl.cntd_cd = p.prtf_cd
    INNER JOIN enterprise e ON p.ent_cd = e.ent_cd
    LEFT JOIN category_mapping cm ON cm.cl_cd = cl.cl_cd
    LEFT JOIN category c ON c.ctgry_id = cm.ctgry_id
    WHERE b.mbr_cd = #{memberCode} AND cl.cntd_cd LIKE 'PO%' and p.stc_cd = 'SD_ACTIVE'
    group by p.prtf_cd
    ORDER BY b.bm_reg_ymdt DESC
</select>

<resultMap id="EnterpriseBookmarkResultMap" type="UserBookmarkViewDTO">
    <id property="bmCd" column="bm_cd" />
    <result property="mbrCd" column="mbr_cd" />
    <result property="clCd" column="cl_cd" />
    <result property="bmRegYmdt" column="bm_reg_ymdt" />
    <result property="cntdCd" column="cntd_cd" />

    <result property="entCd" column="ent_cd" />
    <result property="entNm" column="ent_nm" />
    <result property="entRprsv" column="ent_rprsv" />
    <result property="entImg" column="ent_img" />
    <result property="eiStcCd" column="stc_cd" />
</resultMap>

<select id="getBookmarkEiByCode" resultMap="EnterpriseBookmarkResultMap" parameterType="String">
    SELECT b.bm_cd, b.mbr_cd, b.cl_cd, b.bm_reg_ymdt, cl.cntd_cd,
           e.ent_cd, e.ent_nm, e.ent_rprsv, e.ent_img, e.stc_cd as eiStcCd
    FROM bookmark b
    INNER JOIN content_list cl ON b.cl_cd = cl.cl_cd
    INNER JOIN enterprise e ON cl.cntd_cd = e.ent_cd
    WHERE b.mbr_cd = #{memberCode} AND cl.cntd_cd LIKE 'EI%' and e.stc_cd = 'SD_ACTIVE'
    ORDER BY b.bm_reg_ymdt DESC
</select>


</mapper>







