<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="outpolic.user.settlement.mapper.UserSettlementMapper">

	<select id="selectByMbrCd" resultType="outpolic.user.settlement.dto.UserSettlement">
		SELECT
		    s.stlm_cd           AS stlmCd,
		    s.gds_cd            AS gdsCd,
		    s.stc_cd            AS stcCd,
		    s.stlm_cnt          AS stlmCnt,
		    s.stlm_used_points  AS stlmUsedPoints,
		    s.stlm_final_amt    AS stlmFinalAmt,
		    s.stlm_ymdt         AS stlmYmdt,
		    s.stlm_method       AS stlmMethod,
		    s.stlm_card_type    AS stlmCardType,
		    g.gds_nm            AS gdsNm,
		    sc.stc_nm           AS stcNm
		FROM
		    settlement s
		JOIN
		    goods g ON s.gds_cd = g.gds_cd
		JOIN
		    status_code sc ON s.stc_cd = sc.stc_cd
		WHERE
		    s.mbr_cd = #{mbrCd}
		ORDER BY
		    s.stlm_ymdt DESC
	</select>


</mapper>