<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="outpolic.user.register.mapper.UserRegisterMapper">
	<resultMap type="UserRegisterDTO" id="UserRegisterResultMap">
		<id column="mbr_cd" property="memberCode"/>
		<result column="mbr_id" property="memberId"/>
		<result column="mbr_pw" property="memberPw"/>	
		<result column="grd_cd" property="gradeCode"/>
		<result column="mbr_nm" property="memberName"/>
		<result column="mbr_nicknm" property="memberNickname"/>
		<result column="mbr_telno" property="memberTelNo"/>
		<result column="mbr_addr" property="memberAddress"/>
		<result column="mbr_daddr" property="memberDAddress"/>
		<result column="mbr_zip" property="memberZip"/>
		<result column="mbr_gender" property="memberGender"/>
		<result column="mbr_eml" property="memberEmail"/>
		<result column="stc_cd" property="statusCode"/>
		<result column="mbr_birth" property="memberBirth"/>
		<result column="mbr_join_ymdt" property="memberJoinDate"/>
		<result column="mbr_agre_yn" property="memberAgreeYN"/>
	</resultMap>
    <select id="getNextMemberCode" resultType="String">
    	/* 회원 기본키(mbr_cd) 만드는 쿼리문. */
        SELECT CONCAT('MB_C', LPAD(SUBSTRING(MAX(mbr_cd), 5) + 1, 7, '0')) AS nextCode
        FROM member
        WHERE mbr_cd LIKE 'MB_C%';
    </select>

	<insert id="UserRegister" parameterType="outpolic.common.domain.Member">
		INSERT INTO member
			(mbr_cd, 
			mbr_id, 
			mbr_pw, 
			grd_cd,
			mbr_nm, 
			mbr_nicknm, 
			mbr_telno, 
			mbr_addr, 
			mbr_daddr, 
			mbr_zip, 
			mbr_eml, 
			mbr_birth, 
			stc_cd,
			mbr_gender, 
			mbr_join_ymdt,
			mbr_agre_yn)
		values
			(#{memberCode}, 
			#{memberId}, 
			#{memberPw}, 
			'USER',
			#{memberName}, 
			#{memberNickname},
			#{memberTelNo}, 
			#{memberAddress}, 
			#{memberDAddress}, 
			#{memberZip}, 
			#{memberEmail}, 
			#{memberBirth}, 
			'SD_ACTIVE',
			#{memberGender}, 
			now(),
			#{memberAgreeYN});
	</insert>

	<select id="isNickNameDuplicated" resultType="int">
	    SELECT COUNT(*) > 0
	    FROM member
	    WHERE mbr_nicknm = #{memberNickname}
	</select>
	<select id="isEmailDuplicated" resultType="int">
	    SELECT COUNT(*) > 0
	    FROM member
	    WHERE mbr_eml = #{memberEmail}
	</select>
	<select id="isTelDuplicated" resultType="int">
	    SELECT COUNT(*) > 0
	    FROM member
	    WHERE mbr_telno = #{memberTelNo}
	</select>
	<select id="isIdDuplicated" resultType="int">
	    SELECT COUNT(*) > 0
	    FROM member
	    WHERE mbr_id = #{memberId}
	</select>
	
	<select id="getRandomNickname" resultType="String">
    SELECT 
	        CONCAT(a.na_adjtv, ' ', b.nc_colrs, ' ', c.nka_animals) AS random_nickname
	    FROM 
	        (SELECT na_adjtv FROM nickname_adjectives ORDER BY RAND() LIMIT 1) a,
	        (SELECT nc_colrs FROM nickname_colors ORDER BY RAND() LIMIT 1) b,
	        (SELECT nka_animals FROM nickname_animals ORDER BY RAND() LIMIT 1) c
	    WHERE CONCAT(a.na_adjtv, ' ', b.nc_colrs, ' ', c.nka_animals)
	        NOT IN (SELECT mbr_nicknm FROM member)
	</select>

</mapper>