<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/userLayoutInquiryList}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		
		<link rel="stylesheet" th:href="@{/user/assets/css/userInquiry.css}">
	</head>
	
	<!-- 추가할 js file -->
	
	<th:block layout:fragment="contents">
		<div class="mb-30 mt-50">
			<div class="row">
				<div class="col-lg-10 m-auto">
					<div style="display:flex; justify-content:center">
						<div class="mb-50 text-center" style="width:20%">
						    <h1 class="heading-2 mb-10">문의</h1>
						    <div class="text-center">
							    <ul style="display:flex; justify-content:space-around">
							    	<li><a href="/user/userInquiryTotal">전체</a></li>|
							    	<li><a href="/user/userInquiryNotice">Notice</a></li>|
							    	<li><a href="/user/userInquiryList">문의</a></li>|
							    	<li><a href="/user/userInquiryFaq">FAQ</a></li>
							    </ul>				    
						    </div>
						</div>
					</div>
					<div class="shop-product-fillter" style="display:flex; flex-direction:row-reverse;">
						<div class="totall-product">
						    <p><a href="/user/userInquiryWrite">문의작성</a></p>
						</div>
						<div class="sort-by-product-area">
							<form id="filterForm" method="get" action="/user/userInquiryList" style="display:flex; flex-direction:row-reverse;">
							    <!-- 페이지당 출력 수 -->
							    <div class="sort-by-cover">
							        <div class="sort-by-product-wrap">
							            <div class="sort-by">
							                <span><i class="fi-rs-apps"></i>Show:</span>
							            </div>
							            <div class="sort-by-dropdown-wrap">
							                <select name="size" onchange="document.getElementById('filterForm').submit()">
							                    <option th:selected="${size == 10}" value="10">10</option>
							                    <option th:selected="${size == 15}" value="15">15</option>
							                    <option th:selected="${size == 20}" value="20">20</option>
							                </select>
							            </div>
							        </div>
							    </div>
							
							    <!-- 정렬 -->
							    <div class="sort-by-cover mr-10">
							        <div class="sort-by-product-wrap">
							            <div class="sort-by">
							                <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
							            </div>
							            <div class="sort-by-dropdown-wrap">
							                <select name="sort" onchange="document.getElementById('filterForm').submit()">
							                    <option th:selected="${sort == 'recent'}" value="recent">최근순</option>
							                    <option th:selected="${sort == 'old'}" value="old">과거순</option>
							                    <option th:selected="${sort == 'mine'}" value="mine">내가 쓴 글</option>
							                </select>
							            </div>
							        </div>
							    </div>
							</form>
						</div>
					</div>
					
					<div class="table-responsive shopping-summery">
						<table class="table table-wishlist mb-60">
							<thead>
								<tr class="main-heading" style="border:0px;">
									<th scope="col" class="start text-center col-1">No.</th>
									<th scope="col" class="col-6">제목</th>
									<th scope="col" class="text-center col-2">문의타입</th>
									<th scope="col" class="text-center col-1">작성자</th>
									<th scope="col" class="end text-center col-2">작성일자</th>
								</tr>
							</thead>
							<tbody>
								<tr class="start pt-30"
								    style="border:0px; border-bottom: solid 1px #ececec;"
								    th:each="l, stat : ${inquiryList}">
								    
								    <td class="start text-center">
								        <span th:text="${inquiryList.size() - stat.index}">번호</span>
								    </td>
								    <td scope="col">
								        <span>
								        	<i th:if="${l.inquirySecret == 1}" class="fas fa-lock" style="color: #6c757d; font-size: 0.9em; margin-right: 5px;" title="비밀글"></i>
								            <a th:href="@{/user/userInquiryDetail(iq_cd=${l.inquiryCode})}"
											   th:text="${l.inquiryTitle}"
											   style="color: black; text-decoration: none;"
											   onmouseover="this.style.color='#3BB77E'"
											   onmouseout="this.style.color='black'">
											   제목
											</a>
								        </span>
								    </td>
								    <td scope="col" class="text-center" th:text="${l.inquiryTypeName}">문의타입</td>
								    <td scope="col" class="text-center" th:text="${l.memberName}">작성자</td>
								    <td scope="col" class="text-center" th:text="${l.inquiryRegDate}">등록일자</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div th:replace="~{user/fragments/userPagination :: pagination(${pageInfo}, '/user/userInquiryList?page=&size=' + ${size} + '&sort=' + ${sort})}"></div>
				</div>
			</div>
		</div>
	</th:block>
</html>