!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/enter/assets/css/main.css?v=5.6}" />
</head>
<body>
    <header th:replace="~{enter/fragments/enterHeader :: enterHeaderFragment}"></header>

    <div class="main">
        <main layout:fragment="contents"></main>
    </div>
    
    <footer th:replace="~{enter/fragments/enterFooter :: enterFooterFragment}"></footer>
    
    <script th:src="@{/enter/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <th:block layout:fragment="jsFile"></th:block>
</body>
</html>