<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8" />
    <title>enter 메인 화면</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/enter/assets/imgs/theme/favicon.svg}" />
    <meta name="userScd" th:content="${session.SCD}">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/enter/assets/css/plugins/slider-range.css}" />
    <link rel="stylesheet" th:href="@{/enter/assets/css/enterRanking.css}" />
    <link rel="stylesheet" th:href="@{/enter/assets/css/main.css?v=5.6}" />
    <link rel="stylesheet" th:href="@{/enter/assets/css/enterChatRoom.css}" />
</head>

<body>
	<!-- header start -->
	<header th:replace="~{enter/fragments/enterHeader :: enterHeaderFragment}"></header>
	<!-- header end -->
	
	<main class="main">
	    <div class="container mb-30" style="width:1341.66px;">
	        <div class="row"> <!-- flex-row-reverse 클래스는 필요하다면 유지 -->
			    <div th:replace="~{enter/fragments/enterNavi :: enterNaviFragment(title=${title})}"></div>
	            
	            <!-- 1. 사이드바 영역: 전체의 1/5 너비를 차지하는 별도의 div -->
	            <div class="col-lg-1-5 primary-sidebar sticky-sidebar">
	                <div th:replace="~{enter/fragments/enterCategorySidebar :: enterCategorySidebarFragment}"></div>
	            </div>
	
	            <!-- 2. 메인 콘텐츠 영역: 전체의 4/5 너비를 차지하는 별도의 div -->
	            <div class="col-lg-4-5">
	                <!-- <div th:replace="~{enter/fragments/enterProductFillter :: enterProductFilterFragment}"></div> -->
	                
	                <!-- 실제 페이지 내용이 여기에 들어옵니다 -->
	                <div class="row">
	                    <th:block layout:fragment="contents"></th:block>
	                </div>
	            </div>
	
	        </div>
	    </div>
	</main>
    
    <div th:replace="~{enter/fragments/enterChatRoom :: enterChatRoomFragment}"></div>
    <footer th:replace="~{enter/fragments/enterFooter :: enterFooterFragment}"></footer>
	
	
	<!-- Vendor JS-->
    <script th:src="@{/enter/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
    <script th:src="@{/enter/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/enter/assets/js/vendor/jquery-migrate-3.3.0.min.js}"></script>
    <script th:src="@{/enter/assets/js/vendor/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/slick.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/jquery.syotimer.min.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/wow.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/slider-range.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/perfect-scrollbar.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/magnific-popup.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/select2.min.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/waypoints.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/counterup.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/jquery.countdown.min.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/images-loaded.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/isotope.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/scrollup.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/jquery.vticker-min.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/jquery.theia.sticky.js}"></script>
    <script th:src="@{/enter/assets/js/plugins/jquery.elevatezoom.js}"></script>
    <!-- Template  JS -->
    <script th:src="@{/enter/assets/js/main.js?v=5.6}"></script>
    <script th:src="@{/enter/assets/js/shop.js?v=5.6}"></script>
    
    <script layout:fragment="jsScript"></script>
    
</body>
</html>