<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/enter/assets/css/main.css?v=5.6}" />
    <link rel="stylesheet" href="/enter/assets/css/enterChatRoom.css" />
    <meta name="userScd" th:content="${session.SCD}">
</head>
<body>
    <header th:replace="~{enter/fragments/enterHeader :: enterHeaderFragment}"></header>

    <div class="main">
        
        <div class="page-content pt-100 pb-150" >
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-10 m-auto">
		            <main layout:fragment="contents"></main>
		            </div>
		        </div>
		     </div>
		 </div>           
        
    </div>
    
    <div th:replace="~{enter/fragments/enterChatRoom :: enterChatRoomFragment}"></div>
    <footer th:replace="~{enter/fragments/enterFooter :: enterFooterFragment}"></footer>
    
    <script th:src="@{/enter/assets/js/vendor/jquery-3.6.0.min.js}"></script>
    <th:block layout:fragment="jsFile"></th:block>
</body>
</html>