<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminLayoutMain}">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
		<title>제재 자원 등록</title>
	</head>
	
	<th:block layout:fragment="contents">
		<section class="content-main">
            <div class="content-header">
	            <h2 class="content-title">제재 자원 등록</h2>
	            <div>
	                <button class="btn btn-md rounded font-sm hover-up" id="tab-register-button">등록</button>
	            </div>
	        </div>
           	<div class="card mb-4 search-filter-card">
	            <div class="card-body search-filter-body">
	                <div class="table-responsive">
	                    <table class="search-filter-table">
							<tbody>
								<tr>
									<th>기본검색</th>
									<td>
										<select class="form-select" style="width: 120px;">
											<option>제목</option>
											<option>내용</option>
											<option>문의코드</option>
											<option>작성자</option>
										</select>
										<input type="text" placeholder="검색어를 입력하세요" class="form-control" style="width: 250px;" />
									</td>
								</tr>
								<tr>
									<th>기간검색</th>
									<td>
										<select class="form-select" style="width: 120px;">
											<option>작성일자</option>
											<option>수정일자</option>
										</select>
										<input type="date" class="form-control" style="width: 150px;" />
										<span> ~ </span>
										<input type="date" class="form-control" style="width: 150px;" />
										<button type="button" class="btn btn-sm btn-light">오늘</button>
										<button type="button" class="btn btn-sm btn-light">어제</button>
										<button type="button" class="btn btn-sm btn-light">일주일</button>
										<button type="button" class="btn btn-sm btn-light">지난달</button>
										<button type="button" class="btn btn-sm btn-light">1개월</button>
										<button type="button" class="btn btn-sm btn-light">3개월</button>
										<button type="button" class="btn btn-sm btn-light">전체</button>
									</td>
								</tr>
								<tr>
									<th>처리상태</th>
									<td>
										<div class="radio-group">
											<label><input type="radio" name="levelSearch" value="all" checked /> 전체</label>
											<label><input type="radio" name="levelSearch" value="general" /> 확인전</label>
											<label><input type="radio" name="levelSearch" value="excellent" /> 처리중</label>
											<label><input type="radio" name="levelSearch" value="special" /> 처리완료</label>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="search-filter-buttons">
							<button type="button" class="btn btn-primary">검색</button>
							<button type="button" class="btn btn-secondary">초기화</button>
						</div>
	                </div>
	            </div>
	        </div>
	          
            <div class="col-12">
            	<div class="content-header mb-0">
					<aside>
					    <nav class="nav nav-pills mb-4" id="limits-tab">
					        <a class="nav-link active" data-tab="type" href="#">제재 타입</a>
					        <a class="nav-link" data-tab="period" href="#">제재 기간</a>
					        <a class="nav-link" data-tab="reason" href="#">제재 사유</a>
					    </nav>
					</aside>
				</div>
			</div>
			
            <div class="col-12">
            	<div class="card" id="type">
                	<div class="card-body">
		                <div class="table-responsive">
		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th scope="col" class="start text-center col-1">제재타입코드</th>
		                                <th scope="col" class="text-center col-1">제재타입명</th>
		                                <th scope="col" class="text-center col-1">타입설명</th>
		                                <th scope="col" class="text-center col-1">타입상태코드</th>
		                                <th scope="col" class="text-center col-1">등록자</th>
		                                <th scope="col" class="text-center col-1">최초등록일시</th>
		                                <th scope="col" class="text-center col-1">수정자</th>
		                                <th scope="col" class="text-center col-1">최종수정일시</th>
		                                <th scope="col" class="end text-center col-1">Action</th>
		                            </tr>
		                        </thead>
		                        <tbody  th:if="${adminLimitsTypeList != null}">
									<tr class="start pt-30"
									    style="border:0px; border-bottom: solid 1px #ececec;"
									    th:each="dt : ${adminLimitsTypeList}">
									    
									    <td class="start text-center">
									        <span th:text="${dt.limitsTypeCode}">제재타입코드</span>
									    </td>
									    <td scope="col" class="text-center" th:text="${dt.limitsTypeName}">제재타입명</td>
									    <td scope="col" class="text-center" th:text="${dt.limitsTypeExpln}">타입설명</td>
									    <td scope="col" class="text-center" th:switch="${dt.limitsTypeStcName}">
		                                	<span th:case="${'활성'}" class="badge rounded-pill alert-success">활성</span>
		                                	<span th:case="${'비활성'}" class="badge rounded-pill alert-info">비활성</span>
		                                </td>
									    <td scope="col" class="text-center" th:text="${dt.limitsTypeRegAdmCode}">등록자</td>
									    <td scope="col" class="text-center" th:text="${dt.limitsTypeRegYmdt}">최초등록일시</td>
									    <td scope="col" class="text-center" th:text="${dt.limitsTypeMdfcnAdmCode}">수정자</td>
									    <td scope="col" class="text-center" th:text="${dt.limitsTypeMdfcnYmdt}">최종수정일시</td>
									    <td scope="col" class="text-center">
											<a href="#" class="btn btn-light rounded font-sm SR_open-popup-btn"
											   data-modal-target="typeMdfcnModal"
											   th:data-limits-type-code="${dt.limitsTypeCode}">수정</a>
										</td>
									</tr>
								</tbody>
		                    </table>
		                </div>
		            </div>
            	</div>
            	<div class="card d-none" id="period">
                	<div class="card-body">
		                <div class="table-responsive">
		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th scope="col" class="start text-center col-1">제재기간코드</th>
		                                <th scope="col" class="text-center col-1">제재기간명</th>
		                                <th scope="col" class="text-center col-1">제재기간일수</th>
		                                <th scope="col" class="text-center col-1">상태</th>
		                                <th scope="col" class="text-center col-1">등록자</th>
		                                <th scope="col" class="text-center col-1">최초등록일시</th>
		                                <th scope="col" class="text-center col-1">수정자</th>
		                                <th scope="col" class="text-center col-1">최종수정일시</th>
		                                <th scope="col" class="end text-center col-1">Action</th>
		                            </tr>
		                        </thead>
		                        <tbody th:if="${adminLimitsPeriodList != null}">
									<tr class="start pt-30"
									    style="border:0px; border-bottom: solid 1px #ececec;"
									    th:each="dp : ${adminLimitsPeriodList}">
									    
									    <td class="start text-center">
									        <span th:text="${dp.limitsPeriodCode}">제재기간코드</span>
									    </td>
									    <td scope="col" class="text-center" th:text="${dp.limitsPeriodName}">제재기간명</td>
									    <td scope="col" class="text-center" th:text="${dp.limitsPeriodDays}">제재기간일수</td>
									    <td scope="col" class="text-center" th:switch="${dp.limitsTypeStcName}">
		                                	<span th:case="${'활성'}" class="badge rounded-pill alert-success">활성</span>
		                                	<span th:case="${'비활성'}" class="badge rounded-pill alert-info">비활성</span>
		                                </td>
									    <td scope="col" class="text-center" th:text="${dp.limitsPeriodRegAdmCode}">등록자</td>
									    <td scope="col" class="text-center" th:text="${dp.limitsPeriodRegYmdt}">최초등록일시</td>
									    <td scope="col" class="text-center" th:text="${dp.limitsPeriodMdfcnAdmCode}">수정자</td>
									    <td scope="col" class="text-center" th:text="${dp.limitsPeriodMdfcnYmdt}">최종수정일시</td>
									    <td scope="col" class="text-center">
											<a href="#" class="btn btn-light rounded font-sm SR_open-popup-btn" 
											   data-modal-target="periodMdfcnModal"
											   th:data-limits-period-code="${dp.limitsPeriodCode}">수정</a>
										</td>
									</tr>
								</tbody>
		                    </table>
		                </div>
		            </div>
            	</div>
            	<div class="card d-none" id="reason">
                	<div class="card-body">
		                <div class="table-responsive">
		                    <table class="table table-hover">
		                        <thead>
		                            <tr>
		                                <th scope="col" class="start text-center col-1">제재사유코드</th>
		                                <th scope="col" class="text-center col-1">신고타입</th>
		                                <th scope="col" class="text-center col-1">신고사유</th>
		                                <th scope="col" class="text-center col-1">제재타입</th>
		                                <th scope="col" class="text-center col-1">제재기간</th>
		                                <th scope="col" class="text-center col-1">제재조건</th>
		                                <th scope="col" class="text-center col-3">사유설명</th>
		                                <th scope="col" class="text-center col-1">상태</th>
		                                <th scope="col" class="end text-center col-1">Action</th>
		                            </tr>
		                        </thead>
		                        <tbody th:if="${adminLimitsReasonList != null}">
									<tr class="start pt-30"
									    style="border:0px; border-bottom: solid 1px #ececec;"
									    th:each="dr : ${adminLimitsReasonList}">
									    
									    <td class="start text-center">
									        <span th:text="${dr.limitsReasonCode}">제재사유코드</span>
									    </td>
									    <td scope="col" class="text-center" th:text="${dr.DeclarationTypeName}">신고타입</td>
									    <td scope="col" class="text-center" th:text="${dr.DeclarationReasonName}">신고사유</td>
									    <td scope="col" class="text-center" th:text="${dr.limitsTypeName}">제재타입</td>
									    <td scope="col" class="text-center" th:text="${dr.limitsPeriodName}">제재기간</td>
									    <td scope="col" class="text-center" th:text="${dr.limitsReasonCnd}">제재조건</td>
									    <td scope="col" class="text-center" th:text="${dr.limitsReasonExpln}">사유설명</td>
									    <td scope="col" class="text-center" th:switch="${dr.limitsTypeStcName}">
		                                	<span th:case="${'활성'}" class="badge rounded-pill alert-success">활성</span>
		                                	<span th:case="${'비활성'}" class="badge rounded-pill alert-info">비활성</span>
		                                </td>
									    <td scope="col" class="text-center">
											<a href="#" class="btn btn-light rounded font-sm SR_open-popup-btn" data-modal-target="reasonMdfcnModal">수정</a>
											<a href="#" class="btn btn-md rounded font-sm SR_open-answer-popup-btn">상세</a>
										</td>
									</tr>
								</tbody>
		                    </table>
		                </div>
		            </div>
            	</div>
            </div>
	    </section>
	    
	    <!-- 제재 타입 등록 모달 -->
	    <div id="typeModal" class="SR_modal">
			<div class="SR_modal-content-wrapper">
				<div class="SR_popup-header">
					<h2>제재 타입 등록</h2>
					<button class="SR_close-button">&times;</button>
				</div>
                <form id="typeRegisterForm">
					<div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label">제재타입코드*</label>
                            <input type="text" id="typeCode" name="typeCode" class="SR_form-control"  placeholder="제재 타입 코드 영문명을 입력하세요">
                        </div>
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="typeName">제재타입명*</label>
                            <input type="text" id="typeName" name="typeName" class="SR_form-control" placeholder="제재 타입명을 입력하세요">
                        </div>
					</div>
					<div class="SR_form-group SR_full-width">
						<label class="col-lg-3 col-form-label" for="typeExpln">타입설명*</label>
						<textarea id="typeExpln" name="typeExpln" class="SR_form-control" rows="5"  placeholder="제재 타입에 대해 설명하세요"></textarea>
					</div>
					<div class="row mb-4">
						<div class="SR_form-group mb-0">
		                   <label class="col-lg-1 col-form-label pb-0 mb-0">Status*</label>
						</div>
	                   <div class="col-lg-8 ml-20" style="display: flex; flex-direction: row;">
							<label class="form-check my-2">
								<input type="radio" class="form-check-input" name="typeStatus" value="SD_ACTIVE" />
								<span class="form-check-label">활성</span>
							</label>
							<label class="form-check my-2 ml-20">
								<input type="radio" class="form-check-input" name="typeStatus" value="SD_INACTIVE" />
								<span class="form-check-label">비활성</span>
							</label>
						</div>
	               	</div>
				    <div class="SR_popup-footer">
                        <div class="SR_update-info">
                        </div>
						<button class="btn btn-primary" type="submit">등록</button>
					</div>
				</form>
			</div>
		</div>
		
		<!-- 제재 타입 수정 모달 -->
		<div id="typeMdfcnModal" class="SR_modal">
			<div class="SR_modal-content-wrapper">
				<div class="SR_popup-header">
					<h2>제재 타입 수정</h2>
					<button class="SR_close-button">&times;</button>
				</div>
				<form id="typeEditForm">
                    <div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label">등록자</label>
                            <input type="text" id="typeEditRegAdm" name="typeEditRegAdm" class="SR_form-control" readonly>
                        </div>
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="typeEditRegYmdt">등록일시</label>
                            <input type="text" id="typeEditRegYmdt" name="typeEditRegYmdt" class="SR_form-control" readonly>
                        </div>
					</div>

                    <div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="typeEditCode">제재타입 코드</label>
                            <input type="text" id="typeEditCode" name="typeEditCode" class="SR_form-control" readonly>
                        </div>
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="typeEditName">제재타입명</label>
                            <input type="text" id="typeEditName" name="typeEditName" class="SR_form-control">
                        </div>
					</div>

                    <div class="SR_form-group SR_full-width">
						<label class="col-lg-3 col-form-label" for="typeEditExpln">타입 설명</label>
						<textarea id="typeEditExpln" name="typeEditExpln" class="SR_form-control" rows="5"></textarea>
					</div>
					<div class="row mb-4">
						<div class="SR_form-group mb-0">
		                   <label class="col-lg-1 col-form-label pb-0 mb-0">Status</label>
						</div>
	                   <div class="col-lg-8 ml-20" style="display: flex; flex-direction: row;">
							<label class="form-check my-2">
								<input type="radio" class="form-check-input" name="typeEditStatus" value="SD_ACTIVE" />
								<span class="form-check-label">활성</span>
							</label>
							<label class="form-check my-2 ml-20">
								<input type="radio" class="form-check-input" name="typeEditStatus" value="SD_INACTIVE" />
								<span class="form-check-label">비활성</span>
							</label>
						</div>
	               	</div>
					<div class="SR_popup-footer">
                        <div class="SR_update-info">
                        </div>
						<button type="submit" id="saveButton" class="btn btn-md rounded font-sm">저장</button>
					</div>
				</form>
			</div>
		</div>
		
		<!-- 제재 기간 등록 모달 -->
		<div id="periodModal" class="SR_modal">
			<div class="SR_modal-content-wrapper">
				<div class="SR_popup-header">
					<h2>제재 기간 등록</h2>
					<button class="SR_close-button">&times;</button>
				</div>
                <form id="periodRegisterForm">
					<div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label">제재기간코드*</label>
                            <input type="text" id="periodCode" name="periodCode" class="SR_form-control"  placeholder="제재 기간 코드 영문명을 입력하세요">
                        </div>
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="periodName">제재기간명*</label>
                            <input type="text" id="periodName" name="periodName" class="SR_form-control" placeholder="제재 기간명을 입력하세요">
                        </div>
					</div>
					<div class="SR_form-group SR_full-width">
						<label class="col-lg-3 col-form-label" for="periodDays">제재기간 일수*</label>
						<input type="number" id="periodDays" name="periodDays" class="SR_form-control" placeholder="제재 기간 일수를 입력하세요">
					</div>
					<div class="row mb-4">
						<div class="SR_form-group mb-0">
		                   <label class="col-lg-1 col-form-label pb-0 mb-0">Status*</label>
						</div>
	                   <div class="col-lg-8 ml-20" style="display: flex; flex-direction: row;">
							<label class="form-check my-2">
								<input type="radio" class="form-check-input" name="periodStatus" value="SD_ACTIVE" />
								<span class="form-check-label">활성</span>
							</label>
							<label class="form-check my-2 ml-20">
								<input type="radio" class="form-check-input" name="periodStatus" value="SD_INACTIVE" />
								<span class="form-check-label">비활성</span>
							</label>
						</div>
	               	</div>
				    <div class="SR_popup-footer">
                        <div class="SR_update-info">
                        </div>
						<button class="btn btn-primary" type="submit">등록</button>
					</div>
				</form>
			</div>
		</div>
		
		<!-- 제재 기간 수정 모달 -->
		<div id="periodMdfcnModal" class="SR_modal">
			<div class="SR_modal-content-wrapper">
				<div class="SR_popup-header">
					<h2>제재 기간 수정</h2>
					<button class="SR_close-button">&times;</button>
				</div>
				<form id="periodEditForm">
                    <div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label">등록자</label>
                            <input type="text" id="periodEditRegAdm" name="periodEditRegAdm" class="SR_form-control" readonly>
                        </div>
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="periodEditRegYmdt">등록일시</label>
                            <input type="text" id="periodEditRegYmdt" name="periodEditRegYmdt" class="SR_form-control" readonly>
                        </div>
					</div>

                    <div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="periodEditCode">제재기간 코드</label>
                            <input type="text" id="periodEditCode" name="periodEditCode" class="SR_form-control" readonly>
                        </div>
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="periodEditName">제재기간명</label>
                            <input type="text" id="periodEditName" name="periodEditName" class="SR_form-control">
                        </div>
					</div>

                    <div class="SR_form-group SR_full-width">
						<label class="col-lg-3 col-form-label" for="periodEditDays">제재기간 일수</label>
						<input type="number" id="periodEditDays" name="periodEditDays" class="SR_form-control">
					</div>
					<div class="row mb-4">
						<div class="SR_form-group mb-0">
		                   <label class="col-lg-1 col-form-label pb-0 mb-0">Status</label>
						</div>
	                   <div class="col-lg-8 ml-20" style="display: flex; flex-direction: row;">
							<label class="form-check my-2">
								<input type="radio" class="form-check-input" name="periodEditStatus" value="SD_ACTIVE" />
								<span class="form-check-label">활성</span>
							</label>
							<label class="form-check my-2 ml-20">
								<input type="radio" class="form-check-input" name="periodEditStatus" value="SD_INACTIVE" />
								<span class="form-check-label">비활성</span>
							</label>
						</div>
	               	</div>
					<div class="SR_popup-footer">
                        <div class="SR_update-info">
                        </div>
						<button type="submit" id="saveButton" class="btn btn-md rounded font-sm">저장</button>
					</div>
				</form>
			</div>
		</div>
			
		<!-- 제재 사유 등록 모달 -->
		<div id="reasonModal" class="SR_modal">
			<div class="SR_modal-content-wrapper">
				<div class="SR_popup-header">
					<h2>제재 사유 등록</h2>
					<button class="SR_close-button">&times;</button>
				</div>
				<form id="reasonRegisterForm">
					<div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" style="width: 50%;">제재사유코드*</label>
                            <input type="text" id="reasonCode" name="reasonCode" class="SR_form-control"  placeholder="신고처리결과코드 영문명을 입력하세요">
                        </div>
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="limitsCountEdit">제재조건*</label>
                            <select id="limitsCountEdit" name="limitsCount" class="SR_form-control" style="height:39px;">
							    <option value="">제재조건을 선택하세요</option>
							    <option value="">1회</option>
							    <option value="">2회</option>
							    <option value="">2회이상</option>
							    <option value="">3회</option>
							    <option value="">3회이상</option>
							</select>
                        </div>
                    </div>
					<div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="declarationTypeEdit">신고타입</label>
                            <select id="declarationTypeEdit" name="declarationType" class="SR_form-control" style="height:39px;">
							    <option value="">신고타입을 선택하세요</option>
							</select>
						</div>
						<div class="SR_input-half">
							<label class="col-lg-3 col-form-label" for="declarationReasonEdit">신고사유</label>
                            <select id="declarationReasonEdit" name="declarationReason" class="SR_form-control" style="height:39px;">
							    <option value="">신고사유를 선택하세요</option>
							</select>
                        </div>
                    </div>
					<div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="limitsTypeEdit">제재타입</label>
                            <select id="limitsTypeEdit" name="limitsType" class="SR_form-control" style="height:39px;">
							    <option value="">제재타입을 선택하세요</option>
							</select>
						</div>
						<div class="SR_input-half">
							<label class="col-lg-3 col-form-label" for="limitsPeriodEdit">제재기간</label>
                            <select id="limitsPeriodEdit" name="limitsPeriod" class="SR_form-control" style="height:39px;">
							    <option value="">제재기간을 선택하세요</option>
							</select>
                        </div>
                    </div>
					<div class="SR_form-group SR_full-width">
						<label class="col-lg-3 col-form-label" for="limitsExplnEdit">사유설명*</label>
						<textarea id="limitsExpln" name="limitsExpln" class="SR_form-control" rows="5"  placeholder="제재사유에 대해 설명하세요"></textarea>
					</div>
					<div class="row mb-4">
						<div class="SR_form-group mb-0">
		                   <label class="col-lg-1 col-form-label pb-0 mb-0">Status*</label>
						</div>
	                   <div class="col-lg-8 ml-20" style="display: flex; flex-direction: row;">
							<label class="form-check my-2">
								<input type="radio" class="form-check-input" name="reasonEditStatus" value="SD_ACTIVE" />
								<span class="form-check-label">활성</span>
							</label>
							<label class="form-check my-2 ml-20">
								<input type="radio" class="form-check-input" name="reasonEditStatus" value="SD_INACTIVE" />
								<span class="form-check-label">비활성</span>
							</label>
						</div>
	               	</div>
				    <div class="SR_popup-footer">
                        <div class="SR_update-info">
                        </div>
						<button class="btn btn-primary" type="submit">등록</button>
					</div>
				</form>
			</div>
		</div>
		
		<!-- 제재 사유 수정 모달 -->		
	    <div id="reasonMdfcnModal" class="SR_modal">
			<div class="SR_modal-content-wrapper">
				<div class="SR_popup-header">
					<h2>제재 사유 수정</h2>
					<button class="SR_close-button">&times;</button>
				</div>
                <form id="reasonRegisterForm">
                	<div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label">등록자</label>
                            <input type="text" id="periodEditRegAdm" name="periodEditRegAdm" class="SR_form-control" readonly>
                        </div>
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="periodRegYmdtEdit">등록일시</label>
                            <input type="text" id="periodEditRegYmdt" name="periodEditRegYmdt" class="SR_form-control" readonly>
                        </div>
					</div>
					<div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" style="width: 50%;">제재사유코드*</label>
                            <input type="text" id="reasonCode" name="reasonCode" class="SR_form-control"  placeholder="신고처리결과코드 영문명을 입력하세요">
                        </div>
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="limitsCountEdit">제재조건*</label>
                            <select id="limitsCountEdit" name="limitsCount" class="SR_form-control" style="height:39px;">
							    <option value="">제재조건을 선택하세요</option>
							    <option value="">1회</option>
							    <option value="">2회</option>
							    <option value="">2회이상</option>
							    <option value="">3회</option>
							    <option value="">3회이상</option>
							</select>
                        </div>
                    </div>
					<div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="inquiryTypeEdit">신고타입</label>
                            <select id="declarationTypeEdit" name="declarationType" class="SR_form-control" style="height:39px;">
							    <option value="">신고타입을 선택하세요</option>
							</select>
						</div>
						<div class="SR_input-half">
							<label class="col-lg-3 col-form-label" for="inquiryTypeEdit">신고사유</label>
                            <select id="declarationReasonEdit" name="declarationReason" class="SR_form-control" style="height:39px;">
							    <option value="">신고사유를 선택하세요</option>
							</select>
                        </div>
                    </div>
					<div class="SR_form-group">
                        <div class="SR_input-half">
                            <label class="col-lg-3 col-form-label" for="limitsTypeEdit">제재타입</label>
                            <select id="limitsTypeEdit" name="limitsType" class="SR_form-control" style="height:39px;">
							    <option value="">제재타입을 선택하세요</option>
							</select>
						</div>
						<div class="SR_input-half">
							<label class="col-lg-3 col-form-label" for="limitsPeriodEdit">제재기간</label>
                            <select id="limitsPeriodEdit" name="limitsPeriod" class="SR_form-control" style="height:39px;">
							    <option value="">제재기간을 선택하세요</option>
							</select>
                        </div>
                   	</div>
					<div class="SR_form-group SR_full-width">
						<label class="col-lg-3 col-form-label" for="reasonExplnEdit">사유설명*</label>
						<textarea id="reasonExpln" name="reasonExpln" class="SR_form-control" rows="5"  placeholder="제재사유에 대해 설명하세요"></textarea>
					</div>
					<div class="row mb-4">
						<div class="SR_form-group mb-0">
		                   <label class="col-lg-1 col-form-label pb-0 mb-0">Status*</label>
						</div>
	                   <div class="col-lg-8 ml-20" style="display: flex; flex-direction: row;">
							<label class="form-check my-2">
								<input type="radio" class="form-check-input" name="reasonStatus" value="SD_ACTIVE" />
								<span class="form-check-label">활성</span>
							</label>
							<label class="form-check my-2 ml-20">
								<input type="radio" class="form-check-input" name="reasonStatus" value="SD_INACTIVE" />
								<span class="form-check-label">비활성</span>
							</label>
						</div>
	               	</div>
				    <div class="SR_popup-footer">
                        <div class="SR_update-info">
                        </div>
						<button class="btn btn-primary" type="submit">등록</button>
					</div>
				</form>
			</div>
		</div>
		

		<script th:inline="javascript">
		/*<![CDATA[*/
			document.addEventListener('DOMContentLoaded', function () {
			    const tabLinks = document.querySelectorAll('#limits-tab .nav-link');
			    const tabContents = document.querySelectorAll('.col-12 > .card');
			    const registerButton = document.getElementById('tab-register-button');

			    const modals = {
			        type: {
			            register: document.getElementById('typeModal'),
			            modify: document.getElementById('typeMdfcnModal')
			        },
			        period: {
			            register: document.getElementById('periodModal'),
			            modify: document.getElementById('periodMdfcnModal')
			        },
			        reason: {
			            register: document.getElementById('reasonModal'),
			            modify: document.getElementById('reasonMdfcnModal')
			        }
			    };

			    let activeTabId = 'type'; // Default active tab

			    function showTab(tabId) {
			        tabContents.forEach(content => {
			            if (content.id === tabId) {
			                content.classList.remove('d-none');
			            } else {
			                content.classList.add('d-none');
			            }
			        });

			        tabLinks.forEach(link => {
			            if (link.dataset.tab === tabId) {
			                link.classList.add('active');
			            } else {
			                link.classList.remove('active');
			            }
			        });
			        activeTabId = tabId;
			    }

			    tabLinks.forEach(link => {
			        link.addEventListener('click', function (e) {
			            e.preventDefault();
			            const tabId = this.dataset.tab;
			            showTab(tabId);
			        });
			    });

			    // Initial display based on the active class
			    showTab(activeTabId);

			    // Handle register button click
			    registerButton.addEventListener('click', function() {
			        const modalToOpen = modals[activeTabId].register;
			        if (modalToOpen) {
			            modalToOpen.style.display = 'flex';
			            document.body.style.overflow = 'hidden'; // Disable scroll on body
			        }
			    });

			    // Handle modify button clicks (using event delegation)
			    document.querySelectorAll('.SR_open-popup-btn').forEach(button => {
			        button.addEventListener('click', function(e) {
			            e.preventDefault();
			            const modalTargetId = this.dataset.modalTarget;
			            const modalToOpen = document.getElementById(modalTargetId);
			            if (modalToOpen) {
			                modalToOpen.style.display = 'flex';
			                document.body.style.overflow = 'hidden'; // Disable scroll on body
			            }
			        });
			    });
			    
			 // 제재 타입 등록 폼 제출 처리
		        const typeRegisterForm = document.getElementById('typeRegisterForm');
		        if (typeRegisterForm) {
		            typeRegisterForm.addEventListener('submit', function (e) {
		                e.preventDefault();

		                const payload = {
		                    limitsTypeCode: document.getElementById('typeCode').value, // 이 줄을 추가합니다.
		                    limitsTypeName: document.getElementById('typeName').value,
		                    limitsTypeExpln: document.getElementById('typeExpln').value,
		                    limitsTypeStcCode: document.querySelector('input[name="typeStatus"]:checked').value
		                };

		                // ... (나머지 코드는 동일)
		                fetch('/admin/registerLimitsType', {
		                    method: 'POST',
		                    headers: {
		                        'Content-Type': 'application/json'
		                    },
		                    body: JSON.stringify(payload)
		                })
		                .then(response => response.text())
		                .then(data => {
		                    if (data === "OK") {
		                        alert('제재 타입이 성공적으로 등록되었습니다.');
		                        location.reload();
		                    } else {
		                        alert('제재 타입 등록에 실패했습니다: ' + data);
		                    }
		                })
		                .catch(error => {
		                    console.error('Error:', error);
		                    alert('제재 타입 등록 중 오류가 발생했습니다.');
		                });
		            });
		        }
		       

		     	// 제재 타입 수정 폼 제출 처리
		        const typeEditForm = document.getElementById('typeEditForm');
		        if (typeEditForm) {
		            typeEditForm.addEventListener('submit', function (e) {
		                e.preventDefault();

		                const payload = {
		                    limitsTypeCode: document.getElementById('typeEditCode').value,
		                    limitsTypeName: document.getElementById('typeEditName').value,
		                    limitsTypeExpln: document.getElementById('typeEditExpln').value,
		                    limitsTypeStcCode: document.querySelector('input[name="typeEditStatus"]:checked').value
		                };

		                fetch('/admin/updateLimitsType', {
		                    method: 'POST',
		                    headers: {
		                        'Content-Type': 'application/json'
		                    },
		                    body: JSON.stringify(payload)
		                })
		                .then(response => response.text()) // 이 부분을 수정했습니다.
		                .then(data => {
		                    if (data === "OK") {
		                        alert('제재 타입이 성공적으로 수정되었습니다.');
		                        location.reload(); // 페이지 새로고침
		                    } else {
		                        alert('제재 타입 수정에 실패했습니다: ' + data);
		                    }
		                })
		                .catch(error => {
		                    console.error('Error:', error);
		                    alert('제재 타입 수정 중 오류가 발생했습니다.');
		                });
		            });
		        }
		       

		        // 특정 제재 타입 데이터 조회 및 수정 모달 채우기
		        document.querySelectorAll('#type .SR_open-popup-btn').forEach(button => {
		            button.addEventListener('click', function(e) {
		                e.preventDefault();
		                const limitsTypeCode = this.dataset.limitsTypeCode; // HTML에서 추가한 data 속성 사용
		                const modalTargetId = this.dataset.modalTarget;
		                const modalToOpen = document.getElementById(modalTargetId);

		                if (limitsTypeCode && modalToOpen) {
		                    fetch(`/admin/getLimitsType?limitsTypeCode=${limitsTypeCode}`)
		                        .then(response => response.json())
		                        .then(data => {
		                            if (data) {
		                                document.getElementById('typeEditCode').value = data.limitsTypeCode;
		                                document.getElementById('typeEditName').value = data.limitsTypeName;
		                                document.getElementById('typeEditExpln').value = data.limitsTypeExpln;
		                                document.getElementById('typeEditRegAdm').value = data.limitsTypeRegAdmCode;
		                                document.getElementById('typeEditRegYmdt').value = data.limitsTypeRegYmdt;

		                                // 라디오 버튼 상태 설정
		                                document.querySelectorAll('input[name="typeEditStatus"]').forEach(radio => {
		                                    if (radio.value === data.limitsTypeStcCode) {
		                                        radio.checked = true;
		                                    } else {
		                                        radio.checked = false;
		                                    }
		                                });

		                                modalToOpen.style.display = 'flex';
		                                document.body.style.overflow = 'hidden';
		                            } else {
		                                alert('제재 타입 데이터를 불러오지 못했습니다.');
		                            }
		                        })
		                        .catch(error => {
		                            console.error('Error fetching limits type data:', error);
		                            alert('제재 타입 데이터를 불러오는 중 오류가 발생했습니다.');
		                        });
		                }
		            });
		        });
		        
		     // 제재 기간 등록 폼 제출 처리
		        const periodRegisterForm = document.getElementById('periodRegisterForm');
		        if (periodRegisterForm) {
		            periodRegisterForm.addEventListener('submit', function (e) {
		                e.preventDefault();

		                // 입력값 유효성 검사 (필요하다면 함수로 분리)
		                const periodCode = document.getElementById('periodCode').value.trim();
		                const periodName = document.getElementById('periodName').value.trim();
		                const periodDays = document.getElementById('periodDays').value.trim();
		                const periodStcCode = document.querySelector('input[name="periodStatus"]:checked')?.value;

		                if (!periodCode || !periodName || !periodDays || !periodStcCode) {
		                    alert('모든 필수 항목을 입력해주세요.');
		                    return;
		                }
		                if (isNaN(periodDays)) {
		                    alert('제재 기간 일수는 숫자여야 합니다.');
		                    return;
		                }

		                const payload = {
		                    limitsPeriodCode: periodCode,
		                    limitsPeriodName: periodName,
		                    limitsPeriodDays: parseInt(periodDays, 10), // 숫자로 파싱
		                    limitsTypeStcCode: periodStcCode // limitsPeriodStcCode -> limitsTypeStcCode로 도메인 필드명에 맞게 변경
		                };

		                fetch('/admin/registerLimitsPeriod', {
		                    method: 'POST',
		                    headers: { 'Content-Type': 'application/json' },
		                    body: JSON.stringify(payload)
		                })
		                .then(response => response.text()) // 텍스트 응답으로 변경
		                .then(data => {
		                    if (data === "OK") {
		                        alert('제재 기간이 성공적으로 등록되었습니다.');
		                        location.reload();
		                    } else if (data === "FAIL: Unauthorized") {
		                        alert('권한이 없습니다. 다시 로그인해주세요.');
		                    } else {
		                        alert('제재 기간 등록에 실패했습니다: ' + data);
		                    }
		                })
		                .catch(error => {
		                    console.error('Error:', error);
		                    alert('제재 기간 등록 중 오류가 발생했습니다.');
		                });
		            });
		        }
		        
		     // 특정 제재 기간 데이터 조회 및 수정 모달 채우기
		        document.querySelectorAll('#period .SR_open-popup-btn').forEach(button => { /* */
		            button.addEventListener('click', function(e) {
		                e.preventDefault();
		                const limitsPeriodCode = this.dataset.limitsPeriodCode; /* */
		                const modalTargetId = this.dataset.modalTarget; /* */
		                const modalToOpen = document.getElementById(modalTargetId); /* */

		                if (limitsPeriodCode && modalToOpen) {
		                    fetch(`/admin/getLimitsPeriod?limitsPeriodCode=${limitsPeriodCode}`) /* */
		                        .then(response => {
		                            if (!response.ok) {
		                                return response.text().then(text => { throw new Error(text) }); /* */
		                            }
		                            return response.json(); /* */
		                        })
		                        .then(data => {
		                            if (data) {
		                                document.getElementById('periodEditRegAdm').value = data.limitsPeriodRegAdmCode; /* */
		                                document.getElementById('periodEditRegYmdt').value = data.limitsPeriodRegYmdt; /* */
		                                document.getElementById('periodEditCode').value = data.limitsPeriodCode; /* */
		                                document.getElementById('periodEditName').value = data.limitsPeriodName; /* */
		                                document.getElementById('periodEditDays').value = data.limitsPeriodDays; /* */

		                                // 라디오 버튼 상태 설정
		                                document.querySelectorAll('input[name="periodEditStatus"]').forEach(radio => { /* */
		                                    if (radio.value === data.limitsTypeStcCode) { /* */ // limitsPeriodStcCode -> limitsTypeStcCode로 도메인 필드명에 맞게 변경
		                                        radio.checked = true; /* */
		                                    } else {
		                                        radio.checked = false; /* */
		                                    }
		                                });

		                                modalToOpen.style.display = 'flex'; /* */
		                                document.body.style.overflow = 'hidden'; /* */
		                            } else {
		                                alert('제재 기간 데이터를 불러오지 못했습니다.'); /* */
		                            }
		                        })
		                        .catch(error => {
		                            console.error('Error fetching limits period data:', error); /* */
		                            alert('제재 기간 데이터를 불러오는 중 오류가 발생했습니다.'); /* */
		                        });
		                }
		            });
		        });
		     
		     // 제재 기간 수정 폼 제출 처리
		        const periodEditForm = document.getElementById('periodEditForm');
		        if (periodEditForm) {
		            periodEditForm.addEventListener('submit', function (e) {
		                e.preventDefault();

		                // 입력값 유효성 검사 (필요하다면 함수로 분리)
		                const periodCode = document.getElementById('periodEditCode').value.trim();
		                const periodName = document.getElementById('periodEditName').value.trim();
		                const periodDays = document.getElementById('periodEditDays').value.trim();
		                const periodStcCode = document.querySelector('input[name="periodEditStatus"]:checked')?.value;

		                if (!periodName || !periodDays || !periodStcCode) {
		                    alert('모든 필수 항목을 입력해주세요.');
		                    return;
		                }
		                if (isNaN(periodDays)) {
		                    alert('제재 기간 일수는 숫자여야 합니다.');
		                    return;
		                }

		                const payload = {
		                    limitsPeriodCode: periodCode,
		                    limitsPeriodName: periodName,
		                    limitsPeriodDays: parseInt(periodDays, 10), // 숫자로 파싱
		                    limitsTypeStcCode: periodStcCode // limitsPeriodStcCode -> limitsTypeStcCode로 도메인 필드명에 맞게 변경
		                };

		                fetch('/admin/updateLimitsPeriod', {
		                    method: 'POST',
		                    headers: { 'Content-Type': 'application/json' },
		                    body: JSON.stringify(payload)
		                })
		                .then(response => response.text()) // 텍스트 응답으로 변경
		                .then(data => {
		                    if (data === "OK") {
		                        alert('제재 기간이 성공적으로 수정되었습니다.');
		                        location.reload();
		                    } else if (data === "FAIL: Unauthorized") {
		                        alert('권한이 없습니다. 다시 로그인해주세요.');
		                    } else {
		                        alert('제재 기간 수정에 실패했습니다: ' + data);
		                    }
		                })
		                .catch(error => {
		                    console.error('Error:', error);
		                    alert('제재 기간 수정 중 오류가 발생했습니다.');
		                });
		            });
		        }
		        
		        document.addEventListener('DOMContentLoaded', function() {
		            // 모든 모달 공통 닫기 로직 (기존 코드 유지)
		            document.querySelectorAll('.SR_modal').forEach(modal => {
		                const closeButton = modal.querySelector('.SR_close-button');
		                if (closeButton) {
		                    closeButton.addEventListener('click', function() {
		                        modal.style.display = 'none';
		                        document.body.style.overflow = 'auto'; // Enable scroll on body
		                    });
		                }

		                modal.addEventListener('click', function(event) {
		                    if (event.target === modal) {
		                        modal.style.display = 'none';
		                        document.body.style.overflow = 'auto';
		                    }
		                });
		            });

		            // '등록' 버튼 클릭 시 제재 사유 등록 모달 열기 및 드롭다운 데이터 로드
		            const registerButton = document.getElementById('tab-register-button');
		            const reasonModal = document.getElementById('reasonModal'); // 제재 사유 등록 모달 ID
		            if (registerButton && reasonModal) {
		                registerButton.addEventListener('click', function() {
		                    reasonModal.style.display = 'block';
		                    document.body.style.overflow = 'hidden'; // Disable scroll on body
		                    loadLimitsReasonDropdowns(); // 드롭다운 데이터 로드 함수 호출
		                });
		            }

		            // 제재 사유 등록 모달 내 드롭다운 데이터 로드 함수
		            function loadLimitsReasonDropdowns() {
		                // 신고 타입 로드
		                fetch('/admin/getDeclarationTypeList')
		                    .then(response => response.json())
		                    .then(data => {
		                        const declarationTypeCodeSelect = document.getElementById('declarationTypeCode');
		                        declarationTypeCodeSelect.innerHTML = '<option value="">선택하세요</option>'; // 초기화
		                        data.forEach(item => {
		                            const option = document.createElement('option');
		                            option.value = item.dt_cd;
		                            option.textContent = item.dt_nm;
		                            declarationTypeCodeSelect.appendChild(option);
		                        });
		                    })
		                    .catch(error => console.error('Error loading declaration types:', error));

		                // 제재 타입 로드
		                fetch('/admin/getAdminLimitsTypeList')
		                    .then(response => response.json())
		                    .then(data => {
		                        const limitsTypeCodeSelect = document.getElementById('limitsTypeCode');
		                        limitsTypeCodeSelect.innerHTML = '<option value="">선택하세요</option>'; // 초기화
		                        data.forEach(item => {
		                            const option = document.createElement('option');
		                            option.value = item.lt_cd;
		                            option.textContent = item.lt_nm;
		                            limitsTypeCodeSelect.appendChild(option);
		                        });
		                    })
		                    .catch(error => console.error('Error loading limits types:', error));

		                // 제재 기간 로드
		                fetch('/admin/getAdminLimitsPeriodList')
		                    .then(response => response.json())
		                    .then(data => {
		                        const limitsPeriodCodeSelect = document.getElementById('limitsPeriodCode');
		                        limitsPeriodCodeSelect.innerHTML = '<option value="">선택하세요</option>'; // 초기화
		                        data.forEach(item => {
		                            const option = document.createElement('option');
		                            option.value = item.lp_cd;
		                            option.textContent = item.lp_nm;
		                            limitsPeriodCodeSelect.appendChild(option);
		                        });
		                    })
		                    .catch(error => console.error('Error loading limits periods:', error));

		                // 신고 사유 로드는 신고 타입 선택 시 동적으로 처리
		                const declarationTypeCodeSelect = document.getElementById('declarationTypeCode');
		                declarationTypeCodeSelect.addEventListener('change', function() {
		                    const selectedDtCd = this.value;
		                    const declarationReasonCodeSelect = document.getElementById('declarationReasonCode');
		                    declarationReasonCodeSelect.innerHTML = '<option value="">선택하세요</option>'; // 초기화

		                    if (selectedDtCd) {
		                        fetch(`/admin/getDeclarationReasonList?dt_cd=${selectedDtCd}`)
		                            .then(response => response.json())
		                            .then(data => {
		                                data.forEach(item => {
		                                    const option = document.createElement('option');
		                                    option.value = item.dr_cd;
		                                    option.textContent = item.dr_nm;
		                                    declarationReasonCodeSelect.appendChild(option);
		                                });
		                            })
		                            .catch(error => console.error('Error loading declaration reasons:', error));
		                    }
		                });
		            }

		            // --- 기타 폼 제출 및 모달 관련 기존 JavaScript 로직 (유지) ---
		            // typeRegisterForm Submission
		            const typeRegisterForm = document.getElementById('typeRegisterForm');
		            if (typeRegisterForm) {
		                typeRegisterForm.addEventListener('submit', function(event) {
		                    event.preventDefault();
		                    const formData = new FormData(typeRegisterForm);
		                    const data = Object.fromEntries(formData.entries());

		                    fetch('/admin/registerLimitsType', {
		                        method: 'POST',
		                        headers: { 'Content-Type': 'application/json' },
		                        body: JSON.stringify(data)
		                    })
		                    .then(response => response.text())
		                    .then(data => {
		                        if (data === "OK") {
		                            alert('제재 타입이 성공적으로 등록되었습니다.');
		                            location.reload();
		                        } else if (data === "FAIL: Unauthorized") {
		                            alert('권한이 없습니다. 다시 로그인해주세요.');
		                        } else {
		                            alert('제재 타입 등록에 실패했습니다: ' + data);
		                        }
		                    })
		                    .catch(error => {
		                        console.error('Error:', error);
		                        alert('제재 타입 등록 중 오류가 발생했습니다.');
		                    });
		                });
		            }

		            // typeEditForm Submission
		            const typeEditForm = document.getElementById('typeEditForm');
		            if (typeEditForm) {
		                typeEditForm.addEventListener('submit', function(event) {
		                    event.preventDefault();
		                    const formData = new FormData(typeEditForm);
		                    const data = Object.fromEntries(formData.entries());

		                    fetch('/admin/updateLimitsType', {
		                        method: 'POST',
		                        headers: { 'Content-Type': 'application/json' },
		                        body: JSON.stringify(data)
		                    })
		                    .then(response => response.text())
		                    .then(data => {
		                        if (data === "OK") {
		                            alert('제재 타입이 성공적으로 수정되었습니다.');
		                            location.reload();
		                        } else if (data === "FAIL: Unauthorized") {
		                            alert('권한이 없습니다. 다시 로그인해주세요.');
		                        } else {
		                            alert('제재 타입 수정에 실패했습니다: ' + data);
		                        }
		                    })
		                    .catch(error => {
		                        console.error('Error:', error);
		                        alert('제재 타입 수정 중 오류가 발생했습니다.');
		                    });
		                });
		            }

		            // periodRegisterForm Submission
		            const periodRegisterForm = document.getElementById('periodRegisterForm');
		            if (periodRegisterForm) {
		                periodRegisterForm.addEventListener('submit', function(event) {
		                    event.preventDefault();
		                    const formData = new FormData(periodRegisterForm);
		                    const data = Object.fromEntries(formData.entries());

		                    fetch('/admin/insertLimitsPeriod', { // Endpoint changed from registerLimitsPeriod
		                        method: 'POST',
		                        headers: { 'Content-Type': 'application/json' },
		                        body: JSON.stringify(data)
		                    })
		                    .then(response => response.text())
		                    .then(data => {
		                        if (data === "OK") {
		                            alert('제재 기간이 성공적으로 등록되었습니다.');
		                            location.reload();
		                        } else if (data === "FAIL: Unauthorized") {
		                            alert('권한이 없습니다. 다시 로그인해주세요.');
		                        } else {
		                            alert('제재 기간 등록에 실패했습니다: ' + data);
		                        }
		                    })
		                    .catch(error => {
		                        console.error('Error:', error);
		                        alert('제재 기간 등록 중 오류가 발생했습니다.');
		                    });
		                });
		            }

		            // periodEditForm Submission
		            const periodEditForm = document.getElementById('periodEditForm');
		            if (periodEditForm) {
		                periodEditForm.addEventListener('submit', function(event) {
		                    event.preventDefault();
		                    const formData = new FormData(periodEditForm);
		                    const data = Object.fromEntries(formData.entries());

		                    fetch('/admin/updateLimitsPeriod', {
		                        method: 'POST',
		                        headers: { 'Content-Type': 'application/json' },
		                        body: JSON.stringify(data)
		                    })
		                    .then(response => response.text())
		                    .then(data => {
		                        if (data === "OK") {
		                            alert('제재 기간이 성공적으로 수정되었습니다.');
		                            location.reload();
		                        } else if (data === "FAIL: Unauthorized") {
		                            alert('권한이 없습니다. 다시 로그인해주세요.');
		                        } else {
		                            alert('제재 기간 수정에 실패했습니다: ' + data);
		                        }
		                    })
		                    .catch(error => {
		                        console.error('Error:', error);
		                        alert('제재 기간 수정 중 오류가 발생했습니다.');
		                    });
		                });
		            }
		        });

			    // Handle close buttons and outside clicks for all modals
			    document.querySelectorAll('.SR_modal').forEach(modal => {
			        const closeButton = modal.querySelector('.SR_close-button');
			        if (closeButton) {
			            closeButton.addEventListener('click', function() {
			                modal.style.display = 'none';
			                document.body.style.overflow = 'auto'; // Enable scroll on body
			            });
			        }
			        
			        // Close when clicking outside the modal content
			        modal.addEventListener('click', function(event) {
			            if (event.target === modal) {
			                modal.style.display = 'none';
			                document.body.style.overflow = 'auto';
			            }
			        });
			    });
			});
		/*]]>*/
		</script>
	</th:block>
</html>