<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminLayoutMain}">

	<head>
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
	</head>
	
	<!-- 추가할 js file -->
	<!-- 추가할 페이지 contents -->
	<th:block layout:fragment="contents">
		<section class="content-main">
	        <div class="content-header">
	            <div>
	                <h2 class="content-title card-title">문의 내역 조회</h2>
	                <p>사용자 문의 내역 조회</p>
	            </div>
	            <div>
	                <input type="text" placeholder="Search order ID" class="form-control bg-white" />
	            </div>
	        </div>
	        <div class="card mb-4">
	            <header class="card-header">
	                <div class="row gx-3">
	                    <div class="col-lg-4 col-md-6 me-auto">
	                        <input type="text" placeholder="Search..." class="form-control" />
	                    </div>
	                    <div class="col-lg-2 col-6 col-md-3">
	                        <select class="form-select">
	                            <option>Status</option>
	                            <option>Active</option>
	                            <option>Disabled</option>
	                            <option>Show all</option>
	                        </select>
	                    </div>
	                    <div class="col-lg-2 col-6 col-md-3">
	                        <select class="form-select">
	                            <option>Show 20</option>
	                            <option>Show 30</option>
	                            <option>Show 40</option>
	                        </select>
	                    </div>
	                </div>
	            </header>
	            <!-- card-header end// -->
	            <div class="card-body">
	                <div class="table-responsive">
	                    <table class="table table-hover">
	                        <thead>
	                            <tr>
	                                <th scope="col" class="start text-center col-1">No.</th>
	                                <th scope="col" class="col-3">제목</th>
	                                <th scope="col" class="text-center col-1">문의타입</th>
	                                <th scope="col" class="text-center col-1">작성자</th>
	                                <th scope="col" class="text-center col-2">처리상태</th>
	                                <th scope="col" class="text-center col-2">작성일자</th>
	                                <th scope="col" class="end text-center col-2">Action</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr class="start pt-30"
								    style="border:0px; border-bottom: solid 1px #ececec;"
								    th:each="l, stat : ${inquiryList}">
	                                <td>0901</td>
	                                <td><b>Marvin McKinney</b></td>
	                                <td>marvin@example.com</td>
	                                <td>$9.00</td>
	                                <td><span class="badge rounded-pill alert-warning">Pending</span></td>
	                                <td>03.12.2020</td>
	                                <td class="text-end">
	                                    <a href="#" class="btn btn-md rounded font-sm">Detail</a>
	                                    <div class="dropdown">
	                                        <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
	                                        <div class="dropdown-menu">
	                                            <a class="dropdown-item" href="#">View detail</a>
	                                            <a class="dropdown-item" href="#">Edit info</a>
	                                            <a class="dropdown-item text-danger" href="#">Delete</a>
	                                        </div>
	                                    </div>
	                                    <!-- dropdown //end -->
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                </div>
	                <!-- table-responsive //end -->
	            </div>
	            <!-- card-body end// -->
	        </div>
	    </section>
	</th:block>
</html>