<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/adminLayoutMain}">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="한국스마트정보교육원 팀프로젝트" />
		<title>신고 자원 등록</title>
	</head>
	
	<th:block layout:fragment="contents">
		<section class="content-main">
	        <div class="row">
	            <div class="col-12">
	                <div class="content-header">
	                    <h2 class="content-title">신고 자원 등록</h2>
	                    <div>
	                        <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
	                        <button class="btn btn-md rounded font-sm hover-up">Publich</button>
	                    </div>
	                </div>
	            </div>
	            <div class="col-12">
	            	<!-- 신고타입 등록 -->
	                <div class="card">
	                    <div class="card-body">
	                        <div class="row gx-5">
	                            <aside class="col-lg-3 border-end">
	                                <nav class="nav nav-pills flex-column mb-4">
	                                    <a class="nav-link active" aria-current="page" href="#">신고 타입</a>
	                                    <a class="nav-link" href="#">신고 사유</a>
	                                    <a class="nav-link" href="#">신고 결과</a>
	                                </nav>
	                            </aside>
	                            <div class="col-lg-9">
	                                <section class="content-body p-xl-4">
	                                    <form>
	                                    	<div class="row mb-4">
	                                            <label class="col-lg-3 col-form-label">등록자</label>
	                                            <div class="col-lg-4">
	                                                <input type="number" class="form-control" placeholder="자동 입력. 관리자 코드" readonly/>
	                                            </div>
	                                            <!-- col.// -->
	                                        </div>
	                                        <!-- row.// -->
	                                        <div class="row mb-4">
	                                            <label class="col-lg-3 col-form-label">등록일자</label>
	                                            <div class="col-lg-4">
	                                                <input type="text" class="form-control" placeholder="자동 입력. NOW()" readonly/>
	                                            </div>
	                                            <!-- col.// -->
	                                        </div>
	                                        <!-- row.// -->
	                                        <div class="row mb-4">
	                                            <label class="col-lg-3 col-form-label">신고타입코드*</label>
	                                            <div class="col-lg-9">
	                                                <input type="text" class="form-control" placeholder="Type here"/>
	                                            </div>
	                                            <!-- col.// -->
	                                        </div>
	                                        <!-- row.// -->
	                                        <div class="row mb-4">
	                                            <label class="col-lg-3 col-form-label">신고타입명*</label>
	                                            <div class="col-lg-9">
	                                                <input type="text" class="form-control" placeholder="Type here"/>
	                                            </div>
	                                            <!-- col.// -->
	                                        </div>
	                                        <!-- row.// -->
	                                        <div class="row mb-4">
	                                            <label class="col-lg-3 col-form-label">타입설명*</label>
	                                            <div class="col-lg-9">
	                                                <textarea class="form-control" placeholder="Type here" rows="4"></textarea>
	                                            </div>
	                                            <!-- col.// -->
	                                        </div>
	                                        <!-- row.// -->
	                                        <div class="row mb-4">
	                                            <label class="col-lg-3 col-form-label">Status</label>
	                                            <div class="col-lg-9" style="display:flex; flex-direction: row;">
	                                                <label class="form-check my-2">
	                                                    <input type="checkbox" class="form-check-input" checked="" />
	                                                    <span class="form-check-label">활성 </span>
	                                                </label>
	                                                <label class="form-check my-2 ml-20">
	                                                    <input type="checkbox" class="form-check-input" checked="" />
	                                                    <span class="form-check-label">비활성 </span>
	                                                </label>
	                                                
	                                            </div>
	                                            <!-- col.// -->
	                                        </div>
	                                        <!-- row.// -->
	                                        <br />
	                                        <div style="display: flex; flex-direction: row-reverse;">
		                                        <button class="btn btn-primary" type="submit">등록</button>
	                                        </div>
	                                    </form>
	                                </section>
	                                <!-- content-body .// -->
	                            </div>
	                            <!-- col.// -->
	                        </div>
	                        <!-- row.// -->
	                    </div>
	                    <!-- card body end// -->
	                </div>
	                
	                <!-- 신고타입 목록 -->
	            	<div class="card">
	                	<div class="card-body">
			                <div class="table-responsive">
			                    <table class="table table-hover">
			                        <thead>
			                            <tr>
			                                <th scope="col" class="start text-center col-1">신고타입코드</th>
			                                <th scope="col" class="text-center col-1">신고타입명</th>
			                                <th scope="col" class="text-center col-1">타입설명</th>
			                                <th scope="col" class="text-center col-1">타입상태코드</th>
			                                <th scope="col" class="text-center col-1">등록자</th>
			                                <th scope="col" class="text-center col-1">최초등록일시</th>
			                                <th scope="col" class="text-center col-1">수정자</th>
			                                <th scope="col" class="text-center col-1">최종수정일시</th>
			                                <th scope="col" class="end text-center col-1">Action</th>
			                            </tr>
			                        </thead>
			                        <tbody>
										<tr class="start pt-30"
										    style="border:0px; border-bottom: solid 1px #ececec;"
										    th:each="dt : ${adminDeclarationTypeList}">
										    
										    <td class="start text-center">
										        <span th:text="${dt.declarationTypeCode}">신고타입코드</span>
										    </td>
										    <td scope="col" class="text-center" th:text="${dt.declarationTypeName}">신고타입명</td>
										    <td scope="col" class="text-center" th:text="${dt.declarationTypeExpln}">타입설명</td>
										    <td scope="col" class="text-center" th:switch="${dt.declarationTypeStcName}">
			                                	<span th:case="${'활성'}" class="badge rounded-pill alert-success">활성</span>
			                                	<span th:case="${'비활성'}" class="badge rounded-pill alert-info">비활성</span>
			                                </td>
										    <td scope="col" class="text-center" th:text="${dt.declarationTypeRegAdmCode}">등록자</td>
										    <td scope="col" class="text-center" th:text="${dt.declarationTypeRegYmdt}">최초등록일시</td>
										    <td scope="col" class="text-center" th:text="${dt.declarationTypeMdfcnAdmCode}">수정자</td>
										    <td scope="col" class="text-center" th:text="${dt.declarationTypeMdfcnYmdt}">최종수정일시</td>
										    <td scope="col" class="text-center">
												<a href="#" class="btn btn-md rounded font-sm SR_open-popup-btn" th:data-declaration-code="${dt.declarationTypeCode}">수정</a>
											</td>
										</tr>
									</tbody>
			                    </table>
			                </div>
			            </div>
	            	</div>
	            </div>
	        </div>
	    </section>
	</th:block>
</html>