<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header class="main-header navbar" th:fragment="adminHeaderFragment">
	    <div class="col-search"></div>
	    <div class="col-nav">
	        <ul class="nav">
	            <li class="dropdown nav-item">
	                <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin/assets/imgs/people/avatar-2.png" alt="User" /></a>
	                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
	                    <a class="dropdown-item" th:href="@{/}"><i class="material-icons md-perm_identity"></i>이용자 화면으로 이동하기</a>
	                    <a class="dropdown-item text-danger" th:href="@{/admin/logout}"><i class="material-icons md-exit_to_app"></i>Logout</a>
	                </div>
	            </li>
	        </ul>
	    </div>
	</header>
</html>