<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<aside class="navbar-aside" id="offcanvas_aside" th:fragment="adminAsideFragment">
		<div class="aside-top" style="height : 72px;">
		    <a href="#" class="brand-wrap">
		        <img src="/user/assets/imgs/outpolic/logo.png" class="logo" alt="Nest Dashboard" />
		    </a>
		    <div>
		        <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
		    </div>
		</div>
		<nav>
			<ul class="menu-aside">
				<li class="menu-item">
					<a class="menu-link" th:href="@{/admin}">
					    <i class="icon material-icons md-home"></i>
					    <span class="text">통계</span>
					</a>
				</li>
				<li class="menu-item has-submenu">
					<a class="menu-link" href="#">
					    <i class="icon material-icons md-people"></i>
					    <span class="text">회원 관리</span>
					</a>
					<div class="submenu">
					    <a th:href="@{/admin/memberList}">회원 목록</a>
					    <a th:href="@{/admin/enterList}">기업 목록</a>
					    <a th:href="@{/admin/loginHistory}">로그인 기록</a>
					</div>
				</li>
				<li class="menu-item has-submenu">
					<a class="menu-link" th:href="@{/admin/adminInquiryList}">
					    <i class="icon material-icons md-shopping_cart"></i>
					    <span class="text">문의 관리</span>
					</a>
					<div class="submenu">
					    <a th:href="@{/admin/adminInquiryList}">문의 내역 처리</a>
					    <a th:href="@{/admin/adminInquiryResources}">문의 자원 등록</a>
					</div>
				</li>
				<li class="menu-item has-submenu">
					<a class="menu-link" th:href="@{/admin/adminOsst}">
					    <i class="icon material-icons md-store"></i>
					    <span class="text">외주 관리</span>
					</a>
					<div class="submenu">
						<a th:href="@{/admin/outsourcingList}">외주</a>
						<a th:href="@{/admin/portfolioList}">포폴</a>
					    <a th:href="@{/admin/adminOsst}">외주 진행 현황</a>
					</div>
				</li>
				<li class="menu-item has-submenu">
					<a class="menu-link" th:href="@{/admin/adminDeclaration}">
					    <i class="icon material-icons md-add_box"></i>
					    <span class="text">신고&제재 관리</span>
					</a>
					<div class="submenu">
						<a th:href="@{/admin/adminDeclaration}">신고 내역 처리</a>
						<a th:href="@{/admin/adminDeclarationResources}">신고 자원 등록</a>
					    <a th:href="@{/admin/adminLimits}">제재 내역</a>
					    <a th:href="@{/admin/adminLimitsAuthority}">권한 설정</a>
					    <a th:href="@{/admin/adminLimitsResources}">제재 자원 등록</a>
					</div>
				</li>
				<li class="menu-item has-submenu">
					<a class="menu-link" href="#">
					    <i class="icon material-icons md-monetization_on"></i>
					    <span class="text">콘텐츠 통계</span>
					</a>
					<div class="submenu">
					    <a th:href="@{/admin/RankingStatistics}">랭킹</a>
					    <a th:href="@{/admin/SearchStatistics}">검색어 통계</a>
					    <a th:href="@{/admin/contentsViews}">조회수 통계</a>
					</div>
				</li>
				<li class="menu-item has-submenu">
				    <a class="menu-link" href="#">
				        <i class="icon material-icons md-person"></i>
				        <span class="text">카테고리</span>
				    </a>
				    <div class="submenu">
				        <a th:href="@{/admin/selectCategory}">카테고리 조회</a>
				    </div>
				</li>
				<li class="menu-item">
				    <a class="menu-link" th:href="@{/admin/goodsList}">
				        <i class="icon material-icons md-comment"></i>
				        <span class="text">상품 관리</span>
				    </a>
				</li>
				<li class="menu-item has-submenu">
					<a class="menu-link" href="#">
					    <i class="icon material-icons md-comment"></i>
					    <span class="text">마일리지 관리</span>
					</a>
					<div class="submenu">
				        <a th:href="@{/admin/earnPointsList}">마일리지 적립 내역</a>
				        <a th:href="@{/admin/standardPointsAddList}">마일리지 기준 생성</a>
				    </div>
				</li>
				<li class="menu-item has-submenu">
				    <a class="menu-link" href="#">
					    <i class="icon material-icons md-comment"></i>
					    <span class="text">결제&환불 내역</span>
					</a>
					<div class="submenu">
						<a th:href="@{/admin/settlementList}">결제 내역</a>
						<a th:href="@{/admin/refundList}">환불 내역</a>
				    </div>
				</li>
				<li class="menu-item">
					<a class="menu-link" th:href="@{/admin/empowerment}">
					    <i class="icon material-icons md-pie_chart"></i>
					    <span class="text">관리자 권한 설정</span>
					</a>
				</li>
			</ul>
			<br />
			<br />
			<br />
		</nav>
	</aside>
</html>