<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Nest - Multipurpose eCommerce HTML Template</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="user/assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link rel="stylesheet" href="user/assets/css/main.css?v=5.6" />
</head>
<body>
	<div class="col-md-3" th:fragment="userMypageAside">
		<div class="dashboard-menu">
			<ul class="nav flex-column" role="tablist">
				<li>	
					<div th:replace="~{user/fragments/userProfile :: userProfileFragment}"></div>
				</li>
				<li class="nav-item">
					<a class="nav-link active" data-bs-toggle="tab" href="#userOverview">마이페이지</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#userEdit" role="tab" aria-controls="dashboard" aria-selected="false"><i class="fi-rs-settings-sliders mr-10"></i>내 정보 관리</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="track-orders-tab" data-bs-toggle="tab" href="#myReview" role="tab" aria-controls="track-orders" aria-selected="false"><i class="fi-rs-shopping-cart-check mr-10"></i>내가 작성한 리뷰</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="account-detail-tab" data-bs-toggle="tab" href="#mySettList" role="tab" aria-controls="account-detail" aria-selected="true"><i class="fi-rs-user mr-10"></i>결제내역</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#myNotific" role="tab"><i class="fi-rs-sign-out mr-10"></i>문의내역</a>
				</li>
				<li style="border:none; margin-top:50px;">
				    <button type="button" class="nav-link btn" data-bs-toggle="tab" role="tab">
				        <i class="fi-rs-sign-out mr-10"></i>회원 탈퇴
				    </button>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>