<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outpolic.admin.login.mapper.AdminLoginMapper">
	<resultMap type="outpolic.admin.login.dto.AdminLoginDTO" id="AdminLoginResultMap">
		<result property="adminCode" column="adm_cd" />
		<association property="memberInfo" javaType="outpolic.common.domain.Member">
			<id column="mbr_id" property="memberId"/>
	 		<result column="mbr_pw" property="memberPw"/>
	 		<result column="mbr_nm" property="memberName"/>
	 		<result column="grd_cd" property="gradeCode"/>
	 		<result column="mbr_cd" property="memberCode"/>
	 		<result column="stc_cd" property="statusCode"/>
	 		<result column="mbr_last_lgn_ymdt" property="memberLastLoginYmdt"/>
	 	</association>
	</resultMap>

	<select id="findAdminMemberById" resultMap="AdminLoginResultMap">
	    SELECT m.mbr_id, m.mbr_pw, m.grd_cd, m.mbr_cd, m.stc_cd, ad.adm_cd, m.mbr_nm, m.mbr_last_lgn_ymdt
	    FROM member m inner join admin ad
	    on m.mbr_cd = ad.mbr_cd
	    WHERE mbr_id = #{memberId};
	</select>
	
	<update id="updateAdminMemberLoginDate" parameterType="AdminLoginDTO">
		UPDATE member
		set mbr_last_lgn_ymdt = NOW()
		where mbr_cd = #{memberCode};
	</update>
	
	<select id="getNextAdminLoginHistoryCode" resultType="String">
		/* 로그인 기록 기본키 만드는 쿼리문*/
		SELECT CONCAT('LH_', LPAD(SUBSTRING(MAX(lh_cd), 4) + 1, 7, '0')) AS nextCode
	       FROM login_history
	       WHERE lh_cd LIKE 'LH_%';
	</select>
	<insert id="insertAdminLoginHistory" parameterType="LoginHistoryDTO">
		insert into login_history
		(lh_cd, mbr_cd, lh_in_ymdt, lh_ip)
		VALUES(#{loginHistoryCode}, #{memberCode}, now(), #{loginIp});	
	</insert>
	
	<select id="getAdminLastLoginCode" resultType="String">
		select lh_cd
		from login_history
		where mbr_cd = #{memberCode}
		and lh_out_ymdt is null
		order by lh_in_ymdt desc
		limit 1;
	</select>
	
	<update id="updateAdminLogoutHistory" parameterType="LoginHistoryDTO">
		update login_history
		set lh_out_ymdt = now()
		where lh_cd = #{loginHistoryCode};
	</update>
	

</mapper>