<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enter/layout/enterLayoutkjw}">
<head>
    <title>파일 업로드</title>
</head>
<body>
<th:block layout:fragment="contents">
    <div class="page-container">
        <h3>파일 업로드</h3>
        <form th:action="@{/file/upload}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="clCd" th:value="${clCd}" />
            <input type="hidden" name="mbrCd" th:value="${mbrCd}" />
            <div class="form-group">
                <label for="files">파일 선택</label>
                <input type="file" id="files" name="files" class="form-control" multiple required>
            </div>
            <button type="submit" class="btn-action">업로드</button>
        </form>
    </div>
</th:block>
</body>
</html>