<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outpolic.user.login.mapper.UserLoginMapper">
	<resultMap type="outpolic.common.domain.Member" id="UserLoginResultMap">
		<id column="mbr_id" property="memberId"/>
 		<result column="mbr_pw" property="memberPw"/>
 		<result column="mbr_nm" property="memberName"/>
 		<result column="grd_cd" property="gradeCode"/>
 		<result column="mbr_cd" property="memberCode"/>
 		<result column="stc_cd" property="statusCode"/>
 		<result column="mbr_last_lgn_ymdt" property="memberLastLoginYmdt"/>
	</resultMap>

	<select id="findMemberById" resultMap="UserLoginResultMap">
	    SELECT mbr_id, mbr_pw, grd_cd, mbr_cd, stc_cd,mbr_nm
	    FROM member 
	    WHERE mbr_id = #{memberId};
	</select>
	
	<update id="updateMemberLoginDate" parameterType="Member">
		UPDATE member
		set mbr_last_lgn_ymdt = NOW()
		where mbr_cd = #{memberCode};
	</update>
	
<!-- 	<insert id="insertFailHistory" parameterType="LoginFailHistoryDTO">
		INSERT INTO 
			login_fail_history
			(lfh_cd, lfh_ip, lfh_attemp_ymdt, lfh_cnt, lfh_in_ymdt, lfh_out_ymdt, lfr_cd)
		VALUES('', '', '', , '', '', '');
	</insert> -->
	
	<select id="getNextLoginHistoryCode" resultType="String">
		/* 로그인 기록 기본키 만드는 쿼리문*/
		SELECT CONCAT('LH_', LPAD(SUBSTRING(MAX(lh_cd), 4) + 1, 7, '0')) AS nextCode
        FROM login_history
        WHERE lh_cd LIKE 'LH_%';
	</select>
	<insert id="insertLoginHistory" parameterType="LoginHistoryDTO">
		/* 로그인 기록 테이블에 로그인 기록 insert */
		insert into login_history
		(lh_cd, mbr_cd, lh_in_ymdt, lh_ip)
		VALUES(#{loginHistoryCode}, #{memberCode}, now(), #{loginIp});	
	</insert>
	
	<select id="getLastLoginCode" resultType="String">
		select lh_cd
		from login_history
		where mbr_cd = #{memberCode}
		and lh_out_ymdt is null
		order by lh_in_ymdt desc
		limit 1;
	</select>
	
	<update id="updateLogoutHistory" parameterType="LoginHistoryDTO">
		update login_history
		set lh_out_ymdt = now()
		where lh_cd = #{loginHistoryCode};
	</update>
	
</mapper>










