<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outpolic.user.login.mapper.UserLoginLimitMapper">
	<select id="getLimitInfoByMemberCode" resultType="LoginFailDTO" parameterType="String">
	    SELECT lmt_cd, mbr_cd, lmt_dock_rsn, lmt_start_ymdt, lmt_end_ymdt, lmt_rmd_days
	    FROM limits
	    WHERE mbr_cd = #{memberCode}
	    ORDER BY lmt_start_ymdt DESC
	    LIMIT 1
	</select>
</mapper>










