<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outpolic.enter.outsourcing.mapper.OutsourcingMapper">

    <insert id="insertOutsourcing" parameterType="EnterOutsourcing">
        INSERT INTO outsourcing (os_cd, ent_cd, ctgry_id, os_ttl, os_expln, os_reg_ymdt, mbr_cd, stc_cd, os_strt_ymdt, os_end_ymdt, os_amt, os_flfmt_cnt)
        VALUES (#{osCd}, #{entCd}, #{ctgryId}, #{osTtl}, #{osExpln}, NOW(), #{mbrCd}, 'SD_ACTIVE', #{osStrtYmdt}, #{osEndYmdt}, #{osAmt}, #{osFlfmtCnt})
    </insert>

    <insert id="insertContentList"> INSERT INTO content_list (cl_cd, cntd_cd, cl_reg_ymdt) VALUES (#{clCd}, #{cntdCd}, NOW()) </insert>
    <insert id="insertCategoryMapping"> INSERT INTO category_mapping (ctgry_id, cl_cd, cm_reg_ymdt, mbr_cd) VALUES (#{ctgryCd}, #{clCd}, NOW(), #{mbrCd}) </insert>
    <insert id="insertTag"> INSERT INTO tag (tag_cd, tag_nm, mbr_cd, tag_reg_ymdt) VALUES (#{tagCd}, #{tagName}, #{mbrCd}, NOW()) </insert>
    <insert id="insertTagMapping"> INSERT INTO tag_mapping (tag_cd, cl_cd, tm_reg_ymdt, mbr_cd, stc_cd) VALUES (#{tagCd}, #{clCd}, NOW(), #{mbrCd}, 'SD_ACTIVE') </insert>

    <select id="findOutsourcingDetailsByEntCd" resultType="EnterOutsourcing">
        SELECT * FROM outsourcing WHERE ent_cd = #{entCd} ORDER BY os_reg_ymdt DESC
    </select>
    
    <select id="findLatestOsCd" resultType="String">
        SELECT os_cd FROM outsourcing WHERE os_cd LIKE 'OS_C%' ORDER BY CAST(SUBSTRING(os_cd, 5) AS UNSIGNED) DESC LIMIT 1
    </select>
    
    <select id="findLatestTagCd" resultType="String">
        SELECT tag_cd FROM tag WHERE tag_cd LIKE 'T_C%' ORDER BY CAST(SUBSTRING(tag_cd, 5) AS UNSIGNED) DESC LIMIT 1
    </select>
    
    <select id="findTagCdByName" resultType="String">
        SELECT tag_cd FROM tag WHERE tag_nm = #{tagName}
    </select>
	<select id="findOutsourcingDetailsByOsCd" resultType="outpolic.enter.outsourcing.domain.EnterOutsourcing">
    SELECT * FROM outsourcing WHERE os_cd = #{osCd}
</select>

<select id="findClCdByOsCd" resultType="String">
    SELECT cl_cd FROM content_list WHERE cntd_cd = #{osCd} LIMIT 1
</select>

<update id="updateOutsourcing" parameterType="outpolic.enter.outsourcing.domain.EnterOutsourcing">
    UPDATE outsourcing
    SET
        ctgry_id = #{ctgryId},
        os_ttl = #{osTtl},
        os_expln = #{osExpln},
        os_mdfcn_ymdt = NOW(),
        os_strt_ymdt = #{osStrtYmdt},
        os_end_ymdt = #{osEndYmdt},
        os_amt = #{osAmt},
        os_flfmt_cnt = #{osFlfmtCnt}
    WHERE
        os_cd = #{osCd}
</update>

<delete id="deleteOutsourcingByOsCd">
    DELETE FROM outsourcing WHERE os_cd = #{osCd}
</delete>
<delete id="deleteContentListByClCd">
    DELETE FROM content_list WHERE cl_cd = #{clCd}
</delete>
<delete id="deleteCategoryMappingByClCd">
    DELETE FROM category_mapping WHERE cl_cd = #{clCd}
</delete>
<delete id="deleteTagMappingByClCd">
    DELETE FROM tag_mapping WHERE cl_cd = #{clCd}
</delete>

</mapper>
