<!DOCTYPE html>
<html class="no-js" lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{enter/layout/enterLayoutMain.html}">
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
</head>
<body>	
	<th:block layout:fragment="contents">
	    	<div class="container mb-30">
	            <div class="archive-header-3 mt-30 mb-80" style="background-image: url(assets/imgs/vendor/vendor-header-bg.png)">
	                <div class="archive-header-3-inner">
	                    <div class="vendor-logo mr-50">
	                        <img src="assets/imgs/vendor/vendor-17.png" alt="" />
	                    </div>
	                    <div class="vendor-content">
	                        <div class="product-category">
	                            <span class="text-muted">Since 2012</span>
	                        </div>
	                        <h3 class="mb-5"><a href="vendor-details-1.html">포포리 테크놀로지</a></h3>
	                        <div class="product-rate-cover mb-15">
	                            <div class="product-rate d-inline-block">
	                                <div class="product-rating" style="width: 90%"></div>
	                            </div>
	                            <span class="font-small ml-5">별점</span>
	                        </div>
	                        <div class="row">
	                            <div class="col-lg-4">
	                                <div class="vendor-des mb-15">
	                                    <p class="font-sm">회사 소개</p>
	                                </div>
	                            </div>
	                            <div class="col-lg-3">
	                                <div class="vendor-info text-white mb-15">
	                                    <ul class="font-sm">
	                                        <li><img class="mr-5" src="assets/imgs/theme/icons/icon-location.svg" alt="" /><strong>주소 : </strong> <span>5171 W Campbell Ave undefined, Utah 53127 United States</span></li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-4-5">
	                    <div class="shop-product-fillter">
	                        <div class="totall-product">
	                            <p>We found <strong class="text-brand">29</strong> items for you!</p>
	                        </div>
	                        <div class="sort-by-product-area">
	                            <div class="sort-by-cover mr-10">
	                                <div class="sort-by-product-wrap">
	                                    <div class="sort-by">
	                                        <span><i class="fi-rs-apps"></i>Show:</span>
	                                    </div>
	                                    <div class="sort-by-dropdown-wrap">
	                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
	                                    </div>
	                                </div>
	                                <div class="sort-by-dropdown">
	                                    <ul>
	                                        <li><a class="active" href="#">50</a></li>
	                                        <li><a href="#">100</a></li>
	                                        <li><a href="#">150</a></li>
	                                        <li><a href="#">200</a></li>
	                                        <li><a href="#">All</a></li>
	                                    </ul>
	                                </div>
	                            </div>
	                            <div class="sort-by-cover">
	                                <div class="sort-by-product-wrap">
	                                    <div class="sort-by">
	                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
	                                    </div>
	                                    <div class="sort-by-dropdown-wrap">
	                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
	                                    </div>
	                                </div>
	                                <div class="sort-by-dropdown">
	                                    <ul>
	                                        <li><a class="active" href="#">Featured</a></li>
	                                        <li><a href="#">Price: Low to High</a></li>
	                                        <li><a href="#">Price: High to Low</a></li>
	                                        <li><a href="#">Release Date</a></li>
	                                        <li><a href="#">Avg. Rating</a></li>
	                                    </ul>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="product-list mb-50">
	                        <div class="product-cart-wrap">
	                            <div class="product-img-action-wrap">
	                                <div class="product-img product-img-zoom">
	                                    <div class="product-img-inner">
	                                        <a href="shop-product-right.html">
	                                            <img class="default-img" src="assets/imgs/shop/product-2-1.jpg" alt="" />
	                                            <img class="hover-img" src="assets/imgs/shop/product-2-2.jpg" alt="" />
	                                        </a>
	                                    </div>
	                                </div>
	                                <div class="product-action-1">
	                                    <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
	                                    <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
	                                    <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
	                                </div>
	                                <div class="product-badges product-badges-position product-badges-mrg">
	                                    <span class="hot">Hot</span>
	                                </div>
	                            </div>
	                            <div class="product-content-wrap">
	                                <div class="product-category">
	                                    <a href="shop-grid-right.html">Hodo Foods</a>
	                                </div>
	                                <h2><a href="shop-product-right.html">Field Roast Chao Cheese Creamy Original</a></h2>
	                                <div class="product-rate-cover">
	                                    <div class="product-rate d-inline-block">
	                                        <div class="product-rating" style="width: 90%"></div>
	                                    </div>
	                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
	                                    <span class="ml-30">500g</span>
	                                </div>
	                                <p class="mt-15 mb-15">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam beatae consectetur, atque inventore aliquam adipisci perspiciatis nostrum qui consequatur praesentium?</p>
	                                <div class="product-price">
	                                    <span>$238.85 </span>
	                                    <span class="old-price">$245.8</span>
	                                </div>
	                                <div class="mt-30 d-flex align-items-center">
	                                    <a aria-label="Buy now" class="btn" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Add to Cart</a>
	                                    <a href="#" class="add-wishlish ml-30 text-body font-sm font-heading font-weight-bold"><i class="fi-rs-shuffle mr-5"></i>Add Compare</a>
	                                </div>
	                            </div>
	                        </div>
	                        <!--single product-->
	                        <div class="product-cart-wrap">
	                            <div class="product-img-action-wrap">
	                                <div class="product-img product-img-zoom">
	                                    <div class="product-img-inner">
	                                        <a href="shop-product-right.html">
	                                            <img class="default-img" src="assets/imgs/shop/product-3-1.jpg" alt="" />
	                                            <img class="hover-img" src="assets/imgs/shop/product-3-2.jpg" alt="" />
	                                        </a>
	                                    </div>
	                                </div>
	                                <div class="product-action-1">
	                                    <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
	                                    <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
	                                    <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
	                                </div>
	                                <div class="product-badges product-badges-position product-badges-mrg">
	                                    <span class="sale">sale</span>
	                                </div>
	                            </div>
	                            <div class="product-content-wrap">
	                                <div class="product-category">
	                                    <a href="shop-grid-right.html">Hodo Foods</a>
	                                </div>
	                                <h2><a href="shop-product-right.html">Fresh Organic Mustard Leaves</a></h2>
	                                <div class="product-rate-cover">
	                                    <div class="product-rate d-inline-block">
	                                        <div class="product-rating" style="width: 90%"></div>
	                                    </div>
	                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
	                                    <span class="ml-30">500g</span>
	                                </div>
	                                <p class="mt-15 mb-15">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam beatae consectetur, atque inventore aliquam adipisci perspiciatis nostrum qui consequatur praesentium?</p>
	                                <div class="product-price">
	                                    <span>$238.85 </span>
	                                    <span class="old-price">$245.8</span>
	                                </div>
	                                <div class="mt-30">
	                                    <a aria-label="Buy now" class="btn" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Add to Cart</a>
	                                    <a href="#" class="add-wishlish ml-30 text-body font-sm font-heading font-weight-bold"><i class="fi-rs-shuffle mr-5"></i>Add Compare</a>
	                                </div>
	                            </div>
	                        </div>
	                        <!--single product-->
	                        <div class="product-cart-wrap">
	                            <div class="product-img-action-wrap">
	                                <div class="product-img product-img-zoom">
	                                    <div class="product-img-inner">
	                                        <a href="shop-product-right.html">
	                                            <img class="default-img" src="assets/imgs/shop/product-4-1.jpg" alt="" />
	                                            <img class="hover-img" src="assets/imgs/shop/product-4-2.jpg" alt="" />
	                                        </a>
	                                    </div>
	                                </div>
	                                <div class="product-action-1">
	                                    <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
	                                    <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
	                                    <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
	                                </div>
	                                <div class="product-badges product-badges-position product-badges-mrg">
	                                    <span class="new">New</span>
	                                </div>
	                            </div>
	                            <div class="product-content-wrap">
	                                <div class="product-category">
	                                    <a href="shop-grid-right.html">Hodo Foods</a>
	                                </div>
	                                <h2><a href="shop-product-right.html">Organic Green Bell Pepper</a></h2>
	                                <div class="product-rate-cover">
	                                    <div class="product-rate d-inline-block">
	                                        <div class="product-rating" style="width: 90%"></div>
	                                    </div>
	                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
	                                    <span class="ml-30">500g</span>
	                                </div>
	                                <p class="mt-15 mb-15">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam beatae consectetur, atque inventore aliquam adipisci perspiciatis nostrum qui consequatur praesentium?</p>
	                                <div class="product-price">
	                                    <span>$238.85 </span>
	                                    <span class="old-price">$245.8</span>
	                                </div>
	                                <div class="mt-30">
	                                    <a aria-label="Buy now" class="btn" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Add to Cart</a>
	                                    <a href="#" class="add-wishlish ml-30 text-body font-sm font-heading font-weight-bold"><i class="fi-rs-shuffle mr-5"></i>Add Compare</a>
	                                </div>
	                            </div>
	                        </div>
	                        <!--single product-->
	                        <div class="product-cart-wrap">
	                            <div class="product-img-action-wrap">
	                                <div class="product-img product-img-zoom">
	                                    <div class="product-img-inner">
	                                        <a href="shop-product-right.html">
	                                            <img class="default-img" src="assets/imgs/shop/product-5-1.jpg" alt="" />
	                                            <img class="hover-img" src="assets/imgs/shop/product-5-2.jpg" alt="" />
	                                        </a>
	                                    </div>
	                                </div>
	                                <div class="product-action-1">
	                                    <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
	                                    <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
	                                    <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
	                                </div>
	                            </div>
	                            <div class="product-content-wrap">
	                                <div class="product-category">
	                                    <a href="shop-grid-right.html">Hodo Foods</a>
	                                </div>
	                                <h2><a href="shop-product-right.html">Angie’s Boomchickapop Sweet & Salty Kettle Corn</a></h2>
	                                <div class="product-rate-cover">
	                                    <div class="product-rate d-inline-block">
	                                        <div class="product-rating" style="width: 90%"></div>
	                                    </div>
	                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
	                                    <span class="ml-30">500g</span>
	                                </div>
	                                <p class="mt-15 mb-15">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam beatae consectetur, atque inventore aliquam adipisci perspiciatis nostrum qui consequatur praesentium?</p>
	                                <div class="product-price">
	                                    <span>$238.85 </span>
	                                    <span class="old-price">$245.8</span>
	                                </div>
	                                <div class="mt-30">
	                                    <a aria-label="Buy now" class="btn" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Add to Cart</a>
	                                    <a href="#" class="add-wishlish ml-30 text-body font-sm font-heading font-weight-bold"><i class="fi-rs-shuffle mr-5"></i>Add Compare</a>
	                                </div>
	                            </div>
	                        </div>
	                        <!--single product-->
	                        <div class="product-cart-wrap">
	                            <div class="product-img-action-wrap">
	                                <div class="product-img product-img-zoom">
	                                    <div class="product-img-inner">
	                                        <a href="shop-product-right.html">
	                                            <img class="default-img" src="assets/imgs/shop/product-6-1.jpg" alt="" />
	                                            <img class="hover-img" src="assets/imgs/shop/product-6-2.jpg" alt="" />
	                                        </a>
	                                    </div>
	                                </div>
	                                <div class="product-action-1">
	                                    <a aria-label="Add To Wishlist" class="action-btn" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
	                                    <a aria-label="Compare" class="action-btn" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
	                                    <a aria-label="Quick view" class="action-btn" data-bs-toggle="modal" data-bs-target="#quickViewModal"><i class="fi-rs-eye"></i></a>
	                                </div>
	                                <div class="product-badges product-badges-position product-badges-mrg">
	                                    <span class="best">Best</span>
	                                </div>
	                            </div>
	                            <div class="product-content-wrap">
	                                <div class="product-category">
	                                    <a href="shop-grid-right.html">Hodo Foods</a>
	                                </div>
	                                <h2><a href="shop-product-right.html">Foster Farms Takeout Crispy Classic Buffalo Wings</a></h2>
	                                <div class="product-rate-cover">
	                                    <div class="product-rate d-inline-block">
	                                        <div class="product-rating" style="width: 90%"></div>
	                                    </div>
	                                    <span class="font-small ml-5 text-muted"> (4.0)</span>
	                                    <span class="ml-30">500g</span>
	                                </div>
	                                <p class="mt-15 mb-15">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam beatae consectetur, atque inventore aliquam adipisci perspiciatis nostrum qui consequatur praesentium?</p>
	                                <div class="product-price">
	                                    <span>$238.85 </span>
	                                    <span class="old-price">$245.8</span>
	                                </div>
	                                <div class="mt-30">
	                                    <a aria-label="Buy now" class="btn" href="shop-cart.html"><i class="fi-rs-shopping-cart mr-5"></i>Add to Cart</a>
	                                    <a href="#" class="add-wishlish ml-30 text-body font-sm font-heading font-weight-bold"><i class="fi-rs-shuffle mr-5"></i>Add Compare</a>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
		</th:block>
	</body>
</html>
	


