<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="outpolic.user.mypage.mapper.UserMypageEditMapper">
	<select id="selectUserReviewList" parameterType="String" resultType="outpolic.user.mypage.dto.OutsourcingReviewDTO">
	    SELECT 
	        oc.osp_cd AS ospCd,
	        oc.mbr_cd AS mbrCd,
	        op.ocd_cd AS ocdCd,
	        ocd.cl_cd AS clCd,
	        r.rvw_cd AS rvwCd,
	        r.rvw_cn AS rvwCn,
	        r.rvw_evl AS rvwEvl,
	        cl.cntd_cd AS cntdCd,
	        ocd.ocd_ttl AS ocdTtl,
	        o.os_cd AS osCd,
	        o.os_ttl AS osTtl,
	        NULL AS prtfCd,
	        NULL AS prtfTtl,
	        'OUTSOURCING' AS contentType
	    FROM outsourcing_contract oc
	    INNER JOIN outsourcing_prograss op ON oc.osp_cd = op.osp_cd
	    INNER JOIN outsourcing_contract_details ocd ON op.ocd_cd = ocd.ocd_cd
	    INNER JOIN review r ON oc.mbr_cd = r.mbr_cd
	    INNER JOIN content_list cl ON cl.cl_cd = ocd.cl_cd
	    INNER JOIN outsourcing o ON cl.cntd_cd = o.os_cd
	    WHERE oc.mbr_cd = #{memberCode}
	
	    UNION ALL
	
	    SELECT 
	        oc.osp_cd AS ospCd,
	        oc.mbr_cd AS mbrCd,
	        op.ocd_cd AS ocdCd,
	        ocd.cl_cd AS clCd,
	        r.rvw_cd AS rvwCd,
	        r.rvw_cn AS rvwCn,
	        r.rvw_evl AS rvwEvl,
	        cl.cntd_cd AS cntdCd,
	        ocd.ocd_ttl AS ocdTtl,
	        NULL AS osCd,
	        NULL AS osTtl,
	        p.prtf_cd AS prtfCd,
	        p.prtf_ttl AS prtfTtl,
	        'PORTFOLIO' AS contentType
	    FROM outsourcing_contract oc
	    INNER JOIN outsourcing_prograss op ON oc.osp_cd = op.osp_cd
	    INNER JOIN outsourcing_contract_details ocd ON op.ocd_cd = ocd.ocd_cd
	    INNER JOIN review r ON oc.mbr_cd = r.mbr_cd
	    INNER JOIN content_list cl ON cl.cl_cd = ocd.cl_cd
	    INNER JOIN portfolio p ON cl.cntd_cd = p.prtf_cd
	    WHERE oc.mbr_cd = #{memberCode}
	
	    LIMIT 3;
    </select>
 </mapper>