<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="outpolic.admin.goods.mapper.AdminGoodsMapper">
	<!-- <resultMap id="goodsResultMap" type="AdminGoodsDTO"> 필요하면 사용할것
	    <id column="gds_cd" property="gdsCd" />
	    <result column="gds_nm" property="gdsNm" />
	    <result column="gds_amt" property="gdsAmt" />
	    <result column="gds_type" property="gdsType" />
	    <result column="gds_period_quantity" property="gdsPeriodQuantity" />
	    <result column="gds_unit" property="gdsUnit" />
	    <result column="gds_reg_adm_cd" property="gdsRegAdmCd" />
	    <result column="gds_reg_ymdt" property="gdsRegYmdt" />
	    <result column="gds_mdfcn_adm_cd" property="gdsMdfcnAdmCd" />
	    <result column="gds_mdfcn_ymdt" property="gdsMdfcnYmdt" />
	</resultMap> -->
	
	<insert id="insertGoods" parameterType="AdminGoodsDTO">
	/* 상품 삽입 */
	    <selectKey  keyProperty="gdsCd" resultType="String" order="BEFORE">
	        SELECT
	            CASE
	                WHEN COUNT(*) = 0 THEN 'PD_C001'
	                ELSE CONCAT(
	                    'PD_C',
	                    MAX(CAST(SUBSTRING_INDEX(gds_cd, 'PD_C', -1) AS UNSIGNED)) + 1
	                )
	            END AS newCode
	        FROM goods
	        WHERE gds_cd LIKE 'PD_C%';
	    </selectKey>
	    INSERT INTO goods (
	        gds_cd,
	        gds_nm,
	        gds_amt,
	        gds_type,
	        gds_period_quantity,
	        gds_unit,
	        gds_reg_adm_cd,
	        gds_reg_ymdt,
	        gds_status,
	        gds_target_member_type
	    ) VALUES (
	        #{gdsCd}, #{gdsNm}, #{gdsAmt}, #{gdsType},
	        #{gdsPeriodQuantity}, #{gdsUnit},
	        #{gdsRegAdmCd}, #{gdsRegYmdt}, #{gdsStatus},
	        #{gdsTargetMemberType}
	    )
	</insert>

	<update id="updateGoods" parameterType="AdminGoodsDTO">
	/* 상품 수정 */
    UPDATE
        goods
    SET 
        gds_nm = #{gdsNm},
        gds_amt = #{gdsAmt},
        gds_type = #{gdsType},
        gds_period_quantity = #{gdsPeriodQuantity},
        gds_unit = #{gdsUnit},
        gds_status = #{gdsStatus},
        gds_mdfcn_adm_cd = #{gdsMdfcnAdmCd},
        gds_mdfcn_ymdt = #{gdsMdfcnYmdt}
    WHERE
        gds_cd = #{gdsCd}
	</update>

	<select id="selectAllGoods" resultType="outpolic.admin.goods.dto.AdminGoodsDTO">
		/* 상품 조회 (동적 쿼리) */
	    SELECT
	        gds_cd AS gdsCd,
	        gds_nm AS gdsNm,
	        gds_amt AS gdsAmt,
	        gds_type AS gdsType,
	        gds_period_quantity AS gdsPeriodQuantity,
	        gds_unit AS gdsUnit,
	        gds_reg_adm_cd AS gdsRegAdmCd,
	        gds_reg_ymdt AS gdsRegYmdt,
	        gds_mdfcn_adm_cd AS gdsMdfcnAdmCd,
	        gds_mdfcn_ymdt AS gdsMdfcnYmdt,
	        gds_status AS gdsStatus
	    FROM goods
	    <where>
	        <if test="searchKeyword != null and searchKeyword != ''">
	            <choose>
	                <when test="searchType == 'gdsNm'">
	                    AND gds_nm LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	                <when test="searchType == 'gdsCd'">
	                    AND gds_cd LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	                <when test="searchType == 'gdsRegAdmCd'">
	                    AND gds_reg_adm_cd LIKE CONCAT('%', #{searchKeyword}, '%')
	                </when>
	            </choose>
	        </if>
	        <if test="startDate != null and startDate != ''">
	            AND DATE(gds_reg_ymdt) &gt;= #{startDate}
	        </if>
	        <if test="endDate != null and endDate != ''">
	            AND DATE(gds_reg_ymdt) &lt;= #{endDate}
	        </if>
	        <if test="gdsType != null and gdsType != ''">
	            AND gds_type = #{gdsType}
	        </if>
	        <if test="gdsTargetMemberType != null and gdsTargetMemberType != ''">
	            AND gds_target_member_type = #{gdsTargetMemberType}
	        </if>
	        <if test="gdsStatus != null and gdsStatus != ''">
	            AND gds_status = #{gdsStatus}
	        </if>
	    </where>
	    ORDER BY gds_cd ASC
	</select>
	
	<select id="selectGoodsByCode" resultType="outpolic.admin.goods.dto.AdminGoodsDTO">
		/* 상품 코드로 조회 */
		SELECT
			gds_cd                  AS gdsCd,
		    gds_nm                  AS gdsNm,
		    gds_amt                 AS gdsAmt,
		    gds_type                AS gdsType,
		    gds_period_quantity     AS gdsPeriodQuantity,
		    gds_unit                AS gdsUnit,
		    gds_reg_adm_cd          AS gdsRegAdmCd,
		    gds_reg_ymdt            AS gdsRegYmdt,
		    gds_mdfcn_adm_cd        AS gdsMdfcnAdmCd,
		    gds_mdfcn_ymdt          AS gdsMdfcnYmdt,
		    gds_status              AS gdsStatus,
		    gds_target_member_type  AS gdsTargetMemberType
		FROM
			goods
		WHERE
			gds_cd = #{gdsCd}
	</select>
	
</mapper>



