<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="outpolic.admin.member.mapper.AdminMemberMapper">
  	<resultMap type="outpolic.common.domain.Member" id="memberInfo">
		<id 	column="mbr_cd" 		property="memberCode" />
		<result column="mbr_nm" 		property="memberName" />
		<result column="mbr_id" 		property="memberId" />
		<result column="mbr_nicknm" 	property="memberNickname" />
		<result column="grd_cd" 		property="gradeCode" />
		<result column="mbr_telno" 		property="memberTelNo" />
		<result column="mbr_birth" 		property="memberBirth" />
		<result column="mbr_addr" 		property="memberAddress" />
		<result column="mbr_daddr" 		property="memberDAddress" />
		<result column="mbr_zip" 		property="memberZip" />
		<result column="mbr_eml" 		property="memberEmail" />
		<result column="mbr_join_ymdt" 	property="memberJoinYmdt" />
		<result column="stc_cd" 		property="statusCode" />
		<result column="mbr_agre_yn" 	property="memberAgreeYN" />
		<result column="mbr_last_lgn_ymdt" 	property="memberLastLoginYmdt" />
		<result column="withdrawal_expected_date" 	property="withdrawalExpectedDate" />
  	</resultMap>
  
  	<select id="getMemberList" resultMap="memberInfo">
  		SELECT 
			mbr_cd, 
			grd_cd, 
			mbr_id, 
			mbr_nm, 
			mbr_nicknm, 
			mbr_telno, 
			mbr_addr, 
			mbr_daddr, 
			mbr_zip, 
			mbr_eml, 
			mbr_birth,  
			mbr_join_ymdt, 
			stc_cd, 
			mbr_agre_yn
		FROM member
		order by CAST(SUBSTRING_INDEX(mbr_cd, 'MB_C', -1) AS UNSIGNED);
  	</select>
  	
	<select id="getMemberListByStatus" resultMap="memberInfo">
  		SELECT 
			*
		FROM member
		where stc_cd=#{statusCode}
		order by CAST(SUBSTRING_INDEX(mbr_cd, 'MB_C', -1) AS UNSIGNED);
  	</select>
  	
  	<select id="getWithdrawMemberList" resultMap="memberInfo">
  		SELECT 
			mbr_cd, 
			grd_cd, 
			mbr_id, 
			mbr_nm, 
			mbr_nicknm, 
			mbr_telno, 
			mbr_addr, 
			mbr_daddr, 
			mbr_zip, 
			mbr_eml, 
			mbr_birth,  
			mbr_join_ymdt, 
			stc_cd, 
			mbr_agre_yn,
			COALESCE(DATE_ADD(mbr_last_lgn_ymdt, INTERVAL 2 YEAR), NULL) as withdrawal_expected_date 
		FROM member
		where stc_cd='SD_WITHDRAWN'
		order by CAST(SUBSTRING_INDEX(mbr_cd, 'MB_C', -1) AS UNSIGNED);
  	</select>
  	<select id="selectMemberByCode" resultMap="memberInfo">
  		SELECT 
			*
		FROM member
		where mbr_cd=#{memberCode};
  	</select>
  	<update id="updateAdminMemberEditInfo" parameterType="outpolic.common.domain.Member">
  		UPDATE member
 		set
 			mbr_cd= #{memberCode},
			mbr_nicknm = #{memberNickname}, 
			mbr_mdfcn_ymdt = curdate(),
			stc_cd = #{statusCode},
			grd_cd = #{gradeCode}
		where
			mbr_cd= #{memberCode};
  	</update>
  	
  	<select id="countNicknameDuplicate" resultType="int">
  		SELECT COUNT(*) FROM member
		WHERE mbr_nicknm = #{nickname}
		AND mbr_cd != #{memberCode}; 
  	</select>
  	
	<select id="selectFilteredMembers" resultType="outpolic.common.domain.Member">
	    SELECT 
		    mbr_cd AS memberCode,
	        grd_cd AS gradeCode,
	        mbr_id AS memberId,
	        mbr_pw AS memberPw,
	        mbr_nm AS memberName,
	        mbr_nicknm AS memberNickname,
	        mbr_telno AS memberTelNo,
	        mbr_addr AS memberAddress,
	        mbr_daddr AS memberDAddress,
	        mbr_zip AS memberZip,
	        mbr_eml AS memberEmail,
	        mbr_birth AS memberBirth,
	        mbr_join_ymdt AS memberJoinYmdt,
	        mbr_mdfcn_ymdt AS memberMdfcnYmdt,
	        stc_cd AS statusCode,
	        mbr_agre_yn AS memberAgreeYN,
	        mbr_last_lgn_ymdt AS memberLastLoginYmdt
	    FROM member
	    WHERE 1=1
	    <if test="statusCode != null and statusCode != ''">
	        AND stc_cd = #{statusCode}
	    </if>
	    <if test="gradeCode != null and gradeCode != ''">
	        AND grd_cd = #{gradeCode}
	    </if>
	   <choose>
	        <when test="orderBy == 'recent'">
	            ORDER BY mbr_join_ymdt DESC
	        </when>
	        <when test="orderBy == 'oldest'">
	            ORDER BY mbr_join_ymdt ASC
	        </when>
	        <otherwise>
	            ORDER BY CAST(SUBSTRING_INDEX(mbr_cd, 'MB_C', -1) AS UNSIGNED)
	        </otherwise>
	    </choose>
	</select>
	
  	<select id="searchMembers" resultMap="memberInfo">
	    SELECT * FROM member
	    WHERE mbr_id LIKE CONCAT('%', #{keyword}, '%')
	       OR mbr_nm LIKE CONCAT('%', #{keyword}, '%')
	       OR mbr_nicknm LIKE CONCAT('%', #{keyword}, '%')
	       OR mbr_cd LIKE CONCAT('%', #{keyword}, '%')
	</select>
  	
  </mapper>