<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{enter/layout/enterLayoutMain}">
	<head>
		<meta name="description" content="한국스마트정보교육원 ksmybatis" />
		    <link rel="shortcut icon" type="image/x-icon" th:href="@{/enter/assets/imgs/theme/favicon.svg}" />
 
    <link href="/enter/assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />	</head>
	
	<!-- 추가할 js file -->
<!-- 	<th:block layout:fragment="jsFile">
		<script src="/assets/js/main.js"></script>
	</th:block> -->
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
		<th:block layout:fragment="contents">
		        <div class="main-container w-100">
            <h1 class="section-title">새 외주 프로젝트 신청</h1>
            
            <div class="card">
              		 <form id="outsourcingApplicationForm" action="/enter/requests/add" method="post">
    
				    <input type="hidden" name="entCd" th:value="${supplierCd}"> <div class="form-group">
				        <label for="ocdTtl">프로젝트 제목 <span class="required-star">*</span></label>
				        <input type="text" id="ocdTtl" name="ocdTtl" class="form-control" required>
				    </div>
				
				    <div class="form-group">
				        <label for="ocdExpln">제안 상세 설명 <span class="required-star">*</span></label>
				        <textarea id="ocdExpln" name="ocdExpln" class="form-control" rows="8" required></textarea>
				    </div>
				
				    <div class="flex-row">
				        <div class="form-group">
				            <label for="ocdDedline">희망 작업 기한</label>
				            <input type="date" id="ocdDedline" name="ocdDedline" class="form-control">
				        </div>
				        <div class="form-group">
				            <label for="ocdAmt">제안 금액 (세전 기준) <span class="required-star">*</span></label>
				            <div class="input-with-unit">
				                <input type="number" id="ocdAmt" name="ocdAmt" class="form-control" required>
				                <span>원</span>
				            </div>
				        </div>
				    </div>
				    
				    <div class="form-group">
				        <label for="application_reference_files">참고 자료 첨부</label>
				        <input type="file" id="application_reference_files" name="files" multiple>
				    </div>
				    
				    <button type="submit" class="btn-submit">
				        <i class="fas fa-check-circle mr-2"></i> 외주 프로젝트 신청하기
				    </button>
				</form>
            </div>
        </div>
        </th:block>

        </html>